@use '../../../../../../styles/index' as style;


.text-fragment-container {
    display: block;
    min-width: 200px;
    max-width: 450px;
    padding: 0px 0px 0px 30px;
    max-height: 250px;
    overflow-y: hidden;

    .text-fragment {
        margin: 0px auto;
        font-size: 10pt;
        text-align: start;
        cursor: text;
        font-size: 12px;
        word-break: keep-all;
        background-color: #000000;
        min-width: 200px;
        max-width: 450px;
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 20px;
        max-height: 200px;
        padding: 10px;
        white-space: pre-wrap;
        box-shadow: inset 0px 0px 4px 2px #FAAA0040, 0px 0px 4px 0px #FAAA0040;
    }

    .text-fragment::selection {
        background-color: transparent;
    }

}