@import "_variables";
@import "_mixins";

//where data is displayed
.data-container {
    @include border-radius(10px);
    @include margin-x-y($_0, $auto, $_0 , $auto );
    @include background-color(rgba(0, 0, 0, 0.7));
    overflow: scroll;
    white-space: none;
    transition: width .2s ease-in-out, height .2s ease-in-out;

    .data-container::-webkit-scrollbar {
        @include background-color(rgba(0, 0, 0, 0.7));
        @include border-radius($_10);
        @include width($_10);
    }

    .data-container::-webkit-scrollbar-track {
        @include background-color(#555);
        @include border-radius($_6);
    }

    .data-container::-webkit-scrollbar-thumb {
        @include background-color(#bbb);
        @include border-radius($_10);
    }

    .data-scroll-board {
        @include position(relative);
    }


}


@media screen and (min-width:320px) and (max-width:600.9px) {
    .data-container {
        @include height(550px);
        @include width(98%);
    }

    .data-container::-webkit-scrollbar {
        @include background-color(rgba(0, 0, 0, 0.7));
        @include border-radius($_10);
        @include width($_10);
    }

    .data-container::-webkit-scrollbar-track {
        @include background-color(#555);
        @include border-radius($_6);
    }

    .data-container::-webkit-scrollbar-thumb {
        @include background-color(#bbb);
        @include border-radius($_10);
    }
}

@media screen and (min-width:601px) {
    .data-container {
        @include height(500px);
        @include width(98%);
    }

    .data-container::-webkit-scrollbar {
        @include background-color(rgba(0, 0, 0, 0.7));
        @include border-radius($_10);
        @include width($_15);
        @include height($_15);
    }

    .data-container::-webkit-scrollbar-track {
        @include background-color(#555);
        @include border-radius($_6);
    }

    .data-container::-webkit-scrollbar-track-piece {
        // @include background-color(#FFBB00B3);
        @include border-radius($_6);
        @include background-color(#555);

    }

    .data-container::-webkit-scrollbar-thumb {
        @include background-color(#bbb);
        @include border-radius($_6);
    }
}