@import "_mixins";
@import "_variables";

.work-workspace-management-main-container {
    @include height(100%);
    @include url("https://res.cloudinary.com/djjvj73xa/image/upload/v1744216363/turqoise-triags_xmiedg.png");
    @include background-color(#000000);
    @include margin-x-y($_0, $auto, $_0 , $auto );
    z-index: 1;
    overflow-y: auto;

    .work-workspace-management-container-wrapper {
        @include margin-x-y($_40, $auto, $_0 , $auto );
        @include Angular-Gradient();
        @include position(relative);

        .work-workspace-management-container {
            @include display-align(flex);
            @include flex-align(wrap);
            @include align-content(flex-start);
            @include align-text(center);
            @include border-radius(6px);
            @include margin-x-y($_0, $auto, $_0 , $auto );
            @include min-height(820px);
        }
    }
}

@media screen and (min-width:320px) {
    .work-workspace-management-main-container {
        .work-workspace-management-container-wrapper {
            @include width(98%);

            .work-workspace-management-container {
                @include min-height(520px);
                @include width(98%);
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:600.9px) {
    .work-workspace-management-main-container {
        .work-workspace-management-container {
            @include display-align(block);
        }
    }
}

@media screen and (min-width:1440px) {
    .work-workspace-management-main-container {
        .work-workspace-management-container-wrapper {
            @include max-width(2500px);
            @include max-height(2500px);

            .work-workspace-management-container {
                @include max-width(2500px);
                @include max-height(2500px);
            }
        }
    }
}