@use '@/app/styles/index' as style;

.primary-workspace-controls-and-workspace-details {
    @include style.display-align(flex);
    @include style.flex-align(wrap);
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$space-0 );

    .primary-workspace-controls {
        @include style.display-align(flex);
        @include style.flex-align(wrap);
        @include style.justify-content(flex-start);
        @include style.align-content(center);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$space-0 );
        @include style.width(120px);
        transition: width .2s ease-in-out, height .2s ease-in-out;

        .refresh-workspace-btn-wrapper {
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.justify-content(center);
            @include style.align-content(center);
            @include style.height(30px);
            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );

            .refresh-workspace-btn {
                @include style.display-align(flex);
                @include style.flex-align(wrap);
                @include style.justify-content(center);
                @include style.align-content(center);
                @include style.text-color(#FABB00DD);
                letter-spacing: style.$space-1;
                @include style.background-color(#1C1C1C);
                @include style.border-radius(style.$space-4);
                @include style.border(style.$space-2, solid, #555555);
                @include style.padding-x-y(style.$space-4, style.$space-20, style.$space-4 , style.$space-20 );
                @include style.margin-x-y(style.$space-5, style.$space-4, style.$space-5 , style.$space-0 );
                @include style.text-style(underline);
                @include style.width(100px);
                cursor: pointer;
            }
        }

        .save-workspace-btn-wrapper {
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.justify-content(center);
            @include style.align-content(center);
            @include style.height(30px);
            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );

            .save-workspace-btn {
                @include style.display-align(flex);
                @include style.flex-align(wrap);
                @include style.justify-content(center);
                @include style.align-content(center);
                @include style.text-color(#00FAA0DD);
                letter-spacing: style.$space-1;
                @include style.background-color(#1C1C1C);
                @include style.border-radius(style.$space-4);
                @include style.border(style.$space-2, solid, #555555);
                @include style.padding-x-y(style.$space-4, style.$space-20, style.$space-4 , style.$space-20 );
                @include style.margin-x-y(style.$space-5, style.$space-4, style.$space-5 , style.$space-0 );
                @include style.text-style(underline);
                @include style.width(100px);
                cursor: pointer;
            }

        }
    }

    .workspace-details {
        @include style.display-align(flex);
        @include style.flex-align(wrap);
        @include style.justify-content(flex-end);
        @include style.align-content(center);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );


        .workspace-id-wrapper,
        .workspace-name-wrapper {
            @include style.display-align(flex);
            @include style.justify-items(center);
            @include style.align-items(center);
            @include style.height(30px);
            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
            @include style.background-color(#000000);

            .workspace-name {
                @include style.text-color(#fff);
                @include style.background-color(#000000DD);
                @include style.border-radius(style.$space-4);
                @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
                @include style.padding-x-y(style.$space-4, style.$space-20, style.$space-4 , style.$space-4 );
            }

            .clipboard-icon {
                @include style.display-align(flex);
                @include style.background-color(#000000DD);
                @include style.flex-align(wrap);
                @include style.justify-content(center);
                @include style.align-items(center);
                @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
                @include style.padding-x-y(style.$space-4, style.$space-0, style.$space-4 , style.$space-0 );
                @include style.width(20px);
                @include style.height(20px);
                cursor: pointer;
            }

            .workspace-id {
                @include style.text-color(#fff);
                @include style.background-color(#000000DD);
                @include style.border-radius(style.$space-4);
                @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
                @include style.padding-x-y(style.$space-4, style.$space-20, style.$space-4 , style.$space-4 );
            }

            .eye-icon {
                @include style.display-align(flex);
                @include style.background-color(#000000DD);
                @include style.flex-align(wrap);
                @include style.justify-content(center);
                @include style.align-items(center);
                @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
                @include style.padding-x-y(style.$space-4, style.$space-4, style.$space-4 , style.$space-0 );
                @include style.width(20px);
                @include style.height(20px);
                cursor: pointer;
            }

            .clipboard-icon {
                @include style.display-align(flex);
                @include style.background-color(#000000DD);
                @include style.flex-align(wrap);
                @include style.justify-content(center);
                @include style.align-items(center);
                @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
                @include style.padding-x-y(style.$space-4, style.$space-0, style.$space-4 , style.$space-0 );
                @include style.width(20px);
                @include style.height(20px);
                cursor: pointer;
            }
        }

    }
}

@media screen and (min-width:320px) and (max-width: 600.9px) {
    .primary-workspace-controls-and-workspace-details {
        @include style.width(300px);
        @include style.height(200px);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0,
            style.$auto);

        .primary-workspace-controls {
            @include style.width(300px);
            @include style.justify-content(center);

            .refresh-workspace-btn-wrapper {
                @include style.display-align(block);
                @include style.margin-x-y(style.$space-5, style.$auto, style.$space-5,
                    style.$auto);

                .refresh-workspace-btn {
                    @include style.width(280px);
                    @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
                }

                .save-workspace-btn-wrapper {
                    @include style.width(280px);
                    @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5 , style.$space-0 );
                }
            }
        }

        .workspace-details {
            @include style.width(300px);
            @include style.justify-content(center);

            .workspace-id-wrapper,
            .workspace-name-wrapper {

                .workspace-name,
                .workspace-id {
                    @include style.padding-x-y(style.$space-4, style.$space-0, style.$space-4 , style.$space-4 );
                    @include style.width(230px);

                }
            }
        }
    }
}

@media screen and (min-width:601px) {
    .primary-workspace-controls-and-workspace-details {
        @include style.width(500px);
        @include style.height(150px);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0,
            style.$auto);

        .primary-workspace-controls {
            @include style.width(120px);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0,
                style.$auto);

            .refresh-workspace-btn-wrapper,
            .save-workspace-btn-wrapper {
                @include style.width(120px);

                .refresh-workspace-btn {
                    @include style.width(100px);
                }

                .save-workspace-btn {
                    @include style.width(100px);
                }
            }
        }

        .workspace-details {
            @include style.width(300px);
            @include style.justify-content(center);

            .workspace-id-wrapper,
            .workspace-name-wrapper {

                .workspace-name,
                .workspace-id {
                    @include style.padding-x-y(style.$space-4, style.$space-0, style.$space-4 , style.$space-4 );
                    @include style.width(230px);

                }
            }
        }
    }
}