@use '@/app/styles/index' as style;

.auth-header {
    @include style.width(100%);
    @include style.background-color(#000000ee);
    @include style.height(style.$space-60);
    @include style.position(relative);
    border-bottom: style.$space-2 solid #333333;

    .auth-route {
        @include style.display-align(flex);
        @include style.position(absolute);
        @include style.top(style.$space-0);
        @include style.bottom(style.$space-0);
        @include style.align-items(center);
        @include style.left(style.$space-20);


        .auth-go-back-route {
            @include style.position(relative);
            @include style.height(20px);
            @include style.display-align(flex);
            @include style.align-items(center);
            @include style.text-color(#fff);
            text-decoration: none;

            .auth-route-icon {
                @include style.display-align(flex);
                @include style.align-items(center);
                @include style.position(relative);
                @include style.padding-x-y(style.$space-0, style.$space-0, style.$space-0 , style.$space-10 );


                .backward-icon {
                    @include style.display-align(block);
                }
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .auth-header {
        .auth-route {

            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:769px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}