@use '@/app/styles/index' as style;

@mixin display-align($Type) {
    display: $Type;
}

@mixin justify-items($Type) {
    justify-items: $Type;
}

@mixin justify-content($Type) {
    justify-content: $Type;
}

@mixin align-content($Type) {
    align-content: $Type;
}

@mixin align-items($Type) {
    align-items: $Type;
}

@mixin flex-align($Type) {
    flex-wrap: $Type;
}

@mixin margin-x-y($x1, $y1, $x2, $y2) {
    margin: $x1 $y1 $x2 $y2;
}

@mixin padding-x-y($x1, $y1, $x2, $y2) {
    padding: $x1 $y1 $x2 $y2;
}

@mixin align-text($Type) {
    text-align: $Type;
}

@mixin text-color($color) {
    color: $color;
}

@mixin background($Type) {
    background: $Type;
}

@mixin background-color($color) {
    background-color: $color;
}

@mixin width($width) {
    width: $width;
}

@mixin height($height) {
    height: $height;
}

@mixin min-height($min-height) {
    min-height: $min-height;
}

@mixin max-height($max-height) {
    max-height: $max-height;
}

@mixin font-size($size) {
    font-size: $size;
}

@mixin border($thickness, $type, $color) {
    border: $thickness $type $color;
}

@mixin border-radius($thickness) {
    border-radius: $thickness;
}

@mixin position($position) {
    position: $position;
}

@mixin top($position) {
    top: $position;
}

@mixin bottom($position) {
    bottom: $position;
}

@mixin left($position) {
    left: $position;
}

@mixin right($position) {
    right: $position;
}

@mixin url($url){
background: url($url);
}

.auth-header {
    @include width(100%);
    @include background-color(#000000ee);
    @include height(style.$space-60);
    @include position(relative);
    border-bottom: style.$space-2 solid #333333;

    .auth-route {
        @include display-align(flex);
        @include position(absolute);
        @include top(style.$space-0);
        @include bottom(style.$space-0);
        @include align-items(center);
        @include left(style.$space-20);


        .auth-go-back-route {
            @include position(relative);
            @include height(20px);
            @include display-align(flex);
            @include align-items(center);
            @include text-color(#fff);
            text-decoration: none;

            .auth-route-icon {
                @include display-align(flex);
                @include align-items(center);
                @include position(relative);
                @include padding-x-y(style.$space-0, style.$space-0, style.$space-0 , style.$space-10 );


                .backward-icon {
                    @include display-align(block);
                }
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include font-size(20px);

                .auth-route-icon {
                    @include height(20px);
                    @include width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include font-size(20px);

                .auth-route-icon {
                    @include height(20px);
                    @include width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .auth-header {
        .auth-route {

            .auth-go-back-route {
                @include font-size(20px);

                .auth-route-icon {
                    @include height(20px);
                    @include width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:769px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include font-size(20px);

                .auth-route-icon {
                    @include height(20px);
                    @include width(20px);
                }
            }
        }
    }
}