@use '@/app/styles/index' as style;

.help-container {
    @include style.display-align(block);
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
    @include style.height(70px);

    .help-btn-wrapper {
        @include style.width(60px);
        @include style.height(30px);
        @include style.display-align(block);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );

        .help-mark {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.height(30px);
            @include style.width(30px);
            cursor: pointer;
        }
    }

    .help-text-wrapper {
        @include style.display-align(block);
        @include style.margin-x-y(style.$space-10, style.$auto, style.$space-0 , style.$auto );
        @include style.height(20px);

        .help-text {
            @include style.display-align(block);
            @include style.align-text(center);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
        }
    }
}