@use '@/app/styles/index' as style;

.workspace-size-controls {
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
    @include style.display-align(flex);
    @include style.flex-align(wrap);
    @include style.justify-content(center);

    .height-container,
    .width-container {
        @include style.margin-x-y(style.$space-0, style.$space-5, style.$space-0 , style.$space-5 );

        .immutable-height,
        .immutable-width,
        .mutable-height,
        .mutable-width {
            @include style.display-align(block);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.background-color(#000000B3);
            @include style.border-top(style.$space-2, solid, #000000B3);
            @include style.border-bottom(style.$space-2, solid, #FABB00DD);
            @include style.border-left(style.$space-2, solid, #000000B3);
            @include style.border-right(style.$space-2, solid, #000000B3);
            @include style.text-color(#fff);
            @include style.height(14px);
        }

        .mutable-height:focus,
        .mutable-width:focus {
            cursor: text;
            @include style.background-color(#000000B3);
            outline: style.$space-2 solid #000000B3;
            @include style.text-color(#fff);

        }

        .immutable-height:hover,
        .immutable-width:hover {
            cursor: not-allowed;
        }
    }

    .toggle-visual-ops-wrapper {
        @include style.display-align(flex);
        @include style.justify-content(center);
        @include style.align-items(center);
        @include style.margin-x-y(style.$space-0, style.$space-5, style.$space-0 , style.$space-5 );

        .toggle-visual-ops {
            @include style.display-align(block);
            @include style.background-color(#1C1C1C);
            @include style.border-radius(4px);
            box-shadow: inset 0px 0px 0px 2px #333;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: none;
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.padding-x-y(style.$space-4, style.$space-0, style.$space-4, style.$space-0 );
            @include style.text-color(#fff);
            @include style.font-size(12px);
            cursor: pointer;
        }
    }

    .update-spacing-btn-wrapper {
        @include style.display-align(flex);
        @include style.justify-content(center);
        @include style.align-items(center);
        @include style.margin-x-y(style.$space-0, style.$space-5, style.$space-0 , style.$space-5 );

        .update-spacing-btn {
            @include style.display-align(block);
            @include style.background-color(#1C1C1C);
            @include style.border-radius(4px);
            box-shadow: inset 0px 0px 0px 2px #333;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: none;
            @include style.border(style.$space-2, solid, none);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.padding-x-y(style.$space-4, style.$space-0, style.$space-4, style.$space-0 );
            @include style.text-color(#fff);
            @include style.width(128px);
            @include style.font-size(12px);
            cursor: pointer;
        }
    }

    .workspace-controls-text {
        @include style.display-align(block);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
    }
}

@media screen and (min-width:320px)and (max-width:600.9px) {
    .workspace-size-controls {
        @include style.min-width(250px);
        @include style.height(80px);

        .height-container,
        .width-container {

            .immutable-height,
            .immutable-width,
            .mutable-height,
            .mutable-width {
                @include style.width(120px);
            }
        }

        .toggle-visual-ops-wrapper,
        .update-spacing-btn-wrapper {
            @include style.height(20px);

            .toggle-visual-ops,
            .update-spacing-btn {
                @include style.width(128px);
            }
        }
    }
}

@media screen and (min-width:601px) {
    .workspace-size-controls {
        @include style.width(300px);
        @include style.height(80px);

        .height-container,
        .width-container {

            .immutable-height,
            .immutable-width,
            .mutable-height,
            .mutable-width {
                @include style.width(120px);
            }
        }

        .toggle-visual-ops-wrapper,
        .update-spacing-btn-wrapper {
            @include style.height(20px);

            .toggle-visual-ops,
            .update-spacing-btn {
                @include style.width(128px);
            }
        }
    }
}