@use '@/app/styles/index' as style;

.zoom-controls-container {
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
    @include style.width(120px);
    @include style.height(70px);
    @include style.display-align(block);

    .zoom-controls {
        @include style.height(30px);
        @include style.display-align(flex);
        @include style.flex-align(wrap);
        @include style.position(relative);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );

        .zoom-in-wrapper {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.width(50px);

            .btn-zoom-in {
                @include style.height(30px);
                @include style.width(30px);
                cursor: pointer;
            }
        }

        .zoom-out-wrapper {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.width(50px);

            .btn-zoom-out {
                @include style.height(30px);
                @include style.width(30px);
                cursor: pointer;
            }
        }

    }

    .zoom-controls-text-wrapper {
        @include style.display-align(block);
        @include style.margin-x-y(style.$space-10, style.$auto, style.$space-0 , style.$auto );
        @include style.height(20px);

        .zoom-controls-text {
            @include style.display-align(block);
            @include style.align-text(center);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
        }
    }
}