.data-text-component {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset 0px 0px 4px 2px #FAAA0040, 0px 0px 4px 0px #FAAA0040;
    margin: 0px auto 0px auto;
    background-color: #000000;
    border: 2px solid #FAAA0040;
    height: 120px;
    transition: height .2s ease-in-out, width .2s ease-in-out;
    cursor: move;
    position: relative;

    .text-input-form {

        .text-label-wrapper {
            margin: 10px 0px 4px 0px;

            .list-label,
            .text-label {
                text-align: left;
                display: block;
                margin: 0px 0px 0px 4px;
                font-size: 12px;
                width: 120px;
                cursor: move;
            }
        }

        .text-container {
            display: flex;
            align-items: flex-start;
            position: relative;

            .text-input-wrapper {
                display: flex;
                position: relative;

                .enabled-list-input-field,
                .enabled-text-input-field {
                    display: flex;
                    justify-content: left;
                    border-top: 2px solid #FAAA0040;
                    border-left: 2px solid #FAAA0040;
                    border-bottom: 2px solid #FAAA0040;
                    border-right: 2px solid #FAAA0040;
                    color: #ffffff;
                    background-color: #000000;
                    transition: height .2s ease-in-out;
                    resize: none;
                    cursor: text;
                    font-size: 12px;
                    outline: 2px solid #000000;
                    margin: 0px;
                    margin-right: auto;
                    height: 60px;
                }

                .enabled-list-input-field::selection,
                .enabled-text-input-field::selection {
                    background-color: #FBAA0050;
                }

                .enabled-list-input-field::placeholder,
                .enabled-text-input-field::placeholder {
                    color: #fff;
                }

                .enabled-list-input-field:focus,
                .enabled-text-input-field:focus {
                    height: 200px;
                    background-color: #000000;
                }

                .text-btn-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100px;
                    height: 24px;
                    z-index: 14;
                    font-size: 14px;

                    .text-submit-btn-container {
                        display: flex;
                        justify-content: right;
                        margin: 5px auto 5px auto;

                        .text-btn-submit {
                            cursor: pointer;
                            height: 20px;
                            width: 80px;
                            outline: none;
                            background-color: #111111;
                            color: #FBAA00;
                            border: 1px solid #555555;
                        }
                    }

                    .text-selection-wrapper {
                        margin: 5px auto 5px 0px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: start;
                        align-items: center;

                        .select-text-type {
                            width: 80px;
                            outline: none;
                            background-color: #111111;
                            color: #FBAA00;
                            border: 1px solid #555555;
                        }

                        .radio-group {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            width: 80px;

                            .text-type-option-one {
                                height: 20px;
                            }

                            .text-type-label {
                                height: 20px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:600.9px) {

    .data-text-component {
        width: 300px;

        .enabled-list-input-field,
        .enabled-text-input-field {
            width: 180px;
        }
    }
}

@media screen and (min-width:601px) {
    .data-text-component {
        width: 380px;

        .enabled-list-input-field,
        .enabled-text-input-field {
            width: 250px;
        }
    }
}