@use '../styles/index' as style;

@mixin linearGradient($color1, $color2, $color3,
    $color4, $color5,
    $color6, $color7) {

    background: conic-gradient(from -119deg at center center, $color1,
            $color2,
            $color3,
            $color4, $color5,
            $color6, $color7);
}

@mixin DataComponent {
    @include style.display-align(flex);
    @include style.justify-content(center);
    @include style.align-items(flex-start);
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
    @include style.background-color(#111);
    @include style.border-bottom(style.$space-2, solid, #00FBA0B3);
    @include style.width(350px);
    @include style.height(120px);
    transition: height .2s ease-in-out, width .2s ease-in-out;
}


@mixin Angular-Gradient() {
    @include style.linearGradient(style.$Gold 0.2deg, style.$darkAsdhBlack 55.6deg, style.$darkAsdhBlack 116.8deg, style.$Gold 169.2deg, style.$darkAsdhBlack 257.8deg,
        style.$darkAsdhBlack 313.6deg,
        style.$Gold 345.6deg);
}

.data-audio-component {
    @include DataComponent();

    .audio-input-form {
        @include style.width(340px);

        .audio-label-wrapper {
            @include style.margin-x-y(style.$space-10, style.$space-0 , style.$space-0 , style.$space-0 );

            .audio-label,
            .audios-label {
                @include style.display-align(block);
                @include style.margin-x-y(style.$space-0, style.$space-0 , style.$space-0 , style.$space-0 );
                @include style.width(184px);
            }
        }

        .audio-container {
            @include style.display-align(flex);
            @include style.align-items(center);
            @include style.position(relative);

            .audio-input-wrapper {
                @include style.display-align(flex);
                @include style.align-items(center);
                @include style.position(relative);

                .enabled-audio-input-field,
                .enabled-audios-input-field {
                    @include style.display-align(flex);
                    @include style.justify-content(left);
                    @include style.border-top(style.$space-2, solid, #111);
                    @include style.border-left(style.$space-2, solid, #00FBA0B3);
                    @include style.border-bottom(style.$space-2, solid, #00FBA0B3);
                    @include style.text-color(#fff);
                    @include style.border-right(style.$space-2, solid, #111);
                    @include style.background-color(#111);
                    // @include style.border-bottom(style.$space-2, solid, #00FBA0B3);
                    @include style.width(250px);
                    @include style.height(20px);
                    transition: height .2s ease-in-out;
                    resize: none;
                    outline: style.$space-2 solid #111;
                    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$space-2 );
                    // z-index: 5;
                }

                .audio-btn-container {
                    @include style.display-align(flex);
                    @include style.flex-align(wrap);
                    @include style.align-items(center);
                    @include style.justify-content(center);
                    @include style.width(80px);
                    @include style.height(80px);

                    .audio-submit-btn-container {
                        @include style.display-align(flex);
                        @include style.justify-content(right);
                        @include style.margin-x-y(style.$space-5, style.$auto, style.$space-5, style.$auto);

                        .audio-btn-submit {
                            @include style.height(20px);
                            @include style.width(70px);
                            outline: none;
                            @include style.background-color(#111);
                            @include style.text-color(#FBAA00);
                            @include style.border-top(style.$space-1, solid, #555);
                            @include style.border-bottom(style.$space-1, solid, #555);
                            @include style.border-left(style.$space-1, solid, #555);
                            @include style.border-right(style.$space-1, solid, #555);
                        }
                    }

                    .audio-selection-wrapper {
                        @include style.margin-x-y(style.$space-5, style.$auto, style.$space-5, style.$auto);

                        .select-audio-type {
                            @include style.width(70px);
                            outline: none;
                            @include style.background-color(#111);
                            @include style.text-color(#FBAA00);
                            @include style.border-top(style.$space-1, solid, #555);
                            @include style.border-bottom(style.$space-1, solid, #555);
                            @include style.border-left(style.$space-1, solid, #555);
                            @include style.border-right(style.$space-1, solid, #555);

                        }
                    }
                }
            }
        }
    }
}