@use '../styles/index' as style;

.workspace-sheet-wrapper {
    display: block;
    background-color: #000000;
    border-radius: 4px;

    box-shadow: 0px 0px 10px 0px #FABB00B2,
        inset 0px 0px 8px 0px #FABB00B2;

    margin: 20px auto 20px auto;
    padding: 2px 0px 2px 0px;

    transition: width .2s ease-in-out, height .2s ease-in-out;
    min-height: 160px;
    height: auto;

    .workspace-sheet {
        margin: 0px auto 0px auto;
        transition: width .2s ease-in-out, height .2s ease-in-out;

        .workspace-sheet-forefront-data {
            margin: 0px auto 0px auto;
            display: block;
            position: relative;
            // justify-content: center;
            // flex-wrap: wrap;
            // align-content: flex-start;
            // justify-content: left;
            color: #fff;

            button {
                margin: 0px 0px 0px auto;
                float: right;

                .dynamic-workspace-route {
                    display: block;
                    float: right;
                    // display: flex;
                    // justify-items: center;
                    // align-items: center;
                    transform: rotate(136deg);

                    .forward-to-workspace-icon {
                        margin: 0px auto 0px auto;

                        // margin: 0px;
                        // display: flex;
                        // justify-content: left;
                        // align-content: center;
                    }
                }
            }

            .new-temp-update-description-field-workspace-name,
            .workspace-name {
                height: 20px;
                display: block;
                // flex-wrap: wrap;
                // justify-content: left;
                // align-content: flex-start;

                transition: border .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out;

                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                border-bottom: 2px solid #FABB00DD;

                margin: 20px 0px 4px 0px;
                outline: 2px solid #000000;
                font-size: 12px;
                background-color: #000000;
                color: #fff;
                cursor: pointer;
            }

            .new-temp-update-description-field-workspace-name::placeholder,
            .workspace-name::placeholder {
                color: #fff;
                font-size: 12px;
            }

            .new-temp-update-description-field-workspace-name:focus,
            .workspace-name:focus {
                border-top: 2px solid #000000;
                border-left: 2px solid #000000;
                border-right: 2px solid #FABB00DD;
                border-bottom: 2px solid #FABB00DD;

                margin: 0px 0px 4px 0px;
                outline: 2px solid #000000;
                font-size: 12px;
                background-color: #000000;
                color: #fff;
                cursor: pointer;
            }

            .new-temp-update-description-field-workspace-description,
            .workspace-description {
                height: 60px;
                max-height: 100px;

                // display: flex;
                // flex-wrap: wrap;
                // align-items: flex-start;
                // justify-items: left;

                transition: border .2s ease-in-out, height .2s ease-in-out;

                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                border-bottom: 2px solid #FABB00DD;

                margin: 0px 0px 4px 0px;
                outline: 2px solid #000000;
                font-size: 12px;
                background-color: #000000;
                color: #fff;

                resize: none;
                cursor: pointer;
            }

            .new-temp-update-description-field-workspace-description::placeholder,
            .workspace-description::placeholder {
                color: #fff;
                font-size: 12px;
            }

            .new-temp-update-description-field-workspace-description:focus,
            .workspace-description:focus {
                border-top: 2px solid #000000;
                border-left: 2px solid #000000;
                border-right: 2px solid #FABB00DD;
                border-bottom: 2px solid #FABB00DD;

                margin: 0px 0px 4px 0px;
                outline: 2px solid #000000;
                font-size: 12px;
                background-color: #000000;
                color: #fff;
                cursor: pointer;
            }
        }

        .workspace-buttons-container {
            display: flex;
            align-content: center;
            justify-content: center;

            .workspace-toggle-edit-btns {
                margin: 0px auto 0px auto;

                .edit-mode,
                .view-mode {
                    margin: 2px auto 2px auto;
                    color: #FABB00;
                    text-align: center;
                    background-color: #000000;

                    border: 2px solid #000000;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .update-workspace-sheet {
                margin: 2px auto 2px auto;
                color: #FABB00;
                text-align: center;
                background-color: #000000;

                border: 2px solid #000000;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .workspace-sheet-temp-field {
        margin: 20px auto 20px auto;
        transition: width .2s ease-in-out, height .2s ease-in-out;

        .workspace-name,
        .workspace-description {
            width: 250px;
            border-top: 2px solid #000000;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000;
            border-bottom: 2px solid #FABB00DD;
            resize: none;
            margin: 20px auto 4px 10px;
            outline: 2px solid #000000;
            font-size: 12px;
            background-color: #000000;
            color: #fff;
            cursor: pointer;
            transition: border .2s ease-in-out;
        }

        .workspace-name:focus,
        .workspace-description:focus {
            outline: 2px solid #000000;
            border-right: 2px solid #FABB00DD;
        }

        .workspace-sheet-forefront-data {
            margin: 0px auto 0px auto;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: left;
            color: #fff;


            .create-workspace-sheet {
                margin: 10px auto 10px auto;
                color: #FABB00;
                text-align: center;
                background-color: #000000;

                border: 2px solid #000000;

                text-transform: uppercase;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}


@media screen and (min-width:320px) and (max-width:425.9px) {
    .workspace-sheet-wrapper {
        width: 260px;

        .workspace-sheet {
            width: 240px;

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    width: 40px;

                    .forward-to-workspace-icon {
                        width: 20px;
                        height: 30px;
                    }
                }
            }

            .workspace-name {
                width: 17214px4px;
            }

            .workspace-name:focus {
                width: 214px;
            }

            .workspace-description {
                width: 214px;
            }

            .workspace-description:focus {
                width: 214px;
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .workspace-sheet-wrapper {
        width: 370px;

        .workspace-sheet {
            width: 360px;

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    width: 40px;

                    .forward-to-workspace-icon {
                        width: 20px;
                        height: 30px;
                    }
                }
            }

            .workspace-name {
                width: 290px;
            }

            .workspace-name:focus {
                width: 290px;
            }

            .workspace-description {
                width: 290px;
            }

            .workspace-description:focus {
                width: 290px;
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .workspace-sheet-wrapper {
        width: 400px;

        .workspace-sheet {
            width: 360px;

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    width: 40px;

                    .forward-to-workspace-icon {
                        width: 20px;
                        height: 30px;
                    }
                }
            }

            .new-temp-update-description-field-workspace-name,
            .workspace-name {
                width: 290px;
            }

            .new-temp-update-description-field-workspace-name:focus,
            .workspace-name:focus {
                width: 290px;
            }

            .new-temp-update-description-field-workspace-description,
            .workspace-description {
                width: 290px;
            }

            .new-temp-update-description-field-workspace-description:focus,
            .workspace-description:focus {
                width: 290px;
            }
        }
    }
}

@media screen and (min-width:769px) {
    .workspace-sheet-wrapper {
        width: 300px;
        margin: 20px auto 20px auto;

        .workspace-sheet {
            width: 280px;
            margin: 20px auto 20px auto;

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    width: 32px;

                    .forward-to-workspace-icon {
                        height: 20px;
                    }
                }
            }

            .new-temp-update-description-field-workspace-name,
            .workspace-name {
                width: 250px;
            }

            .new-temp-update-description-field-workspace-name:focus,
            .workspace-name:focus {
                width: 250px;
            }

            .new-temp-update-description-field-workspace-description,
            .workspace-description {
                width: 250px;
            }

            .new-temp-update-description-field-workspace-description:focus,
            .workspace-description:focus {
                width: 250px;
            }

            .workspace-buttons-container {
                width: 250px;

                .workspace-toggle-edit-btns {

                    .edit-mode,
                    .view-mode {
                        width: 100px;
                    }
                }
            }
        }
    }
}