@use '../styles/index' as style;

.account-dashboard {
    @include style.background-color(#222);
    @include style.height(100%);
    @include style.display-align(block);
    @include style.position(relative);

    .account-dashboard-content {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);

        .heading-one {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
            @include style.padding-x-y(style.$space-50, style.$space-0 , style.$space-50, style.$space-0 );
            @include style.align-text(center);
            @include style.text-color(#fff);
        }

        .dashboard-link-component {
            @include style.margin-x-y(style.$space-10, style.$auto, style.$space-10, style.$auto);
            @include style.padding-x-y(style.$space-5, style.$space-5 , style.$space-5, style.$space-5 );
            @include style.align-text(center);
            @include style.text-color(#fff);
            @include style.border-radius(style.$space-10);
            @include style.border(style.$space-2, solid, #333);


            .auth-link-component-built-in-app {
                @include style.border-radius(style.$space-6);
                @include style.background-color(#444);
                @include style.display-align(block);
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10, style.$space-0 );
                @include style.align-text(center);
                @include style.text-color(#fff);

            }
        }
    }

    .dashboard-footer {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
        @include style.display-align(block);
        @include style.position(absolute);
        @include style.bottom(style.$space-0);
        @include style.right(style.$space-0);
        @include style.left(style.$space-0);
        @include style.background-color(#222);

        .project-creator {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);

            .creator {
                @include style.align-text(center);
                @include style.text-color(#fff);
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .account-dashboard {
        .account-dashboard-content {
            @include style.width(300px);

            .heading-one {
                @include style.width(200px);

            }

            .dashboard-link-component {
                @include style.width(200px);
            }
        }

        .dashboard-footer {
            @include style.width(300px);

            .project-creator {
                @include style.width(250px);
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .account-dashboard {
        .account-dashboard-content {
            @include style.width(400px);

            .heading-one {
                @include style.width(300px);
            }

            .dashboard-link-component {
                @include style.width(300px);
            }
        }

        .dashboard-footer {
            @include style.width(400px);

            .project-creator {
                @include style.width(300px);
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .account-dashboard {
        .account-dashboard-content {
            @include style.width(500px);

            .heading-one {
                @include style.width(400px);
            }

            .dashboard-link-component {
                @include style.width(400px);
            }
        }

        .dashboard-footer {
            @include style.width(500px);

            .project-creator {
                @include style.width(400px);
            }
        }
    }
}

@media screen and (min-width:769px) {
    .account-dashboard {
        .account-dashboard-content {
            @include style.width(500px);

            .heading-one {
                @include style.width(400px);
            }

            .dashboard-link-component {
                @include style.width(400px);
            }
        }

        .dashboard-footer {
            @include style.width(500px);

            .project-creator {
                @include style.width(400px);
            }
        }
    }
}