.account-dashboard {
  background-color: #222;
  height: 100%;
  display: block;
  position: relative;
}
.account-dashboard .account-dashboard-content {
  margin: 0px auto 0px auto;
}
.account-dashboard .account-dashboard-content .heading-one {
  margin: 0px auto 0px auto;
  padding: 50px 0px 50px 0px;
  text-align: center;
  color: #fff;
}
.account-dashboard .account-dashboard-content .dashboard-link-component {
  margin: 10px auto 10px auto;
  padding: 5px 5px 5px 5px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #333;
}
.account-dashboard .account-dashboard-content .dashboard-link-component .auth-link-component-built-in-app {
  border-radius: 6px;
  background-color: #444;
  display: block;
  margin: 0px auto 0px auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  color: #fff;
}
.account-dashboard .dashboard-footer {
  margin: 0px auto 0px auto;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #222;
}
.account-dashboard .dashboard-footer .project-creator {
  margin: 0px auto 0px auto;
}
.account-dashboard .dashboard-footer .project-creator .creator {
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 425.9px) {
  .account-dashboard .account-dashboard-content {
    width: 300px;
  }
  .account-dashboard .account-dashboard-content .heading-one {
    width: 200px;
  }
  .account-dashboard .account-dashboard-content .dashboard-link-component {
    width: 200px;
  }
  .account-dashboard .dashboard-footer {
    width: 300px;
  }
  .account-dashboard .dashboard-footer .project-creator {
    width: 250px;
  }
}
@media screen and (min-width: 426px) and (max-width: 600.9px) {
  .account-dashboard .account-dashboard-content {
    width: 400px;
  }
  .account-dashboard .account-dashboard-content .heading-one {
    width: 300px;
  }
  .account-dashboard .account-dashboard-content .dashboard-link-component {
    width: 300px;
  }
  .account-dashboard .dashboard-footer {
    width: 400px;
  }
  .account-dashboard .dashboard-footer .project-creator {
    width: 300px;
  }
}
@media screen and (min-width: 601px) and (max-width: 768.9px) {
  .account-dashboard .account-dashboard-content {
    width: 500px;
  }
  .account-dashboard .account-dashboard-content .heading-one {
    width: 400px;
  }
  .account-dashboard .account-dashboard-content .dashboard-link-component {
    width: 400px;
  }
  .account-dashboard .dashboard-footer {
    width: 500px;
  }
  .account-dashboard .dashboard-footer .project-creator {
    width: 400px;
  }
}
@media screen and (min-width: 769px) {
  .account-dashboard .account-dashboard-content {
    width: 500px;
  }
  .account-dashboard .account-dashboard-content .heading-one {
    width: 400px;
  }
  .account-dashboard .account-dashboard-content .dashboard-link-component {
    width: 400px;
  }
  .account-dashboard .dashboard-footer {
    width: 500px;
  }
  .account-dashboard .dashboard-footer .project-creator {
    width: 400px;
  }
}/*# sourceMappingURL=dashboard.css.map */