@use '../styles/index' as style;

.controls {
    border-top: 2px solid #ffffffdd;
    // position: absolute; // original commented out
    // bottom: 0px;
    // left: 0px;
    // right: 0px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .button-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        margin: 20px auto 20px auto;

        .create-new-workspace-sheet-button {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            text-align: center;
            color: #fff;
            background-color: #1c1c1c;
            border-top: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
            border-radius: 4px;
            height: 28px;
            cursor: pointer;
            width: 30px;
            font-size: 17pt;
        }
    }
}