@use '../styles/index' as style;

:root {
    background: linear-gradient(90deg, style.$darkAsdhBlack 20%, style.$Gold, style.$darkAsdhBlack 80%);
}

.main-workspace-management-container {
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );

    .workspace-dashboard {
        overflow-y: auto;
        display: flex;
        justify-content: center;
        margin: 0px auto 0px auto;
        position: relative;
        border-radius: 10px;
        transition: width .2s ease-in-out,
            height .2s ease-in-out;
        //for portrait mode

        overflow-y: style.$auto;
        //for screen orientation landscape mode

        .workspace-sheets-wrapper {
            .canva-management-heading-one {
                color: #ffffff;
                margin: 0px auto 0px auto;
                padding: 10px 0px 0px 0px;
                text-align: center;
                font-size: 32px;
            }

            border-radius: 10px;
            display: block;
            //This color plays a a faded black cover to fade the gradient 
            background-color:rgba(0, 0, 0, 0.85);
            position: relative;
            margin: 0px auto 0px auto;
            transition: width .2s ease-in-out,
            height .2s ease-in-out;

            .workspace-sheets {
                overflow-x: hidden;
                overflow-y: scroll;
                transition: width .2s ease-in-out, height .2s ease-in-out;
                display: flex;
                flex-wrap: wrap;
                margin: 0px auto 0px auto;
                justify-content: center;
                align-content: flex-start;
            }
        }
    }
}


@media screen and (min-width:320px) and (max-width:425.9px) {
    .main-workspace-management-container {
        .heading-one {
            width: 300px;
        }

        .workspace-dashboard {
            width: 300px;
            // min-height: 550px;
            // max-height: 800px;
            height: auto;
            height: 90vh;

            .workspace-sheets-wrapper {
                width: 98%;

                .workspace-sheets {
                    width: 98%;
                    // min-height: 40vh;
                    height: 60vh;
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .main-workspace-management-container {
        .heading-one {
            width: 400px;
        }


        .workspace-dashboard {
            width: 98%;
            min-height: 550px;
            max-height: 800px;

            .workspace-sheets-wrapper {
                width: 98%;
                height: 90vh;

                .workspace-sheets {
                    width: 98%;
                    min-height: 40vh;
                    height: 70vh;
                }
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .main-workspace-management-container {
        .heading-one {
            width: 400px;
        }


        .workspace-dashboard {
            width: 98%;
            min-height: 550px;
            max-height: 800px;

            .workspace-sheets-wrapper {
                width: 98%;
                height: 90vh;

                .workspace-sheets {
                    width: 98%;
                    min-height: 40vh;
                    height: 70vh;
                }
            }
        }
    }
}

@media screen and (min-width:769px) and (max-width:1440.9px) {

    .main-workspace-management-container {
        .heading-one {
            width: 400px;
        }

        .workspace-dashboard {
            width: 650px;
            width: 100%;

            .workspace-sheets-wrapper {
                width: 98%;
                height: 93vh;

                .workspace-sheets {
                    width: 620px;
                    height: 670px;
                    width: 98%;
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {

    .main-workspace-management-container {
        .heading-one {
            width: 400px;
        }

        .workspace-dashboard {
            width: 650px;
            width: 100%;

            .workspace-sheets-wrapper {
                width: 98%;
                height: 93vh;

                .workspace-sheets {
                    width: 620px;
                    height: 670px;
                    width: 98%;
                }
            }
        }
    }
}