.main-workspace-management-container {
  height: 100%;
  background: url("/golden-cube4d.png");
  background-color: #000000;
  margin: 0px auto 0px auto;
  z-index: 1;
}
.main-workspace-management-container .heading-one {
  color: #ffffff;
  margin: 0px auto 0px auto;
  padding: 30px 0px 30px 0px;
  text-align: center;
}
.main-workspace-management-container .workspace-dashboard {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  margin: 0px auto 0px auto;
  position: relative;
  border-radius: 10px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  overflow-y: auto;
  background: conic-gradient(from -119deg at center center, rgba(250, 186, 0, 0.7) 0.2deg, rgb(12, 12, 12) 55.6deg, rgb(12, 12, 12) 116.8deg, rgba(250, 186, 0, 0.7) 169.2deg, rgb(12, 12, 12) 257.8deg, rgb(12, 12, 12) 313.6deg, rgba(250, 186, 0, 0.7) 345.6deg);
}
.main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper {
  border-radius: 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  margin: 10px auto 10px auto;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets {
  overflow-x: hidden;
  overflow-y: scroll;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 0px auto;
  justify-content: center;
}
.main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 10px;
}
.main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets::-webkit-scrollbar-track {
  background-color: #555;
  border-radius: 6px;
}
.main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width: 425.9px) {
  .main-workspace-management-container .heading-one {
    width: 300px;
  }
  .main-workspace-management-container .workspace-dashboard {
    width: 300px;
    min-height: 550px;
    max-height: 800px;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper {
    width: 290px;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets {
    width: 290px;
    min-height: 410px;
    max-height: 410px;
  }
}
@media screen and (min-width: 426px) and (max-width: 600.9px) {
  .main-workspace-management-container .heading-one {
    width: 400px;
  }
  .main-workspace-management-container .workspace-dashboard {
    width: 420px;
    min-height: 550px;
    max-height: 800px;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper {
    width: 400px;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets {
    width: 400px;
    min-height: 410px;
    max-height: 410px;
  }
}
@media screen and (min-width: 601px) and (max-width: 768.9px) {
  .main-workspace-management-container .heading-one {
    width: 400px;
  }
  .main-workspace-management-container .workspace-dashboard {
    width: 480px;
    min-height: 550px;
    max-height: 800px;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper {
    width: 450px;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets {
    width: 450px;
    min-height: 410px;
    max-height: 410px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1440.9px) {
  .main-workspace-management-container .heading-one {
    width: 400px;
  }
  .main-workspace-management-container .workspace-dashboard {
    width: 650px;
    min-height: 550px;
    max-height: 800px;
    width: 90%;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper {
    width: 620px;
    width: 98%;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets {
    width: 620px;
    min-height: 410px;
    max-height: 410px;
    width: 98%;
  }
}
@media screen and (min-width: 1440px) {
  .main-workspace-management-container .heading-one {
    width: 400px;
  }
  .main-workspace-management-container .workspace-dashboard {
    width: 90%;
    min-height: 550px;
    max-height: 800px;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper {
    width: 98%;
  }
  .main-workspace-management-container .workspace-dashboard .workspace-sheets-wrapper .workspace-sheets {
    width: 98%;
    min-height: 410px;
    max-height: 410px;
  }
}/*# sourceMappingURL=management.css.map */