@use '../styles/index' as style;

:root {
    // background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(90deg, style.$darkAsdhBlack 20%, style.$Gold, style.$darkAsdhBlack 80%);
}

.main-workspace-management-container {
    // @include style.height(100%);
    // @include style.background-color(#000000);
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );

    .workspace-dashboard {
        overflow-y: auto;
        @include style.display-align(flex);
        @include style.justify-content(center);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
        @include style.position(relative);
        @include style.border-radius(style.$space-10);
        transition: width .2s ease-in-out,
            height .2s ease-in-out;
        //for portrait mode

        overflow-y: style.$auto;
        //for screen orientation landscape mode

        .workspace-sheets-wrapper {
            .heading-one {
                @include style.text-color(#ffffff);
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
                @include style.padding-x-y(style.$space-30, style.$space-0, style.$space-30 , style.$space-0 );
                @include style.align-text(center);
            }

            @include style.border-radius(style.$space-10);
            @include style.display-align(block);
            @include style.background-color(rgba(0, 0, 0, 0.6));
            @include style.position(relative);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            transition: width .2s ease-in-out,
            height .2s ease-in-out;

            .workspace-sheets {
                overflow-x: hidden;
                overflow-y: scroll;
                transition: width .2s ease-in-out, height .2s ease-in-out;
                @include style.display-align(flex);
                flex-wrap: wrap;
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
                justify-content: center;
                align-content: flex-start;
            }

            // .workspace-sheets::-webkit-scrollbar {
            //     @include style.background-color(rgba(0, 0, 0, 0.7));
            //     @include style.border-radius(style.$space-10);
            //     @include style.width(style.$space-10);
            // }

            // .workspace-sheets::-webkit-scrollbar-track {
            //     @include style.background-color(#555);
            //     @include style.border-radius(style.$space-6);
            // }

            // .workspace-sheets::-webkit-scrollbar-thumb {
            //     @include style.background-color(#bbb);
            //     @include style.border-radius(style.$space-10);
            // }
        }
    }


}


@media screen and (min-width:320px) and (max-width:425.9px) {
    .main-workspace-management-container {
        .heading-one {
            @include style.width(300px);
        }

        .workspace-dashboard {
            @include style.width(300px);
            @include style.min-height(550px);
            @include style.max-height(800px);

            .workspace-sheets-wrapper {
                @include style.width(290px);

                .workspace-sheets {
                    @include style.width(290px);
                    @include style.min-height(410px);
                    @include style.max-height(410px);
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .main-workspace-management-container {
        .heading-one {
            @include style.width(400px);
        }


        .workspace-dashboard {
            @include style.width(420px);
            @include style.min-height(550px);
            @include style.max-height(800px);

            .workspace-sheets-wrapper {
                @include style.width(400px);

                .workspace-sheets {
                    @include style.width(400px);
                    @include style.min-height(410px);
                    @include style.max-height(410px);
                }
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .main-workspace-management-container {
        .heading-one {
            @include style.width(400px);
        }


        .workspace-dashboard {
            @include style.width(480px);
            @include style.min-height(550px);
            @include style.max-height(800px);

            .workspace-sheets-wrapper {
                @include style.width(450px);

                .workspace-sheets {
                    @include style.width(450px);
                    @include style.min-height(410px);
                    @include style.max-height(410px);
                }
            }
        }
    }
}

@media screen and (min-width:769px) and (max-width:1440.9px) {

    .main-workspace-management-container {
        .heading-one {
            @include style.width(400px);
        }

        .workspace-dashboard {
            @include style.width(650px);
            @include style.width(100%);

            .workspace-sheets-wrapper {
                @include style.width(98%);

                .workspace-sheets {
                    @include style.width(620px);
                    height: 560px;
                    @include style.width(98%);
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {

    .main-workspace-management-container {
        .heading-one {
            @include style.width(400px);
        }

        .workspace-dashboard {
            @include style.width(650px);
            @include style.width(100%);

            .workspace-sheets-wrapper {
                @include style.width(98%);

                .workspace-sheets {
                    @include style.width(620px);
                    height: 560px;
                    @include style.width(98%);
                }
            }
        }
    }
}