.data-text-component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px auto 0px auto;
  background-color: rgba(121, 103, 78, 0.1254901961);
  border-bottom: 2px solid rgba(250, 170, 0, 0.2509803922);
  height: 120px;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  cursor: grab;
}
.data-text-component .text-input-form .text-label-wrapper {
  margin: 10px 0px 0px 0px;
}
.data-text-component .text-input-form .text-label-wrapper .list-label,
.data-text-component .text-input-form .text-label-wrapper .text-label {
  display: block;
  margin: 0px 0px 0px 0px;
}
.data-text-component .text-input-form .text-container {
  display: flex;
  align-items: center;
  position: relative;
}
.data-text-component .text-input-form .text-container .text-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.data-text-component .text-input-form .text-container .text-input-wrapper .enabled-list-input-field,
.data-text-component .text-input-form .text-container .text-input-wrapper .enabled-text-input-field {
  display: flex;
  justify-content: left;
  border-top: 2px solid #111;
  border-left: 2px solid rgba(250, 170, 0, 0.2509803922);
  border-bottom: 2px solid rgba(250, 170, 0, 0.2509803922);
  color: #fff;
  border-right: 2px solid #111;
  background-color: transparent;
  height: 20px;
  transition: height 0.2s ease-in-out;
  resize: none;
  cursor: text;
  outline: 2px solid #111;
  margin: 0px auto 0px 2px;
}
.data-text-component .text-input-form .text-container .text-input-wrapper .enabled-list-input-field:focus,
.data-text-component .text-input-form .text-container .text-input-wrapper .enabled-text-input-field:focus {
  height: 50px;
}
.data-text-component .text-input-form .text-container .text-input-wrapper .text-btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}
.data-text-component .text-input-form .text-container .text-input-wrapper .text-btn-container .text-submit-btn-container {
  display: flex;
  justify-content: right;
  margin: 5px auto 5px auto;
}
.data-text-component .text-input-form .text-container .text-input-wrapper .text-btn-container .text-submit-btn-container .text-btn-submit {
  cursor: pointer;
  height: 20px;
  width: 70px;
  outline: none;
  background-color: #111;
  color: #FBAA00;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}
.data-text-component .text-input-form .text-container .text-input-wrapper .text-btn-container .text-selection-wrapper {
  margin: 5px auto 5px auto;
}
.data-text-component .text-input-form .text-container .text-input-wrapper .text-btn-container .text-selection-wrapper .select-text-type {
  width: 70px;
  outline: none;
  background-color: #111;
  color: #FBAA00;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .data-text-component {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .data-text-component {
    width: 350px;
  }
  .data-text-component .text-input-form {
    width: 340px;
  }
  .data-text-component .text-input-form .text-label-wrapper .list-label,
  .data-text-component .text-input-form .text-label-wrapper .text-label {
    width: 120px;
  }
  .data-text-component .text-input-form .text-container .text-input-wrapper .enabled-list-input-field,
  .data-text-component .text-input-form .text-container .text-input-wrapper .enabled-text-input-field {
    width: 250px;
  }
}/*# sourceMappingURL=text.css.map */