@use '../styles/index' as style;

.textarea-live-text-wrapper {
    position: relative;
    display: block;
    width: 200px;
    z-index: 4;
    // hyphens: auto;

    .textarea-live-text {
        background-color: #4f4433;
        word-wrap: break-word;
        font-size: 10pt;
        cursor: default;
        width: 190px;
        min-height: 20px;
        max-height: 150px;

        overflow-y: auto;

        padding: 5px 8px;
        // border: style.$space-2 solid #ffffff40;
        z-index: 3;
        box-shadow: inset 0px 0px 4px 2px #FAAA0040, 0px 0px 4px 0px #FAAA0040;
    }

    .textarea-live-text::selection {
        background-color: transparent;
    }
}