.workspace-sheet-wrapper {
  display: block;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0px 4px 6px 3px #4c4c4c;
  margin: 20px auto 20px auto;
  padding: 2px 0px 2px 0px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  max-height: 140px;
  height: auto;
}
.workspace-sheet-wrapper .workspace-sheet {
  margin: 0px auto 0px auto;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data {
  margin: 0px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-items: center;
  transform: rotate(180deg);
  align-items: center;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route .forward-to-workspace-icon {
  margin: 0px 0px 0px 10px;
  display: flex;
  justify-content: left;
  align-content: center;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-name,
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-name {
  height: 20px;
  display: block;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  transition: border 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px 0px 4px 0px;
  outline: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-name::-moz-placeholder, .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-name::-moz-placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-name::placeholder,
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-name::placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-name:focus,
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-name:focus {
  border-top: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid rgba(250, 187, 0, 0.8666666667);
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px 0px 4px 0px;
  outline: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-description,
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-description {
  height: 40px;
  max-height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: left;
  transition: border 0.2s ease-in-out, height 0.2s ease-in-out;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px 0px 4px 0px;
  outline: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  color: #fff;
  resize: none;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-description::-moz-placeholder, .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-description::-moz-placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-description::placeholder,
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-description::placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .new-temp-update-description-field-workspace-description:focus,
.workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .workspace-description:focus {
  border-top: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid rgba(250, 187, 0, 0.8666666667);
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px 0px 4px 0px;
  color: #fff;
  background-color: #1c1c1c;
  outline: 2px solid #1c1c1c;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container {
  display: flex;
  align-content: center;
  justify-content: center;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container .workspace-toggle-edit-btns {
  margin: 0px auto 0px auto;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container .workspace-toggle-edit-btns .edit-mode,
.workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container .workspace-toggle-edit-btns .view-mode {
  margin: 2px auto 2px auto;
  color: #FABB00;
  text-align: center;
  background-color: #1c1c1c;
  border-top: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid #1c1c1c;
  border-bottom: 2px solid #1c1c1c;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container .update-workspace-sheet {
  margin: 2px auto 2px auto;
  color: #FABB00;
  text-align: center;
  background-color: #1c1c1c;
  border-top: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid #1c1c1c;
  border-bottom: 2px solid #1c1c1c;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field {
  margin: 20px auto 20px auto;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-name {
  width: 250px;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-name:focus {
  width: 250px;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-description {
  width: 250px;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-description:focus {
  width: 250px;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data {
  margin: 0px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .dynamic-workspace-route {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-items: center;
  transform: rotate(180deg);
  align-items: center;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .dynamic-workspace-route .forward-to-workspace-icon {
  margin: 0px 0px 0px 10px;
  display: flex;
  justify-content: left;
  align-content: center;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-name {
  height: 20px;
  display: block;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  transition: border 0.2s ease-in-out, height 0.2s ease-in-out;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px auto 4px auto;
  outline: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-name::-moz-placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-name::placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-name:focus {
  border-top: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid rgba(250, 187, 0, 0.8666666667);
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px auto 4px auto;
  outline: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-description {
  height: 60px;
  max-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: left;
  transition: border 0.2s ease-in-out, height 0.2s ease-in-out;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px auto 4px auto;
  outline: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  color: #fff;
  resize: none;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-description::-moz-placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-description::placeholder {
  color: #fff;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .workspace-description:focus {
  border-top: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid rgba(250, 187, 0, 0.8666666667);
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  margin: 0px auto 4px auto;
  color: #fff;
  background-color: #1c1c1c;
  outline: 2px solid #1c1c1c;
  cursor: pointer;
}
.workspace-sheet-wrapper .workspace-sheet-temp-field .workspace-sheet-forefront-data .create-workspace-sheet {
  margin: 2px auto 2px auto;
  color: #00BBFA;
  text-align: center;
  background-color: #1c1c1c;
  border-top: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid #1c1c1c;
  border-bottom: 2px solid #1c1c1c;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 425.9px) {
  .workspace-sheet-wrapper {
    width: 260px;
  }
  .workspace-sheet-wrapper .workspace-sheet {
    width: 240px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route {
    width: 40px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route .forward-to-workspace-icon {
    width: 20px;
    height: 30px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-name {
    width: 174px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-name:focus {
    width: 174px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-description {
    width: 214px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-description:focus {
    width: 214px;
  }
}
@media screen and (min-width: 426px) and (max-width: 600.9px) {
  .workspace-sheet-wrapper {
    width: 370px;
  }
  .workspace-sheet-wrapper .workspace-sheet {
    width: 360px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route {
    width: 40px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route .forward-to-workspace-icon {
    width: 20px;
    height: 30px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-name {
    width: 250px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-name:focus {
    width: 250px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-description {
    width: 290px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-description:focus {
    width: 290px;
  }
}
@media screen and (min-width: 601px) and (max-width: 768.9px) {
  .workspace-sheet-wrapper {
    width: 400px;
  }
  .workspace-sheet-wrapper .workspace-sheet {
    width: 360px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route {
    width: 40px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route .forward-to-workspace-icon {
    width: 20px;
    height: 30px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-name,
  .workspace-sheet-wrapper .workspace-sheet .workspace-name {
    width: 250px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-name:focus,
  .workspace-sheet-wrapper .workspace-sheet .workspace-name:focus {
    width: 250px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-description,
  .workspace-sheet-wrapper .workspace-sheet .workspace-description {
    width: 290px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-description:focus,
  .workspace-sheet-wrapper .workspace-sheet .workspace-description:focus {
    width: 290px;
  }
}
@media screen and (min-width: 769px) {
  .workspace-sheet-wrapper {
    width: 300px;
    margin: 20px auto 20px auto;
  }
  .workspace-sheet-wrapper .workspace-sheet {
    width: 280px;
    margin: 20px auto 20px auto;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route {
    width: 32px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-sheet-forefront-data .dynamic-workspace-route .forward-to-workspace-icon {
    height: 20px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-name,
  .workspace-sheet-wrapper .workspace-sheet .workspace-name {
    width: 218px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-name:focus,
  .workspace-sheet-wrapper .workspace-sheet .workspace-name:focus {
    width: 218px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-description,
  .workspace-sheet-wrapper .workspace-sheet .workspace-description {
    width: 250px;
  }
  .workspace-sheet-wrapper .workspace-sheet .new-temp-update-description-field-workspace-description:focus,
  .workspace-sheet-wrapper .workspace-sheet .workspace-description:focus {
    width: 250px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container {
    width: 250px;
  }
  .workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container .workspace-toggle-edit-btns .edit-mode,
  .workspace-sheet-wrapper .workspace-sheet .workspace-buttons-container .workspace-toggle-edit-btns .view-mode {
    width: 100px;
  }
}/*# sourceMappingURL=workspace-board-sheet-wrapper.css.map */