@use '../styles/index' as style;

.workspace-sheet-wrapper {
    @include style.display-align(block);
    @include style.background-color(#1c1c1c);
    @include style.border-radius(style.$space-10);
    box-shadow: style.$space-0 style.$space-4 style.$space-6 style.$space-3 #4c4c4c;
    @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20 , style.$auto );
    @include style.padding-x-y(style.$space-2, style.$space-0, style.$space-2 , style.$space-0 );
    transition: width .2s ease-in-out, height .2s ease-in-out;
    @include style.max-height(140px);
    @include style.height(auto);

    .workspace-sheet {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
        transition: width .2s ease-in-out, height .2s ease-in-out;

        .workspace-sheet-forefront-data {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.align-content(flex-start);
            @include style.justify-content(left);
            @include style.text-color(#fff);

            .dynamic-workspace-route {
                @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0 , style.$space-0 );
                @include style.display-align(flex);
                @include style.justify-items(center);
                transform: rotate(180deg);
                @include style.align-items(center);

                .forward-to-workspace-icon {
                    @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0 , style.$space-10 );
                    @include style.display-align(flex);
                    @include style.justify-content(left);
                    @include style.align-content(center);
                }
            }

            .new-temp-update-description-field-workspace-name,
            .workspace-name {
                @include style.height(20px);
                @include style.display-align(block);
                @include style.flex-align(wrap);
                @include style.justify-content(left);
                @include style.align-content(flex-start);
                transition: border .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out;
                @include style.border-top (style.$space-2, solid, transparent);
                @include style.border-left (style.$space-2, solid, transparent);
                @include style.border-right (style.$space-2, solid, transparent);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-4, style.$space-0);
                outline: style.$space-2 solid #1c1c1c;
                @include style.background-color(#1c1c1c);
                @include style.text-color(#fff);
                cursor: pointer;
            }

            .new-temp-update-description-field-workspace-name::placeholder,
            .workspace-name::placeholder {
                @include style.text-color(#fff);
            }

            .new-temp-update-description-field-workspace-name:focus,
            .workspace-name:focus {
                @include style.border-top (style.$space-2, solid, #1c1c1c);
                @include style.border-left (style.$space-2, solid, #1c1c1c);
                @include style.border-right (style.$space-2, solid, #FABB00DD);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-4, style.$space-0);
                outline: style.$space-2 solid #1c1c1c;
                @include style.background-color(#1c1c1c);
                @include style.text-color(#fff);
                cursor: pointer;
            }

            .new-temp-update-description-field-workspace-description,
            .workspace-description {
                @include style.height(40px);
                @include style.max-height(60px);
                @include style.display-align(flex);
                @include style.flex-align(wrap);
                @include style.align-items(flex-start);
                @include style.justify-items(left);
                transition: border .2s ease-in-out,
                    height .2s ease-in-out;
                @include style.border-top (style.$space-2, solid, transparent);
                @include style.border-left (style.$space-2, solid, transparent);
                @include style.border-right (style.$space-2, solid, transparent);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-4, style.$space-0);
                outline: style.$space-2 solid #1c1c1c;
                @include style.background-color(#1c1c1c);
                @include style.text-color(#fff);
                resize: none;
                cursor: pointer;
            }

            .new-temp-update-description-field-workspace-description::placeholder,
            .workspace-description::placeholder {
                @include style.text-color(#fff);
            }

            .new-temp-update-description-field-workspace-description:focus,
            .workspace-description:focus {
                @include style.border-top (style.$space-2, solid, #1c1c1c);
                @include style.border-left (style.$space-2, solid, #1c1c1c);
                @include style.border-right (style.$space-2, solid, #FABB00DD);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-4, style.$space-0);
                @include style.text-color(#fff);
                @include style.background-color(#1c1c1c);
                outline: style.$space-2 solid #1c1c1c;
                cursor: pointer;
            }
        }

        .workspace-buttons-container {
            @include style.display-align(flex);
            @include style.align-content(center);
            @include style.justify-content(center);

            //view and edit workspace sheet buttons
            .workspace-toggle-edit-btns {
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);

                .edit-mode,
                .view-mode {
                    @include style.margin-x-y(style.$space-2, style.$auto, style.$space-2, style.$auto);
                    @include style.text-color(#FABB00);
                    @include style.align-text(center);
                    @include style.background-color(#1c1c1c);
                    @include style.border-top (style.$space-2, solid, #1c1c1c);
                    @include style.border-left (style.$space-2, solid, #1c1c1c);
                    @include style.border-right (style.$space-2, solid, #1c1c1c);
                    @include style.border-bottom (style.$space-2, solid, #1c1c1c);
                    text-transform: uppercase;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            //to update workspace specifically edited data
            .update-workspace-sheet {
                @include style.margin-x-y(style.$space-2, style.$auto, style.$space-2, style.$auto);
                @include style.text-color(#FABB00);
                @include style.align-text(center);
                @include style.background-color(#1c1c1c);
                @include style.border-top (style.$space-2, solid, #1c1c1c);
                @include style.border-left (style.$space-2, solid, #1c1c1c);
                @include style.border-right (style.$space-2, solid, #1c1c1c);
                @include style.border-bottom (style.$space-2, solid, #1c1c1c);
                text-transform: uppercase;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .workspace-sheet-temp-field {
        @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20 , style.$auto );

        .workspace-name {
            @include style.width(250px);
        }

        .workspace-name:focus {
            @include style.width(250px);
        }

        .workspace-description {
            @include style.width(250px);
        }

        .workspace-description:focus {
            @include style.width(250px);
        }

        transition: width .2s ease-in-out,
        height .2s ease-in-out;

        .workspace-sheet-forefront-data {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.align-content(flex-start);
            @include style.justify-content(left);
            @include style.text-color(#fff);

            .dynamic-workspace-route {
                @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0 , style.$space-0 );
                @include style.display-align(flex);
                @include style.justify-items(center);
                transform: rotate(180deg);
                @include style.align-items(center);

                .forward-to-workspace-icon {
                    @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0 , style.$space-10 );
                    @include style.display-align(flex);
                    @include style.justify-content(left);
                    @include style.align-content(center);
                }
            }

            .workspace-name {
                @include style.height(20px);
                @include style.display-align(block);
                @include style.flex-align(wrap);
                @include style.justify-content(left);
                @include style.align-content(flex-start);
                transition: border .2s ease-in-out, height .2s ease-in-out;
                @include style.border-top (style.$space-2, solid, transparent);
                @include style.border-left (style.$space-2, solid, transparent);
                @include style.border-right (style.$space-2, solid, transparent);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-4, style.$auto);
                outline: style.$space-2 solid #1c1c1c;
                @include style.background-color(#1c1c1c);
                @include style.text-color(#fff);
                cursor: pointer;
            }

            .workspace-name::placeholder {
                @include style.text-color(#fff);
            }

            .workspace-name:focus {
                @include style.border-top (style.$space-2, solid, #1c1c1c);
                @include style.border-left (style.$space-2, solid, #1c1c1c);
                @include style.border-right (style.$space-2, solid, #FABB00DD);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-4, style.$auto);
                outline: style.$space-2 solid #1c1c1c;
                @include style.background-color(#1c1c1c);
                @include style.text-color(#fff);
                cursor: pointer;
            }

            .workspace-description {
                @include style.height(60px);
                @include style.max-height(40px);
                @include style.display-align(flex);
                @include style.flex-align(wrap);
                @include style.align-items(flex-start);
                @include style.justify-items(left);
                transition: border .2s ease-in-out,
                    height .2s ease-in-out;
                @include style.border-top (style.$space-2, solid, transparent);
                @include style.border-left (style.$space-2, solid, transparent);
                @include style.border-right (style.$space-2, solid, transparent);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-4, style.$auto);
                outline: style.$space-2 solid #1c1c1c;
                @include style.background-color(#1c1c1c);
                @include style.text-color(#fff);
                resize: none;
                cursor: pointer;
            }

            .workspace-description::placeholder {
                @include style.text-color(#fff);
            }

            .workspace-description:focus {
                @include style.border-top (style.$space-2, solid, #1c1c1c);
                @include style.border-left (style.$space-2, solid, #1c1c1c);
                @include style.border-right (style.$space-2, solid, #FABB00DD);
                @include style.border-bottom (style.$space-2, solid, #FABB00DD);
                @include style.margin-x-y(style.$space-0, style.$auto, style.$space-4, style.$auto);
                @include style.text-color(#fff);
                @include style.background-color(#1c1c1c);
                outline: style.$space-2 solid #1c1c1c;
                cursor: pointer;
            }

            .create-workspace-sheet {
                @include style.margin-x-y(style.$space-2, style.$auto, style.$space-2, style.$auto);
                @include style.text-color(#00BBFA);
                @include style.align-text(center);
                @include style.background-color(#1c1c1c);
                @include style.border-top (style.$space-2, solid, #1c1c1c);
                @include style.border-left (style.$space-2, solid, #1c1c1c);
                @include style.border-right (style.$space-2, solid, #1c1c1c);
                @include style.border-bottom (style.$space-2, solid, #1c1c1c);
                text-transform: uppercase;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}


@media screen and (min-width:320px) and (max-width:425.9px) {
    .workspace-sheet-wrapper {
        @include style.width(260px);

        .workspace-sheet {
            @include style.width(240px);

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include style.width(40px);

                    .forward-to-workspace-icon {
                        @include style.width(20px);
                        @include style.height(30px);
                    }
                }
            }

            .workspace-name {
                @include style.width(174px);
            }

            .workspace-name:focus {
                @include style.width(174px);
            }

            .workspace-description {
                @include style.width(214px);
            }

            .workspace-description:focus {
                @include style.width(214px);
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .workspace-sheet-wrapper {
        @include style.width(370px);

        .workspace-sheet {
            @include style.width(360px);

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include style.width(40px);

                    .forward-to-workspace-icon {
                        @include style.width(20px);
                        @include style.height(30px);
                    }
                }
            }

            .workspace-name {
                @include style.width(250px);
            }

            .workspace-name:focus {
                @include style.width(250px);
            }

            .workspace-description {
                @include style.width(290px);
            }

            .workspace-description:focus {
                @include style.width(290px);
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .workspace-sheet-wrapper {
        @include style.width(400px);

        .workspace-sheet {
            @include style.width(360px);

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include style.width(40px);

                    .forward-to-workspace-icon {
                        @include style.width(20px);
                        @include style.height(30px);
                    }
                }
            }

            .new-temp-update-description-field-workspace-name,
            .workspace-name {
                @include style.width(250px);
            }

            .new-temp-update-description-field-workspace-name:focus,
            .workspace-name:focus {
                @include style.width(250px);
            }

            .new-temp-update-description-field-workspace-description,
            .workspace-description {
                @include style.width(290px);
            }

            .new-temp-update-description-field-workspace-description:focus,
            .workspace-description:focus {
                @include style.width(290px);
            }
        }
    }
}

@media screen and (min-width:769px) {
    .workspace-sheet-wrapper {
        @include style.width(300px);
        @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20 , style.$auto );

        .workspace-sheet {
            @include style.width(280px);
            @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20 , style.$auto );

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include style.width(32px);

                    .forward-to-workspace-icon {
                        @include style.height(20px);
                    }
                }
            }

            .new-temp-update-description-field-workspace-name,
            .workspace-name {
                @include style.width(218px);
            }



            .new-temp-update-description-field-workspace-name:focus,
            .workspace-name:focus {
                @include style.width(218px);
            }

            .new-temp-update-description-field-workspace-description,
            .workspace-description {
                @include style.width(250px);
            }

            .new-temp-update-description-field-workspace-description:focus,
            .workspace-description:focus {
                @include style.width(250px);
            }

            .workspace-buttons-container {
                @include style.width(250px);

                .workspace-toggle-edit-btns {

                    .edit-mode,
                    .view-mode {
                        @include style.width(100px);
                    }
                }
            }
        }
    }
}