@use '../styles/index' as style;

.workspace-core-functionalities {
    box-shadow: inset 0px 0px 4px 2px #FABB0040;
    box-shadow: 0px 0px 4px px #FABB0040;
    @include style.background-color(#000000B3);
    @include style.display-align(flex);
    @include style.flex-align(wrap);
    @include style.justify-content(center);
    @include style.align-items(center);
    @include style.margin-x-y(style.$space-10, style.$auto, style.$space-5 , style.$auto );
    @include style.text-color(#fff);
    @include style.border-radius(4px);
    @include style.position(relative);
    overflow: visible;
    transition: width .2s ease-in-out, height .2s ease-in-out;
}

@media screen and (min-width:320px)and (max-width:600.9px) {
    .workspace-core-functionalities {
        @include style.min-width(300px);
        @include style.max-width(540px);
        @include style.height(100%);
        @include style.min-height(120px);
        @include style.max-height(180px);
    }
}

@media screen and (min-width:601px) {
    .workspace-core-functionalities {
        @include style.width(350px);
        @include style.height(200px);
        // @include style.max-height(190px);
    }
}