.canvas-size-controls {
    display: flex;
    flex-wrap: wrap;
    width: 300px;

    .canvas-controls-text {
        display: block;
        margin: 20px auto 10px auto;
        text-align: center;
        font-size: 14px;
    }

    .height-container,
    .width-container {
        margin: 0px auto 0px auto;
        width: 300px;

        .y-label,
        .x-label {
            display: inline-block;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            width: 80px;
            font-size: 12px;
            height: 32px;
            text-align: left;
        }

        .immutable-height,
        .immutable-width,
        .mutable-height,
        .mutable-width {
            width: 220px;
            display: inline-block;
            padding: 4px 0px 4px 6px;
            margin: 0px;
            background-color: #000000B3;
            border-top: 2px solid #000000B3;
            border-bottom: 2px solid #FABB00DD;
            border-left: 2px solid #000000B3;
            border-right: 2px solid #000000B3;
            color: #ffffff;
            font-size: 12px;
            height: 32px;
        }

        .mutable-height:focus,
        .mutable-width:focus {
            cursor: text;
            background-color: #000000B3;
            outline: 2px solid #000000B3;
            color: #ffffff;
        }

        .immutable-height:hover,
        .immutable-width:hover {
            cursor: not-allowed;
        }
    }



    .toggle-visual-ops-wrapper,
    .update-spacing-btn-wrapper {
        margin: 10px auto;
        width: 140px;

        .toggle-visual-ops,
        .update-spacing-btn {
            display: block;
            background-color: #1C1C1C;
            border-radius: 4px;
            box-shadow: inset 0px 0px 0px 2px #555555;
            border: none;
            padding: 6px 4px;
            width: 140px;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .toggle-visual-ops {
            cursor: pointer;
            color: #ffffff;
        }

        .update-spacing-btn {
            color: #ff0;
        }
    }


}

@media screen and (min-width: 601px) {
    .canvas-size-controls {
        .toggle-visual-ops-wrapper {
            margin-left: 0px;

        }

        .update-spacing-btn-wrapper {
            margin-right: 0px;
        }
    }
}