.canvas-size-controls {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.canvas-size-controls .canvas-controls-text {
  display: block;
  margin: 20px auto 10px auto;
  text-align: center;
  font-size: 14px;
}
.canvas-size-controls .height-container,
.canvas-size-controls .width-container {
  margin: 0px auto 0px auto;
  width: 300px;
}
.canvas-size-controls .height-container .y-label,
.canvas-size-controls .height-container .x-label,
.canvas-size-controls .width-container .y-label,
.canvas-size-controls .width-container .x-label {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 80px;
  font-size: 12px;
  height: 32px;
  text-align: left;
}
.canvas-size-controls .height-container .immutable-height,
.canvas-size-controls .height-container .immutable-width,
.canvas-size-controls .height-container .mutable-height,
.canvas-size-controls .height-container .mutable-width,
.canvas-size-controls .width-container .immutable-height,
.canvas-size-controls .width-container .immutable-width,
.canvas-size-controls .width-container .mutable-height,
.canvas-size-controls .width-container .mutable-width {
  width: 220px;
  display: inline-block;
  padding: 4px 0px 4px 6px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.7019607843);
  border-top: 2px solid rgba(0, 0, 0, 0.7019607843);
  border-bottom: 2px solid rgba(250, 187, 0, 0.8666666667);
  border-left: 2px solid rgba(0, 0, 0, 0.7019607843);
  border-right: 2px solid rgba(0, 0, 0, 0.7019607843);
  color: #ffffff;
  font-size: 12px;
  height: 32px;
}
.canvas-size-controls .height-container .mutable-height:focus,
.canvas-size-controls .height-container .mutable-width:focus,
.canvas-size-controls .width-container .mutable-height:focus,
.canvas-size-controls .width-container .mutable-width:focus {
  cursor: text;
  background-color: rgba(0, 0, 0, 0.7019607843);
  outline: 2px solid rgba(0, 0, 0, 0.7019607843);
  color: #ffffff;
}
.canvas-size-controls .height-container .immutable-height:hover,
.canvas-size-controls .height-container .immutable-width:hover,
.canvas-size-controls .width-container .immutable-height:hover,
.canvas-size-controls .width-container .immutable-width:hover {
  cursor: not-allowed;
}
.canvas-size-controls .toggle-visual-ops-wrapper,
.canvas-size-controls .update-spacing-btn-wrapper {
  margin: 10px auto;
  width: 140px;
}
.canvas-size-controls .toggle-visual-ops-wrapper .toggle-visual-ops,
.canvas-size-controls .toggle-visual-ops-wrapper .update-spacing-btn,
.canvas-size-controls .update-spacing-btn-wrapper .toggle-visual-ops,
.canvas-size-controls .update-spacing-btn-wrapper .update-spacing-btn {
  display: block;
  background-color: #1C1C1C;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 2px #555555;
  border: none;
  padding: 6px 4px;
  width: 140px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.canvas-size-controls .toggle-visual-ops-wrapper .toggle-visual-ops,
.canvas-size-controls .update-spacing-btn-wrapper .toggle-visual-ops {
  cursor: pointer;
  color: #ffffff;
}
.canvas-size-controls .toggle-visual-ops-wrapper .update-spacing-btn,
.canvas-size-controls .update-spacing-btn-wrapper .update-spacing-btn {
  color: #ff0;
}

@media screen and (min-width: 601px) {
  .canvas-size-controls .toggle-visual-ops-wrapper {
    margin-left: 0px;
  }
  .canvas-size-controls .update-spacing-btn-wrapper {
    margin-right: 0px;
  }
}/*# sourceMappingURL=canva-controls.css.map */