@use '../../../../../styles/index' as style;

.i-note-drop-down {
    // display: block;
    // position: relative;
    // min-width: 100px;
    // max-width: 200px;
    // min-height: 20px;
    // max-height: 80px;
    // margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // z-index: 6;
    top: 3px;
    left: 3px;
    cursor: pointer;
    margin: 0px 10px auto 0px;
    border: 2px solid #FAAA0040;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}