@media screen and (min-width: 300px) and (max-width: 425.9px) {
  .sign-in-page .sign-in-block,
  .sign-up-page .sign-in-block {
    max-height: 500px;
  }
  .sign-in-page .sign-in-block,
  .sign-in-page .sign-up-block,
  .sign-up-page .sign-in-block,
  .sign-up-page .sign-up-block {
    height: auto;
    width: 280px;
  }
  .sign-in-page .sign-in-block .heading-one,
  .sign-in-page .sign-up-block .heading-one,
  .sign-up-page .sign-in-block .heading-one,
  .sign-up-page .sign-up-block .heading-one {
    text-align: center;
  }
  .sign-in-page .sign-in-block .form-sign-in,
  .sign-in-page .sign-up-block .form-sign-in,
  .sign-up-page .sign-in-block .form-sign-in,
  .sign-up-page .sign-up-block .form-sign-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 30px auto 0px auto;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container {
    width: 280px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper {
    width: 100px;
    margin-left: 0px;
    margin-right: auto;
    text-align: start;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label {
    width: 80px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container div .reset-password,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container div .reset-password,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container div .reset-password,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container div .reset-password {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0px;
    margin-right: auto;
    text-align: start;
    width: 200px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container .input-wrapper,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container .input-wrapper,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container .input-wrapper,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container .input-wrapper {
    width: 260px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .password-input,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .password-input {
    width: 260px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .sign-in-page .sign-in-block .form-sign-in .submit-btn-wrapper,
  .sign-in-page .sign-up-block .form-sign-in .submit-btn-wrapper,
  .sign-up-page .sign-in-block .form-sign-in .submit-btn-wrapper,
  .sign-up-page .sign-up-block .form-sign-in .submit-btn-wrapper {
    margin-top: 15px;
  }
  .sign-in-page .sign-in-block .form-sign-in .submit-btn-wrapper .submit,
  .sign-in-page .sign-up-block .form-sign-in .submit-btn-wrapper .submit,
  .sign-up-page .sign-in-block .form-sign-in .submit-btn-wrapper .submit,
  .sign-up-page .sign-up-block .form-sign-in .submit-btn-wrapper .submit {
    width: 240px;
  }
  .sign-in-page .sign-in-block .cancel-btn-wrapper .cancel-verification,
  .sign-in-page .sign-up-block .cancel-btn-wrapper .cancel-verification,
  .sign-up-page .sign-in-block .cancel-btn-wrapper .cancel-verification,
  .sign-up-page .sign-up-block .cancel-btn-wrapper .cancel-verification {
    width: 240px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container {
    width: 260px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper {
    margin: 0px;
    width: 200px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password {
    width: 190px;
    margin: 0px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper {
    margin: 0px auto 5px auto;
    width: 260px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input {
    width: 260px;
    font-size: 12px;
    border-left: 1px solid #FABB00;
    font-size: 12px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .gender-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .gender-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .gender-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .gender-input {
    width: 260px;
    font-size: 12px;
    margin: 5px 0px 10px 0px;
    border-left: 1px solid #FABB00;
  }
  .sign-in-page .sign-in-block .form-sign-up .submit-btn-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .submit-btn-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .submit-btn-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .submit-btn-wrapper {
    width: 240px;
    margin-top: 15px;
  }
  .sign-in-page .sign-in-block .form-sign-up .submit-btn-wrapper .submit,
  .sign-in-page .sign-up-block .form-sign-up .submit-btn-wrapper .submit,
  .sign-up-page .sign-in-block .form-sign-up .submit-btn-wrapper .submit,
  .sign-up-page .sign-up-block .form-sign-up .submit-btn-wrapper .submit {
    width: 240px;
  }
  .sign-in-page .sign-in-block .form-sign-up .cancel-btn-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .cancel-btn-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .cancel-btn-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .cancel-btn-wrapper {
    width: 240px;
  }
  .sign-in-page .sign-in-block .form-sign-up .cancel-btn-wrapper .cancel-signup,
  .sign-in-page .sign-up-block .form-sign-up .cancel-btn-wrapper .cancel-signup,
  .sign-up-page .sign-in-block .form-sign-up .cancel-btn-wrapper .cancel-signup,
  .sign-up-page .sign-up-block .form-sign-up .cancel-btn-wrapper .cancel-signup {
    width: 240px;
  }
  .sign-in-page .sign-in-block .may-need-account .no-account,
  .sign-in-page .sign-in-block .may-need-account .have-an-account,
  .sign-in-page .sign-up-block .may-need-account .no-account,
  .sign-in-page .sign-up-block .may-need-account .have-an-account,
  .sign-up-page .sign-in-block .may-need-account .no-account,
  .sign-up-page .sign-in-block .may-need-account .have-an-account,
  .sign-up-page .sign-up-block .may-need-account .no-account,
  .sign-up-page .sign-up-block .may-need-account .have-an-account {
    font-size: 14px;
  }
  .sign-in-page .sign-in-block .may-need-account .register-for-access,
  .sign-in-page .sign-up-block .may-need-account .register-for-access,
  .sign-up-page .sign-in-block .may-need-account .register-for-access,
  .sign-up-page .sign-up-block .may-need-account .register-for-access {
    font-size: 14px;
    width: 240px;
  }
  .sign-in-page .sign-in-block .may-need-account .get-access,
  .sign-in-page .sign-up-block .may-need-account .get-access,
  .sign-up-page .sign-in-block .may-need-account .get-access,
  .sign-up-page .sign-up-block .may-need-account .get-access {
    font-size: 12px;
    width: 240px;
  }
  .sign-in-page .sign-in-block .may-need-account .login-access,
  .sign-in-page .sign-up-block .may-need-account .login-access,
  .sign-up-page .sign-in-block .may-need-account .login-access,
  .sign-up-page .sign-up-block .may-need-account .login-access {
    font-size: 14px;
    width: 240px;
  }
}
@media screen and (min-width: 426px) {
  .sign-in-page .sign-in-block,
  .sign-up-page .sign-in-block {
    max-height: 500px;
  }
  .sign-in-page .sign-in-block,
  .sign-in-page .sign-up-block,
  .sign-up-page .sign-in-block,
  .sign-up-page .sign-up-block {
    width: 340px;
    height: auto;
  }
  .sign-in-page .sign-in-block .heading-one,
  .sign-in-page .sign-up-block .heading-one,
  .sign-up-page .sign-in-block .heading-one,
  .sign-up-page .sign-up-block .heading-one {
    text-align: center;
  }
  .sign-in-page .sign-in-block .form-sign-in,
  .sign-in-page .sign-up-block .form-sign-in,
  .sign-up-page .sign-in-block .form-sign-in,
  .sign-up-page .sign-up-block .form-sign-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 30px auto 0px auto;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container {
    width: 300px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper {
    width: 100px;
    margin-left: 0px;
    margin-right: auto;
    background-color: yellow;
    text-align: start;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container div .label-wrapper .sign-in-label {
    width: 80px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container div .reset-password,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container div .reset-password,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container div .reset-password,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container div .reset-password {
    text-decoration: underline;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0px;
    text-align: end;
    width: 200px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container .input-wrapper,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container .input-wrapper,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container .input-wrapper,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container .input-wrapper {
    width: 300px;
  }
  .sign-in-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .password-input,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-in-block .form-sign-in .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-up-block .form-sign-in .form-data-container .input-wrapper .password-input {
    width: 300px;
    font-size: 12px;
  }
  .sign-in-page .sign-in-block .form-sign-in .submit-btn-wrapper,
  .sign-in-page .sign-up-block .form-sign-in .submit-btn-wrapper,
  .sign-up-page .sign-in-block .form-sign-in .submit-btn-wrapper,
  .sign-up-page .sign-up-block .form-sign-in .submit-btn-wrapper {
    width: 280px;
    margin-top: 15px;
  }
  .sign-in-page .sign-in-block .form-sign-in .submit-btn-wrapper .submit,
  .sign-in-page .sign-up-block .form-sign-in .submit-btn-wrapper .submit,
  .sign-up-page .sign-in-block .form-sign-in .submit-btn-wrapper .submit,
  .sign-up-page .sign-up-block .form-sign-in .submit-btn-wrapper .submit {
    width: 280px;
  }
  .sign-in-page .sign-in-block .cancel-btn-wrapper .cancel-verification,
  .sign-in-page .sign-up-block .cancel-btn-wrapper .cancel-verification,
  .sign-up-page .sign-in-block .cancel-btn-wrapper .cancel-verification,
  .sign-up-page .sign-up-block .cancel-btn-wrapper .cancel-verification {
    width: 280px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container {
    width: 300px;
    display: block;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper {
    width: 200px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-firstname,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-lasttname,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-gender,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-dob,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-password,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .label-wrapper .sign-up-label-confirm-password {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 190px;
    margin: 15px 0px 5px 0px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper {
    width: 200px;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .firstname-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .lastname-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .dob-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .email-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .password-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .confirm-password-input {
    width: 300px;
    height: 32px;
    margin: 5px 0px 10px 0px;
    border: none;
    border-left: 1px solid #FABB00;
    border-bottom: 1px solid #FABB00;
    font-size: 12px;
    outline: 1px solid transparent;
  }
  .sign-in-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .gender-input,
  .sign-in-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .gender-input,
  .sign-up-page .sign-in-block .form-sign-up .form-data-container .input-wrapper .gender-input,
  .sign-up-page .sign-up-block .form-sign-up .form-data-container .input-wrapper .gender-input {
    width: 300px;
    border: none;
    margin: 5px 0px 10px 0px;
    border-left: 1px solid #FABB00;
    border-bottom: 1px solid #FABB00;
    outline: 1px solid transparent;
  }
  .sign-in-page .sign-in-block .form-sign-up .submit-btn-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .submit-btn-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .submit-btn-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .submit-btn-wrapper {
    width: 280px;
    margin-top: 15px;
  }
  .sign-in-page .sign-in-block .form-sign-up .submit-btn-wrapper .submit,
  .sign-in-page .sign-up-block .form-sign-up .submit-btn-wrapper .submit,
  .sign-up-page .sign-in-block .form-sign-up .submit-btn-wrapper .submit,
  .sign-up-page .sign-up-block .form-sign-up .submit-btn-wrapper .submit {
    width: 280px;
  }
  .sign-in-page .sign-in-block .form-sign-up .cancel-btn-wrapper,
  .sign-in-page .sign-up-block .form-sign-up .cancel-btn-wrapper,
  .sign-up-page .sign-in-block .form-sign-up .cancel-btn-wrapper,
  .sign-up-page .sign-up-block .form-sign-up .cancel-btn-wrapper {
    width: 280px;
  }
  .sign-in-page .sign-in-block .form-sign-up .cancel-btn-wrapper .cancel-signup,
  .sign-in-page .sign-up-block .form-sign-up .cancel-btn-wrapper .cancel-signup,
  .sign-up-page .sign-in-block .form-sign-up .cancel-btn-wrapper .cancel-signup,
  .sign-up-page .sign-up-block .form-sign-up .cancel-btn-wrapper .cancel-signup {
    width: 280px;
  }
  .sign-in-page .sign-in-block .may-need-account .no-account,
  .sign-in-page .sign-in-block .may-need-account .have-an-account,
  .sign-in-page .sign-up-block .may-need-account .no-account,
  .sign-in-page .sign-up-block .may-need-account .have-an-account,
  .sign-up-page .sign-in-block .may-need-account .no-account,
  .sign-up-page .sign-in-block .may-need-account .have-an-account,
  .sign-up-page .sign-up-block .may-need-account .no-account,
  .sign-up-page .sign-up-block .may-need-account .have-an-account {
    font-size: 14px;
  }
  .sign-in-page .sign-in-block .may-need-account .register-for-access,
  .sign-in-page .sign-up-block .may-need-account .register-for-access,
  .sign-up-page .sign-in-block .may-need-account .register-for-access,
  .sign-up-page .sign-up-block .may-need-account .register-for-access {
    font-size: 14px;
    width: 280px;
  }
  .sign-in-page .sign-in-block .may-need-account .get-access,
  .sign-in-page .sign-up-block .may-need-account .get-access,
  .sign-up-page .sign-in-block .may-need-account .get-access,
  .sign-up-page .sign-up-block .may-need-account .get-access {
    font-size: 12px;
    width: 280px;
  }
  .sign-in-page .sign-in-block .may-need-account .login-access,
  .sign-in-page .sign-up-block .may-need-account .login-access,
  .sign-up-page .sign-in-block .may-need-account .login-access,
  .sign-up-page .sign-up-block .may-need-account .login-access {
    font-size: 14px;
    width: 280px;
  }
}/*# sourceMappingURL=mind-canvas-portal-media-queries.css.map */