@media screen and (min-width:300px) and (max-width:425.9px) {

    .sign-in-page,
    .sign-up-page {
        .sign-in-block {
            max-height: 500px;
        }

        .sign-in-block,
        .sign-up-block {
            height: auto;
            width: 280px;

            .heading-one {
                text-align: center;
            }

            .form-sign-in {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                margin: 30px auto 0px auto;

                .form-data-container {
                    width: 280px;

                    div {

                        .label-wrapper {
                            width: 100px;
                            margin-left: 0px;
                            margin-right: auto;
                            text-align: start;

                            .sign-in-label {
                                width: 80px;
                            }
                        }

                        .reset-password {
                            text-decoration: underline;
                            cursor: pointer;
                            margin-left: 0px;
                            margin-right: auto;
                            text-align: start;
                            width: 200px;
                        }
                    }

                    .input-wrapper {
                        width: 260px;

                        .email-input,
                        .password-input {
                            width: 260px;
                            font-size: 12px;
                            margin-bottom: 10px;
                        }
                    }
                }

                .submit-btn-wrapper {
                    margin-top: 15px;

                    .submit {
                        width: 240px;
                    }
                }
            }

            .cancel-btn-wrapper {
                .cancel-verification {
                    width: 240px;
                }
            }

            .form-sign-up {

                .form-data-container {
                    width: 260px;

                    .label-wrapper {
                        margin: 0px;
                        width: 200px;

                        .sign-up-label-firstname,
                        .sign-up-label-lasttname,
                        .sign-up-label-gender,
                        .sign-up-label-dob,
                        .sign-up-label-password,
                        .sign-up-label-confirm-password {
                            width: 190px;
                            margin: 0px;
                        }
                    }

                    .input-wrapper {
                        margin: 0px auto 5px auto;
                        width: 260px;

                        .firstname-input,
                        .lastname-input,
                        .dob-input,
                        .email-input,
                        .password-input,
                        .confirm-password-input {
                            width: 260px;
                            font-size: 12px;
                            border-left: 1px solid #FABB00;
                            font-size: 12px;
                        }

                        .gender-input {
                            width: 260px;
                            font-size: 12px;
                            margin: 5px 0px 10px 0px;
                            border-left: 1px solid #FABB00;
                        }
                    }
                }

                .submit-btn-wrapper {
                    width: 240px;
                    margin-top: 15px;

                    .submit {
                        width: 240px;
                    }
                }

                .cancel-btn-wrapper {
                    width: 240px;

                    .cancel-signup {
                        width: 240px;
                    }
                }
            }

            .may-need-account {

                .no-account,
                .have-an-account {
                    font-size: 14px;
                }

                .register-for-access {
                    font-size: 14px;
                    width: 240px;
                }

                .get-access {
                    font-size: 12px;
                    width: 240px;
                }

                .login-access {
                    font-size: 14px;
                    width: 240px;
                }
            }
        }
    }
}



@media screen and (min-width:426px) {

    .sign-in-page,
    .sign-up-page {

        .sign-in-block {
            max-height: 500px;
        }

        .sign-in-block,
        .sign-up-block {
            width: 340px;
            height: auto;

            .heading-one {
                text-align: center;
            }

            .form-sign-in {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                margin: 30px auto 0px auto;

                .form-data-container {
                    width: 300px;

                    div {

                        .label-wrapper {
                            width: 100px;
                            margin-left: 0px;
                            margin-right: auto;
                            background-color: yellow;
                            text-align: start;

                            .sign-in-label {
                                width: 80px;
                            }
                        }

                        .reset-password {
                            text-decoration: underline;
                            cursor: pointer;
                            margin-left: auto;
                            margin-right: 0px;
                            text-align: end;
                            width: 200px;
                        }
                    }

                    .input-wrapper {
                        width: 300px;

                        .email-input,
                        .password-input {
                            width: 300px;
                            font-size: 12px;
                        }
                    }
                }

                .submit-btn-wrapper {
                    width: 280px;
                    margin-top: 15px;

                    .submit {
                        width: 280px;
                    }
                }
            }

            .cancel-btn-wrapper {
                .cancel-verification {
                    width: 280px;
                }
            }

            .form-sign-up {

                .form-data-container {
                    width: 300px;
                    display: block;

                    .label-wrapper {
                        width: 200px;

                        .sign-up-label-firstname,
                        .sign-up-label-lasttname,
                        .sign-up-label-gender,
                        .sign-up-label-dob,
                        .sign-up-label-password,
                        .sign-up-label-confirm-password {
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            width: 190px;
                            margin: 15px 0px 5px 0px;
                        }
                    }

                    .input-wrapper {
                        width: 200px;

                        .firstname-input,
                        .lastname-input,
                        .dob-input,
                        .email-input,
                        .password-input,
                        .confirm-password-input {
                            width: 300px;
                            height: 32px;
                            margin: 5px 0px 10px 0px;
                            border: none;
                            border-left: 1px solid #FABB00;
                            border-bottom: 1px solid #FABB00;
                            font-size: 12px;
                            outline: 1px solid transparent;
                        }

                        .gender-input {
                            width: 300px;
                            border: none;
                            margin: 5px 0px 10px 0px;
                            border-left: 1px solid #FABB00;
                            border-bottom: 1px solid #FABB00;
                            outline: 1px solid transparent;
                        }
                    }
                }

                .submit-btn-wrapper {
                    width: 280px;
                    margin-top: 15px;

                    .submit {
                        width: 280px;
                    }
                }

                .cancel-btn-wrapper {
                    width: 280px;

                    .cancel-signup {
                        width: 280px;
                    }
                }
            }

            .may-need-account {

                .no-account,
                .have-an-account {
                    font-size: 14px;
                }

                .register-for-access {
                    font-size: 14px;
                    width: 280px;
                }

                .get-access {
                    font-size: 12px;
                    width: 280px;
                }

                .login-access {
                    font-size: 14px;
                    width: 280px;
                }
            }
        }
    }
}