.sign-in-page {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;

}

.sign-up-page {
    padding: 80px 0px 80px;
}

.sign-in-page,
.sign-up-page {
    margin: 0px auto 0px auto;


    .sign-in-block,
    .sign-up-block {
        display: block;
        border: 2px solid #FABB00;
        background-color: rgba(0, 0, 0, 0.6); // from @include style.background-color(#0009)
        margin: 0px auto 0px auto;
        padding: 6px 6px 6px 6px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 3px rgba(250, 187, 0, 0.251),
            0px 4px 4px 3px rgba(0, 0, 0, 0.25);

        .heading-one {
            display: block;
            padding: 0px;
            color: #FFFFFF;
        }

        .form-sign-in {
            margin: 0px auto 0px auto;

            .form-data-container {
                color: #FFFFFF;
                margin: 0px auto 0px auto;

                .sign-in-label {
                    .sign-in-label {
                        position: relative;
                        display: block;
                        margin: 2px auto 2px auto;
                    }
                }

                .input-wrapper {

                    .email-input,
                    .password-input {
                        display: block;
                        margin: 2px auto 2px 0px;
                        outline: 1px solid transparent;
                        background-color: rgba(0, 0, 0, 0.6);
                        border: none;
                        padding: 6px 2px 6px 6px;
                        border-left: 1px solid #FABB00;
                        border-bottom: 1px solid #FABB00;
                        border-radius: 4px;
                        color: #FFFFFF;
                    }
                }

                .email-input:focus,
                .password-input:focus {
                    outline: 2px solid transparent;
                }

                .email-input::placeholder,
                .password-input::placeholder {
                    color: #FFFFFF;
                }
            }

            .submit-btn-wrapper {
                margin: 0px auto 0px auto;
                display: flex;
                background-clip: box;

                .submit {
                    position: relative;
                    border-radius: 20px; // 10px from style.$space-10
                    cursor: pointer;
                    padding: 10px 0px;
                    border: none;
                    border-right: 1px solid #FABB00;
                    border-left: 1px solid #FABB00;
                    margin: 10px auto 5px auto;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: #FFF;
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }
        }

        .form-sign-up {
            margin: 0px auto 0px auto;

            .form-data-container {
                color: #FFFFFF;
                margin: 0px auto 0px auto;

                .sign-up-wrapper {
                    .sign-up-label {
                        display: block;
                        margin: 2px auto 2px auto;
                    }
                }

                .input-wrapper {

                    .firstname-input,
                    .lastname-input,
                    .gender-input,
                    .dob-input,
                    .email-input,
                    .password-input,
                    .confirm-password-input {
                        display: block;
                        margin: 2px auto 2px 0px;
                        outline: 1px solid transparent;
                        background-color: rgba(0, 0, 0, 0.6);
                        padding: 6px 2px 6px 6px;
                        border-radius: 4px;
                        color: #FFFFFF;
                    }
                }

                .firstname-input:focus,
                .lastname-input:focus,
                .gender-input:focus,
                .dob-input:focus,
                .email-input:focus,
                .password-input:focus,
                .confirm-password-input:focus {
                    outline: 1px solid #000;
                    // background-color: #000;
                }

                .firstname-input::placeholder,
                .lastname-input::placeholder,
                .dob-input::placeholder,
                .email-input::placeholder,
                .password-input::placeholder,
                .confirm-password-input::placeholder {
                    color: #FFFFFF;
                }
            }

            .submit-btn-wrapper {
                margin: 0px auto 0px auto;
                display: block;

                .submit {
                    position: relative;
                    border-radius: 20px; // 10px from style.$space-10
                    cursor: pointer;
                    padding: 10px 0px;
                    border: none;
                    border-right: 1px solid #FABB00;
                    border-left: 1px solid #FABB00;
                    margin: 10px auto 5px auto;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: #FFF;
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }

            .cancel-btn-wrapper {
                margin: 0px auto 0px auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .cancel-signup {
                    border-radius: 20px;
                    cursor: pointer;
                    margin: 5px auto 10px auto;
                    background-color: rgba(0, 0, 0, 0.6);
                    padding: 10px 0px;
                    border: none;
                    border-right: 1px solid #FABB00;
                    border-left: 1px solid #FABB00;

                    a {
                        text-decoration: underline;
                        text-transform: capitalize;
                        color: #FFF;
                    }
                }
            }


        }

        .may-need-account {
            margin: 5px auto 10px auto;
            display: block;
            color: #FFFFFF;

            .no-account {
                margin: 20px auto 15px auto;
                text-align: center;
                font-size: 12px;
            }

            .register-for-access {
                margin: 5px auto 15px auto;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-right: 1px solid #FABB00;
                border-left: 1px solid #FABB00;
                padding: 10px 0px;
                border-radius: 20px;
                background-color: rgba(0, 0, 0, 0.6);
                letter-spacing: 0px;

                .route-link {
                    cursor: pointer;
                    display: block;
                    text-decoration: none;
                    color: #FFF;
                    margin: 0px auto 0px auto;
                    text-decoration: underline;
                }
            }

            .get-access {
                margin: 5px auto 15px auto;
                text-align: center;
                margin: 0px auto 0px auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .route-link {
                    border-radius: 20px;
                    cursor: pointer;
                    margin: 5px auto 10px auto;
                    background-color: rgba(0, 0, 0, 0.6);
                    padding: 10px 0px;
                    border: none;
                    border-right: 1px solid #FABB00;
                    border-left: 1px solid #FABB00;

                    a {
                        text-decoration: underline;
                        text-transform: capitalize;
                        color: #FFF;
                    }
                }

                .route-link {
                    cursor: pointer;
                    margin: 5px auto 10px auto;
                    color: #FFF;
                    border-bottom: 1px solid #fff;
                    text-decoration: none;
                }
            }

            .have-an-account {
                margin: 15px auto 15px auto;
                text-align: center;
            }

            .login-access {
                display: block;
                margin: 15px auto 15px auto;
                border-radius: 20px;
                cursor: pointer;
                margin: 5px auto 10px auto;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 10px 0px;
                border: none;
                border-right: 1px solid #FABB00;
                border-left: 1px solid #FABB00;
                text-align: center;

                .login-route-link {
                    margin: 15px auto 15px auto;
                    color: #fff;
                    text-transform: capitalize;
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
        }

        .cancel-btn-wrapper {
            margin: 0px auto 0px auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .cancel-verification {
                border-radius: 20px;
                cursor: pointer;
                margin: 5px auto 10px auto;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 10px 0px;
                border: none;
                border-right: 1px solid #FABB00;
                border-left: 1px solid #FABB00;

                a {
                    text-decoration: underline;
                    text-transform: capitalize;
                    color: #FFF;
                }
            }
        }
    }
}