@use '../styles/index' as style;

.workspace-core-functionalities {
    box-shadow: 0px 0px 4px 2px #FABB0040;
    @include style.background-color(#000000B3);
    @include style.position(relative);
    @include style.margin-x-y(style.$space-10, style.$auto, style.$space-5 , style.$auto );
    @include style.text-color(#fff);
    @include style.border-radius(4px);
    display: flex;
    flex-wrap: wrap;
    transition: width .2s ease-in-out, height .2s ease-in-out;
    font-size: 12px;

    .binder {
        margin: 10px auto;
        padding: 20px 0px 10px 0px;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:320px)and (max-width:600.9px) {
    .workspace-core-functionalities {
        @include style.min-width(300px);
        @include style.max-width(540px);
        @include style.min-height(120px);
    }
}

@media screen and (min-width:601px) {
    .workspace-core-functionalities {
        @include style.width(90%);
    }
}