//top layer of the left side bar
.workspace-core-functionalities {
    background-color: #000000B3;
    position: relative;
    margin: 10px auto 5px auto;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    transition: width .2s ease-in-out, height .2s ease-in-out;

    .center-content {
        margin: 10px auto;
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 600.9px) {
    .workspace-core-functionalities {
        width: 300px;

        .center-content {
            width: 300px;
        }
    }
}

@media screen and (min-width: 601px) {
    .workspace-core-functionalities {
        width: 300px;

        .center-content {
            width: 300px;
        }
    }
}