@use '@/app/styles/index' as style;

.textarea-live-text-wrapper {
    position: relative;

    .textarea-live-text {
        background-color: #79674E40;
        min-width: 200px;
        font-size: 10pt;
        cursor: default;
        max-width: 250px;
        padding: 5px 8px;
        // border: style.$space-2 solid #ffffff40;
        z-index: 3;
        box-shadow: inset 0px 0px 4px 2px #FAAA0040, 0px 0px 4px 0px #FAAA0040;
    }

    .textarea-live-text::selection {
        background-color: transparent;
    }
}