@import "../_variables";
@import "../_mixins";

.primary-workspace-controls-and-workspace-details {
    @include display-align(flex);
    @include flex-align(wrap);
    // @include justify-content(center);
    // @include align-content(center);
    @include margin-x-y($_0, $auto, $_0 , $_0 );
    @include width(700px);
    @include height(100px);

    .primary-workspace-controls {
        @include display-align(flex);
        @include flex-align(wrap);
        @include justify-content(flex-start);
        @include align-content(center);
        @include margin-x-y($_0, $auto, $_0 , $_0 );
        @include width(120px);

        .refresh-workspace-btn-wrapper {
            @include display-align(flex);
            @include flex-align(wrap);
            @include justify-content(center);
            @include align-content(center);
            @include height(30px);
            @include margin-x-y($_5, $_0, $_5 , $_0 );

            .refresh-workspace-btn {
                @include display-align(flex);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-content(center);
                @include text-color(#FABB00DD);
                letter-spacing: $_1;
                @include background-color(#1C1C1C);
                @include border-radius($_4);
                @include border($_2, solid, #555555);
                @include padding-x-y($_4, $_20, $_4 , $_20 );
                @include margin-x-y($_5, $_4, $_5 , $_0 );
                @include text-style(underline);
                @include width(100px);
                cursor: pointer;
            }
        }

        .save-workspace-btn-wrapper {
            @include display-align(flex);
            @include flex-align(wrap);
            @include justify-content(center);
            @include align-content(center);
            @include height(30px);
            @include margin-x-y($_5, $_0, $_5 , $_0 );

            .save-workspace-btn {
                @include display-align(flex);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-content(center);
                @include text-color(#00FAA0DD);
                letter-spacing: $_1;
                @include background-color(#1C1C1C);
                @include border-radius($_4);
                @include border($_2, solid, #555555);
                @include padding-x-y($_4, $_20, $_4 , $_20 );
                @include margin-x-y($_5, $_4, $_5 , $_0 );
                @include text-style(underline);
                @include width(100px);
                cursor: pointer;
            }

        }
    }

    .workspace-details {
        @include display-align(flex);
        @include flex-align(wrap);
        @include justify-content(flex-end);
        @include align-content(center);
        @include width(280px);
        @include margin-x-y($_0, $_0, $_0 , $auto );


        .workspace-id-wrapper,
        .workspace-name-wrapper {
            @include display-align(flex);
            @include justify-items(center);
            @include align-items(center);
            @include height(30px);
            @include margin-x-y($_5, $_0, $_5 , $_0 );
            @include background-color(#000000);

            .workspace-name {
                @include text-color(#fff);
                @include background-color(#000000DD);
                @include border-radius($_4);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_20, $_4 , $_4 );
                @include width(210px);
            }

            .clipboard-icon {
                @include display-align(flex);
                @include background-color(#000000DD);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-items(center);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_0, $_4 , $_0 );
                @include width(20px);
                @include height(20px);
                cursor: pointer;
            }

            .workspace-id {
                @include text-color(#fff);
                @include background-color(#000000DD);
                @include border-radius($_4);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_20, $_4 , $_4 );
                @include width(210px);
            }

            .eye-icon {
                @include display-align(flex);
                @include background-color(#000000DD);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-items(center);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_4, $_4 , $_0 );
                @include width(20px);
                @include height(20px);
                cursor: pointer;
            }

            .clipboard-icon {
                @include display-align(flex);
                @include background-color(#000000DD);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-items(center);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_0, $_4 , $_0 );
                @include width(20px);
                @include height(20px);
                cursor: pointer;
            }
        }

    }
}