@use '../../styles/index' as style;

.page {
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    //temp bg color until global localstorage for color background color is istalled
    @include style.background-color(rgba(0, 0, 0, 0.65));
    @include style.text-color(#fff);
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
    @include style.padding-x-y(style.$space-0, style.$space-0, style.$space-10, style.$space-0 );
    @include style.position(relative);
}