$_0: 0px;
$_1: 1px;
$_2: 2px;
$_3: 3px;
$_4: 4px;
$_5: 5px;
$_6: 6px;
$_7: 7px;
$_8: 8px;
$_9: 9px;
$_10: 10px;
$_15: 15px;
$_20: 20px;
$_22: 22px;
$_27: 27px;
$_30: 30px;
$_35: 35px;
$_40: 40px;
$_50: 50px;
$_60: 60px;
$_70: 70px;
$_80: 80px;
$_100: 100px;
$_120: 120px;
$_150: 150px;
$_180: 180px;
$_200: 200px;
$_230: 230px;
$_250: 250px;
$_280: 280px;
$_300: 300px;
$_330: 330px;
$_350: 350px;
$_400: 400px;
$_450: 450px;
$_500: 500px;
$_550: 550px;
$_600: 600px;
$_650: 650px;
$_700: 700px;
$_750: 750px;
$_800: 800px;
$_850: 850px;
$_900: 900px;
$_950: 950px;
$_1000: 1000px;
$auto: auto;

@mixin display-align($Type) {
    display: $Type;
}

@mixin justify-items($Type) {
    justify-items: $Type;
}

@mixin justify-content($Type) {
    justify-content: $Type;
}

@mixin align-content($Type) {
    align-content: $Type;
}

@mixin align-items($Type) {
    align-items: $Type;
}

@mixin flex-align($Type) {
    flex-wrap: $Type;
}

@mixin margin-x-y($x1, $y1, $x2, $y2) {
    margin: $x1 $y1 $x2 $y2;
}

@mixin padding-x-y($x1, $y1, $x2, $y2) {
    padding: $x1 $y1 $x2 $y2;
}

@mixin align-text($Type) {
    text-align: $Type;
}

@mixin text-color($color) {
    color: $color;
}

@mixin background($Type) {
    background: $Type;
}

@mixin background-color($color) {
    background-color: $color;
}

@mixin width($width) {
    width: $width;
}

@mixin height($height) {
    height: $height;
}

@mixin min-height($min-height) {
    min-height: $min-height;
}

@mixin max-height($max-height) {
    max-height: $max-height;
}

@mixin font-size($size) {
    font-size: $size;
}