@import "_mixins";
@import "_variables";

.workspace-sheet-wrapper {
    @include display-align(block);
    @include background-color(#1c1c1c);
    @include border-radius($_10);
    box-shadow: $_0 $_4 $_6 $_3 #4c4c4c;
    @include margin-x-y($_20, $auto, $_20 , $auto );
    @include padding-x-y($_2, $_0, $_2 , $_0 );
    transition: width .2s ease-in-out, height .2s ease-in-out;
    @include max-height(140px);
    @include height(auto);

    .workspace-sheet {
        @include margin-x-y($_0, $auto, $_0 , $auto );
        transition: width .2s ease-in-out, height .2s ease-in-out;

        .workspace-sheet-forefront-data {
            @include margin-x-y($_0, $auto, $_0 , $auto );
            @include display-align(flex);
            @include flex-align(wrap);
            @include align-content(flex-start);
            @include justify-content(left);
            @include text-color(#fff);

            .dynamic-workspace-route {
                @include margin-x-y($_0, $_0, $_0 , $_0 );
                @include display-align(flex);
                @include justify-items(center);
                transform: rotate(180deg);
                @include align-items(center);

                .forward-to-workspace-icon {
                    @include margin-x-y($_0, $_0, $_0 , $_10 );
                    @include display-align(flex);
                    @include justify-content(left);
                    @include align-content(center);
                }
            }

            .workspace-name {
                @include height(20px);
                @include display-align(block);
                @include flex-align(wrap);
                @include justify-content(left);
                @include align-content(flex-start);
                transition: border .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out;
                @include border-top ($_2, solid, transparent);
                @include border-left ($_2, solid, transparent);
                @include border-right ($_2, solid, transparent);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $_0, $_4, $_0);
                outline: $_2 solid #1c1c1c;
                @include background-color(#1c1c1c);
                @include text-color(#fff);
                cursor: pointer;
            }

            .workspace-name::placeholder {
                @include text-color(#fff);
            }

            .workspace-name:focus {
                @include border-top ($_2, solid, #1c1c1c);
                @include border-left ($_2, solid, #1c1c1c);
                @include border-right ($_2, solid, #FABB00DD);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $_0, $_4, $_0);
                outline: $_2 solid #1c1c1c;
                @include background-color(#1c1c1c);
                @include text-color(#fff);
                cursor: pointer;
            }

            .workspace-description {
                @include height(40px);
                @include max-height(60px);
                @include display-align(flex);
                @include flex-align(wrap);
                @include align-items(flex-start);
                @include justify-items(left);
                transition: border .2s ease-in-out,
                    height .2s ease-in-out;
                @include border-top ($_2, solid, transparent);
                @include border-left ($_2, solid, transparent);
                @include border-right ($_2, solid, transparent);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $_0, $_4, $_0);
                outline: $_2 solid #1c1c1c;
                @include background-color(#1c1c1c);
                @include text-color(#fff);
                resize: none;
                cursor: pointer;
            }

            .workspace-description::placeholder {
                @include text-color(#fff);
            }

            .workspace-description:focus {
                @include border-top ($_2, solid, #1c1c1c);
                @include border-left ($_2, solid, #1c1c1c);
                @include border-right ($_2, solid, #FABB00DD);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $_0, $_4, $_0);
                @include text-color(#fff);
                @include background-color(#1c1c1c);
                outline: $_2 solid #1c1c1c;
                cursor: pointer;
            }

            .update-workspace-sheet {
                @include margin-x-y($_2, $auto, $_2, $auto);
                @include text-color(#FABB00);
                @include align-text(center);
                @include background-color(#1c1c1c);
                @include border-top ($_2, solid, #1c1c1c);
                @include border-left ($_2, solid, #1c1c1c);
                @include border-right ($_2, solid, #1c1c1c);
                @include border-bottom ($_2, solid, #1c1c1c);
                text-transform: uppercase;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .workspace-sheet-temp-field {
        @include margin-x-y($_20, $auto, $_20 , $auto );

        .workspace-name {
            @include width(250px);
        }

        .workspace-name:focus {
            @include width(250px);
        }

        .workspace-description {
            @include width(250px);
        }

        .workspace-description:focus {
            @include width(250px);
        }

        transition: width .2s ease-in-out,
        height .2s ease-in-out;

        .workspace-sheet-forefront-data {
            @include margin-x-y($_0, $auto, $_0 , $auto );
            @include display-align(flex);
            @include flex-align(wrap);
            @include align-content(flex-start);
            @include justify-content(left);
            @include text-color(#fff);

            .dynamic-workspace-route {
                @include margin-x-y($_0, $_0, $_0 , $_0 );
                @include display-align(flex);
                @include justify-items(center);
                transform: rotate(180deg);
                @include align-items(center);

                .forward-to-workspace-icon {
                    @include margin-x-y($_0, $_0, $_0 , $_10 );
                    @include display-align(flex);
                    @include justify-content(left);
                    @include align-content(center);
                }
            }

            .workspace-name {
                @include height(20px);
                @include display-align(block);
                @include flex-align(wrap);
                @include justify-content(left);
                @include align-content(flex-start);
                transition: border .2s ease-in-out, height .2s ease-in-out;
                @include border-top ($_2, solid, transparent);
                @include border-left ($_2, solid, transparent);
                @include border-right ($_2, solid, transparent);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $auto, $_4, $auto);
                outline: $_2 solid #1c1c1c;
                @include background-color(#1c1c1c);
                @include text-color(#fff);
                cursor: pointer;
            }

            .workspace-name::placeholder {
                @include text-color(#fff);
            }

            .workspace-name:focus {
                @include border-top ($_2, solid, #1c1c1c);
                @include border-left ($_2, solid, #1c1c1c);
                @include border-right ($_2, solid, #FABB00DD);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $auto, $_4, $auto);
                outline: $_2 solid #1c1c1c;
                @include background-color(#1c1c1c);
                @include text-color(#fff);
                cursor: pointer;
            }

            .workspace-description {
                @include height(60px);
                @include max-height(40px);
                @include display-align(flex);
                @include flex-align(wrap);
                @include align-items(flex-start);
                @include justify-items(left);
                transition: border .2s ease-in-out,
                    height .2s ease-in-out;
                @include border-top ($_2, solid, transparent);
                @include border-left ($_2, solid, transparent);
                @include border-right ($_2, solid, transparent);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $auto, $_4, $auto);
                outline: $_2 solid #1c1c1c;
                @include background-color(#1c1c1c);
                @include text-color(#fff);
                resize: none;
                cursor: pointer;
            }

            .workspace-description::placeholder {
                @include text-color(#fff);
            }

            .workspace-description:focus {
                @include border-top ($_2, solid, #1c1c1c);
                @include border-left ($_2, solid, #1c1c1c);
                @include border-right ($_2, solid, #FABB00DD);
                @include border-bottom ($_2, solid, #FABB00DD);
                @include margin-x-y($_0, $auto, $_4, $auto);
                @include text-color(#fff);
                @include background-color(#1c1c1c);
                outline: $_2 solid #1c1c1c;
                cursor: pointer;
            }

            .create-workspace-sheet {
                @include margin-x-y($_2, $auto, $_2, $auto);
                @include text-color(#00BBFA);
                @include align-text(center);
                @include background-color(#1c1c1c);
                @include border-top ($_2, solid, #1c1c1c);
                @include border-left ($_2, solid, #1c1c1c);
                @include border-right ($_2, solid, #1c1c1c);
                @include border-bottom ($_2, solid, #1c1c1c);
                text-transform: uppercase;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}


@media screen and (min-width:320px) and (max-width:425.9px) {
    .workspace-sheet-wrapper {
        @include width(260px);

        .workspace-sheet {
            @include width(240px);

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include width(40px);

                    .forward-to-workspace-icon {
                        @include width(20px);
                        @include height(30px);
                    }
                }
            }

            .workspace-name {
                @include width(174px);
            }

            .workspace-name:focus {
                @include width(174px);
            }

            .workspace-description {
                @include width(214px);
            }

            .workspace-description:focus {
                @include width(214px);
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .workspace-sheet-wrapper {
        @include width(370px);

        .workspace-sheet {
            @include width(360px);

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include width(40px);

                    .forward-to-workspace-icon {
                        @include width(20px);
                        @include height(30px);
                    }
                }
            }

            .workspace-name {
                @include width(250px);
            }

            .workspace-name:focus {
                @include width(250px);
            }

            .workspace-description {
                @include width(290px);
            }

            .workspace-description:focus {
                @include width(290px);
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .workspace-sheet-wrapper {
        @include width(400px);

        .workspace-sheet {
            @include width(360px);

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include width(40px);

                    .forward-to-workspace-icon {
                        @include width(20px);
                        @include height(30px);
                    }
                }
            }

            .workspace-name {
                @include width(250px);
            }

            .workspace-name:focus {
                @include width(250px);
            }

            .workspace-description {
                @include width(290px);
            }

            .workspace-description:focus {
                @include width(290px);
            }
        }
    }
}

@media screen and (min-width:769px) {
    .workspace-sheet-wrapper {
        @include width(300px);
        @include margin-x-y($_20, $auto, $_20 , $auto );

        .workspace-sheet {
            @include width(280px);
            @include margin-x-y($_20, $auto, $_20 , $auto );

            .workspace-sheet-forefront-data {
                .dynamic-workspace-route {
                    @include width(32px);

                    .forward-to-workspace-icon {
                        @include height(20px);
                    }
                }
            }

            .workspace-name {
                @include width(218px);
            }

            .workspace-name:focus {
                @include width(218px);
            }

            .workspace-description {
                @include width(250px);
            }

            .workspace-description:focus {
                @include width(250px);
            }
        }
    }
}