@use '../styles/index' as style;


@mixin linearGradient($color1, $color2, $color3,
    $color4, $color5,
    $color6, $color7) {

    background: conic-gradient(from -119deg at center center, $color1,
            $color2,
            $color3,
            $color4, $color5,
            $color6, $color7);
}

@mixin DataComponent {
    @include style.justify-content(center);
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
    @include style.border-bottom(style.$space-2, solid, #FAAA0040);
    transition: height .2s ease-in-out, width .2s ease-in-out, translate ease;
    // margin: 0px auto 5px 30px;
}


@mixin Angular-Gradient() {
    @include style.linearGradient(style.$Gold 0.2deg, style.$darkAsdhBlack 55.6deg, style.$darkAsdhBlack 116.8deg, style.$Gold 169.2deg, style.$darkAsdhBlack 257.8deg,
        style.$darkAsdhBlack 313.6deg,
        style.$Gold 345.6deg);
}

.media-fragment-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 450px;
    padding: 5px 5px 10px 5px;
    max-height: 300px;
    overflow-y: hidden;
    background-color: #000000;
    box-shadow: 0px 0px 4px 2px #FAAA0040;
    cursor: move;

    // ::-webkit-scrollbar {
    //     width: 10px;
    //     background-color: #FAAA0040;
    //     border-radius: 10px;
    // }

    // ::-webkit-scrollbar-track {
    //     width: 10px;
    //     background-color: #fff;
    //     border-radius: 10px;
    // }

    // ::-webkit-scrollbar-thumb {
    //     width: 10px;
    //     background-color: #FAAA0073;
    //     border-radius: 10px;
    // }

    // ::-webkit-scrollbar-button {
    //     width: 10px;
    //     background-color: #FAAA0073;
    //     border-radius: 10px;
    //     color: #FAAA0073;
    // }


    .media-fragment {
        margin: 0px auto;
        font-size: 10pt;
        text-align: start;
        font-size: 12px;
        word-break: keep-all;
        min-width: 200px;
        max-width: 450px;
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 20px;
        max-height: 200px;
        padding: 5px;
        cursor: move;
        border-bottom: 1px solid #FAAA0040;
    }


    .text-fragment::selection {
        background-color: transparent;
    }

    .media-fragment-button {
        width: 200px;
        display: block;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2px;
        background-color: #000000;
        color: #FAAA00;
        cursor: pointer;
        box-shadow: 0px 0px 4px 0px #FAAA0040;
        @include style.border-top(style.$space-2, solid, #FAAA0040);
        @include style.border-left(style.$space-2, solid, #FAAA0040);
        @include style.border-right(style.$space-2, solid, #FAAA0040);
        @include style.border-bottom(style.$space-2, solid, #FAAA0040);
    }

    @include DataComponent;
    cursor: move;



}


@media screen and (min-width: 425px) and (max-width:767.9px) {}

@media screen and (min-width: 768px) and (max-width:1023.9px) {
    .data-text-component {
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .data-text-component {
        width: 350px;
    }
}