.media-fragment-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 10px 5px;
    max-height: 300px;
    overflow-y: hidden;
    background-color: #000000;
    box-shadow: 0px 0px 4px 2px #FAAA0040;
    cursor: move;
    /* --- DataComponent mixin inlined --- */
    justify-content: center;
    margin: 0px auto 0px auto;
    border-bottom: 2px solid #FAAA0040;
    transition: height .2s ease-in-out, width .2s ease-in-out, translate ease;
}

.media-fragment-container .media-fragment {
    margin: 0px auto;
    font-size: 12px;
    text-align: start;
    word-break: keep-all;
    overflow-x: hidden;
    overflow-y: auto;

    padding: 5px;
    cursor: text;
    border-bottom: 1px solid #FAAA0040;
}

.media-fragment-container .text-fragment::selection {
    background-color: transparent;
}

.media-fragment-container .media-fragment-button {
    // width: 200px;
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding-bottom: 2px;
    background-color: #000000;
    color: #FAAA00;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #FAAA0040;
    border-radius: 4px;
    border-top: 2px solid #FAAA0040;
    border-left: 2px solid #FAAA0040;
    border-right: 2px solid #FAAA0040;
    border-bottom: 2px solid #FAAA0040;
}

@media screen and (min-width:320px) and (max-width:600.9px) {
    .media-fragment-container {
        min-width: 250px;
        max-width: 280px;
    }

    .media-fragment-container .media-fragment {
        width: 250px;
        min-height: 200px;
        max-height: 200px;
    }

    .media-fragment-container .media-fragment-button {
        width: 250px;
    }
}

@media screen and (min-width:601px) {
    .media-fragment-container {
        width: 450px;
        max-width: 600px;
    }

    .media-fragment-container .media-fragment {
        min-width: 400px;
        max-width: 450px;
        min-height: 20px;
        max-height: 200px;
    }

    .media-fragment-container .media-fragment-button {
        width: 180px;
    }
}