@use '../../../../../styles/index' as style;

.work-workspace-management-main-container {
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );

    .work-workspace-management-container-wrapper {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
        @include style.position(relative);
        @include style.display-align(flex);
        @include style.background-color(rgba(0, 0, 0, 0.7));
        justify-content: start;

        .canva-properties-wrapper {
            position: absolute;
            background-color: #000;
            border-right: 1px solid #daa520;
            border-bottom: 1px solid #daa520;
            border-bottom-right-radius: 4px;
            transition: left .2s ease-in-out, top .2s ease-in-out, width .3s ease-in-out, height .3s ease-in-out, opacity .8s;
            //width is by default 300px and display none for max canva size on any screen
            //large screens have the canva media fragments showing and for small screens it 
            //must be toggled to access the canva media fragment nav bar
            // width: 30px;
            height: fit-content;
            top: 0px;
            left: 0px;
            z-index: 20;

            .work-workspace-management-container {
                justify-content: start;
                @include style.flex-align(wrap);
                @include style.align-text(center);
                @include style.border-radius(4px);

                .media-fragment-hub-toggle-icon {
                    cursor: pointer;

                    img {
                        display: block;
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                    }
                }
            }


            .work-workspace-management-container:nth-child(1) {
                @include style.width(auto);
            }
        }


        .work-workspace-management-container {
            justify-content: start;
            @include style.flex-align(wrap);
            @include style.align-text(center);
            @include style.border-radius(4px);

        }

        .work-workspace-management-container:nth-child(2) {
            // @include style.min-height(820px);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto );
            // @include style.width(100%);
        }
    }
}

@media screen and (min-width:320px) and (max-width:600.9px) {
    .work-workspace-management-main-container {
        .work-workspace-management-container-wrapper {
            @include style.height(100%);
            @include style.width(100%);

            // .canva-properties-wrapper {
            //     .work-workspace-management-container {
            //         .media-fragment-hub-toggle-icon {
            //             img {}
            //         }
            //     }


            //     .work-workspace-management-container:nth-child(1) {}
            // }

            .work-workspace-management-container {
                @include style.width(98%);
                @include style.height(100%);
            }

            .work-workspace-management-container:nth-child(2) {
                @include style.min-height(420px);
                // @include style.width(100%);
            }
        }
    }

}

@media screen and (min-width:601px) {
    .work-workspace-management-main-container {
        display: block;

        .work-workspace-management-container-wrapper {
            // @include style.width(100%);

            // .canva-properties-wrapper {
            //     .work-workspace-management-container {
            //         .media-fragment-hub-toggle-icon {
            //             img {}
            //         }
            //     }


            //     .work-workspace-management-container:nth-child(1) {}
            // }

            .work-workspace-management-container {
                @include style.width(98%);
            }
        }
    }
}