@import "_variables";

@mixin display-align($Type) {
    display: $Type;
}

@mixin justify-items($Type) {
    justify-items: $Type;
}

@mixin justify-content($Type) {
    justify-content: $Type;
}

@mixin align-content($Type) {
    align-content: $Type;
}

@mixin align-items($Type) {
    align-items: $Type;
}

@mixin flex-align($Type) {
    flex-wrap: $Type;
}

@mixin margin-x-y($x1, $y1, $x2, $y2) {
    margin: $x1 $y1 $x2 $y2;
}

@mixin padding-x-y($x1, $y1, $x2, $y2) {
    padding: $x1 $y1 $x2 $y2;
}

@mixin align-text($Type) {
    text-align: $Type;
}

@mixin text-color($color) {
    color: $color;
}

@mixin background($Type) {
    background: $Type;
}

@mixin background-color($color) {
    background-color: $color;
}

@mixin width($width) {
    width: $width;
}

@mixin min-width($min-width) {
    min-width: $min-width;
}

@mixin max-width($max-width) {
    max-width: $max-width;
}

@mixin height($height) {
    height: $height;
}

@mixin min-height($min-height) {
    min-height: $min-height;
}

@mixin max-height($max-height) {
    max-height: $max-height;
}

@mixin font-size($size) {
    font-size: $size;
}

@mixin border($thickness, $type, $color) {
    border: $thickness $type $color;
}

@mixin border-top($thickness, $type, $color) {
    border-top: $thickness $type $color;
}

@mixin border-bottom($thickness, $type, $color) {
    border-bottom: $thickness $type $color;
}

@mixin border-left($thickness, $type, $color) {
    border-left: $thickness $type $color;
}

@mixin border-right($thickness, $type, $color) {
    border-right: $thickness $type $color;
}

@mixin border-radius($thickness) {
    border-radius: $thickness;
}

@mixin position($position) {
    position: $position;
}

@mixin top($position) {
    top: $position;
}

@mixin bottom($position) {
    bottom: $position;
}

@mixin left($position) {
    left: $position;
}

@mixin right($position) {
    right: $position;
}

@mixin url($url){
background: url($url);
}

@mixin text-style($style) {
    text-decoration: $style;
}

@mixin linearGradient($color1, $color2, $color3,
    $color4, $color5,
    $color6, $color7) {

    background: conic-gradient(from -119deg at center center, $color1,
            $color2,
            $color3,
            $color4, $color5,
            $color6, $color7);
}

@mixin DataComponent {
    @include display-align(flex);
    @include justify-content(center);
    @include align-items(flex-start);
    @include margin-x-y($_0, $auto, $_0 , $auto );
    @include background-color(#111);
    @include border-bottom($_2, solid, #00FBA0B3);
    @include width(350px);
    @include height(120px);
    transition: height .2s ease-in-out, width .2s ease-in-out;
}


@mixin Angular-Gradient() {
    @include linearGradient($Gold 0.2deg, $darkAsdhBlack 55.6deg, $darkAsdhBlack 116.8deg, $Gold 169.2deg, $darkAsdhBlack 257.8deg,
        $darkAsdhBlack 313.6deg,
        $Gold 345.6deg);
}