@import "_variables";
@import "_mixins";

//where data is displayed
.data-container {

    //temp width this is a media query
    @include height(550px);
    @include width(700px);
    @include border-radius(10px);
    @include margin-x-y($_0, $auto, $_0 , $auto );
    @include background-color(rgba(0, 0, 0, 0.7));

    overflow: scroll;
    white-space: none;

    .data-scroll-board {
        @include position(relative);
    }
}