@import "_variables";
@import "_mixins";

//where data is displayed
.data-container {
    @include border-radius(10px);
    @include margin-x-y($_0, $auto, $_0 , $auto );
    @include background-color(rgba(0, 0, 0, 0.7));
    overflow: scroll;
    white-space: none;
    transition: width .2s ease-in-out, height .2s ease-in-out;

    .data-scroll-board {
        @include position(relative);
    }
}


@media screen and (min-width:320px) and (max-width:600.9px) {
    .data-container {
        @include height(550px);
        @include width(98%);
    }
}

@media screen and (min-width:601px) {
    .data-container {
        @include height(500px);
        @include width(98%);
    }
}