@import "_variables";
@import "_mixins";

.primary-workspace-controls-and-workspace-details {
    @include display-align(flex);
    @include flex-align(wrap);
    @include margin-x-y($_0, $auto, $_0 , $_0 );

    .primary-workspace-controls {
        @include display-align(flex);
        @include flex-align(wrap);
        @include justify-content(flex-start);
        @include align-content(center);
        @include margin-x-y($_0, $auto, $_0 , $_0 );
        @include width(120px);
        transition: width .2s ease-in-out, height .2s ease-in-out;

        .refresh-workspace-btn-wrapper {
            @include display-align(flex);
            @include flex-align(wrap);
            @include justify-content(center);
            @include align-content(center);
            @include height(30px);
            @include margin-x-y($_5, $_0, $_5 , $_0 );

            .refresh-workspace-btn {
                @include display-align(flex);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-content(center);
                @include text-color(#FABB00DD);
                letter-spacing: $_1;
                @include background-color(#1C1C1C);
                @include border-radius($_4);
                @include border($_2, solid, #555555);
                @include padding-x-y($_4, $_20, $_4 , $_20 );
                @include margin-x-y($_5, $_4, $_5 , $_0 );
                @include text-style(underline);
                @include width(100px);
                cursor: pointer;
            }
        }

        .save-workspace-btn-wrapper {
            @include display-align(flex);
            @include flex-align(wrap);
            @include justify-content(center);
            @include align-content(center);
            @include height(30px);
            @include margin-x-y($_5, $_0, $_5 , $_0 );

            .save-workspace-btn {
                @include display-align(flex);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-content(center);
                @include text-color(#00FAA0DD);
                letter-spacing: $_1;
                @include background-color(#1C1C1C);
                @include border-radius($_4);
                @include border($_2, solid, #555555);
                @include padding-x-y($_4, $_20, $_4 , $_20 );
                @include margin-x-y($_5, $_4, $_5 , $_0 );
                @include text-style(underline);
                @include width(100px);
                cursor: pointer;
            }

        }
    }

    .workspace-details {
        @include display-align(flex);
        @include flex-align(wrap);
        @include justify-content(flex-end);
        @include align-content(center);
        @include margin-x-y($_0, $auto, $_0 , $auto );


        .workspace-id-wrapper,
        .workspace-name-wrapper {
            @include display-align(flex);
            @include justify-items(center);
            @include align-items(center);
            @include height(30px);
            @include margin-x-y($_5, $_0, $_5 , $_0 );
            @include background-color(#000000);

            .workspace-name {
                @include text-color(#fff);
                @include background-color(#000000DD);
                @include border-radius($_4);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_20, $_4 , $_4 );
            }

            .clipboard-icon {
                @include display-align(flex);
                @include background-color(#000000DD);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-items(center);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_0, $_4 , $_0 );
                @include width(20px);
                @include height(20px);
                cursor: pointer;
            }

            .workspace-id {
                @include text-color(#fff);
                @include background-color(#000000DD);
                @include border-radius($_4);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_20, $_4 , $_4 );
            }

            .eye-icon {
                @include display-align(flex);
                @include background-color(#000000DD);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-items(center);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_4, $_4 , $_0 );
                @include width(20px);
                @include height(20px);
                cursor: pointer;
            }

            .clipboard-icon {
                @include display-align(flex);
                @include background-color(#000000DD);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-items(center);
                @include margin-x-y($_5, $_0, $_5 , $_0 );
                @include padding-x-y($_4, $_0, $_4 , $_0 );
                @include width(20px);
                @include height(20px);
                cursor: pointer;
            }
        }

    }
}

@media screen and (min-width:320px) and (max-width: 600.9px) {
    .primary-workspace-controls-and-workspace-details {
        @include width(300px);
        @include height(200px);
        @include margin-x-y($_0, $auto, $_0,
            $auto);

        .primary-workspace-controls {
            @include width(300px);
            @include justify-content(center);

            .refresh-workspace-btn-wrapper {
                @include display-align(block);
                @include margin-x-y($_5, $auto, $_5,
                    $auto);

                .refresh-workspace-btn {
                    @include width(280px);
                    @include margin-x-y($_5, $_0, $_5 , $_0 );
                }

                .save-workspace-btn-wrapper {
                    @include width(280px);
                    @include margin-x-y($_5, $_0, $_5 , $_0 );
                }
            }
        }

        .workspace-details {
            @include width(300px);
            @include justify-content(center);

            .workspace-id-wrapper,
            .workspace-name-wrapper {

                .workspace-name,
                .workspace-id {
                    @include padding-x-y($_4, $_0, $_4 , $_4 );
                    @include width(230px);

                }
            }
        }
    }
}

@media screen and (min-width:601px) {
    .primary-workspace-controls-and-workspace-details {
        @include width(500px);
        @include height(150px);
        @include margin-x-y($_0, $auto, $_0,
            $auto);

        .primary-workspace-controls {
            @include width(120px);
            @include margin-x-y($_0, $auto, $_0,
                $auto);

            .refresh-workspace-btn-wrapper,
            .save-workspace-btn-wrapper {
                @include width(120px);

                .refresh-workspace-btn {
                    @include width(100px);
                }

                .save-workspace-btn {
                    @include width(100px);
                }
            }
        }

        .workspace-details {
            @include width(300px);
            @include justify-content(center);

            .workspace-id-wrapper,
            .workspace-name-wrapper {

                .workspace-name,
                .workspace-id {
                    @include padding-x-y($_4, $_0, $_4 , $_4 );
                    @include width(230px);

                }
            }
        }
    }
}