$_0: 0px;
$_1: 1px;
$_2: 2px;
$_3: 3px;
$_4: 4px;
$_5: 5px;
$_6: 6px;
$_7: 7px;
$_8: 8px;
$_9: 9px;
$_10: 10px;
$_15: 15px;
$_20: 20px;
$_22: 22px;
$_27: 27px;
$_30: 30px;
$_35: 35px;
$_40: 40px;
$_50: 50px;
$_60: 60px;
$_70: 70px;
$_80: 80px;
$_100: 100px;
$_120: 120px;
$_150: 150px;
$_180: 180px;
$_200: 200px;
$_230: 230px;
$_250: 250px;
$_280: 280px;
$_300: 300px;
$_330: 330px;
$_350: 350px;
$_400: 400px;
$_450: 450px;
$_500: 500px;
$_550: 550px;
$_600: 600px;
$_650: 650px;
$_700: 700px;
$_750: 750px;
$_800: 800px;
$_850: 850px;
$_900: 900px;
$_950: 950px;
$_1000: 1000px;
$auto: auto;

@mixin display-align($Type) {
    display: $Type;
}

@mixin justify-items($Type) {
    justify-items: $Type;
}

@mixin justify-content($Type) {
    justify-content: $Type;
}

@mixin align-content($Type) {
    align-content: $Type;
}

@mixin align-items($Type) {
    align-items: $Type;
}

@mixin flex-align($Type) {
    flex-wrap: $Type;
}

@mixin margin-x-y($x1, $y1, $x2, $y2) {
    margin: $x1 $y1 $x2 $y2;
}

@mixin padding-x-y($x1, $y1, $x2, $y2) {
    padding: $x1 $y1 $x2 $y2;
}

@mixin align-text($Type) {
    text-align: $Type;
}

@mixin text-color($color) {
    color: $color;
}

@mixin background($Type) {
    background: $Type;
}

@mixin background-color($color) {
    background-color: $color;
}

@mixin width($width) {
    width: $width;
}

@mixin min-width($min-width) {
    min-width: $min-width;
}

@mixin max-width($max-width) {
    max-width: $max-width;
}

@mixin height($height) {
    height: $height;
}

@mixin min-height($min-height) {
    min-height: $min-height;
}

@mixin max-height($max-height) {
    max-height: $max-height;
}

@mixin font-size($size) {
    font-size: $size;
}

@mixin border($thickness, $type, $color) {
    border: $thickness $type $color;
}

@mixin border-top($thickness, $type, $color) {
    border-top: $thickness $type $color;
}

@mixin border-bottom($thickness, $type, $color) {
    border-bottom: $thickness $type $color;
}

@mixin border-left($thickness, $type, $color) {
    border-left: $thickness $type $color;
}

@mixin border-right($thickness, $type, $color) {
    border-right: $thickness $type $color;
}

@mixin border-radius($thickness) {
    border-radius: $thickness;
}

@mixin position($position) {
    position: $position;
}

@mixin top($position) {
    top: $position;
}

@mixin bottom($position) {
    bottom: $position;
}

@mixin left($position) {
    left: $position;
}

@mixin right($position) {
    right: $position;
}

@mixin url($url){
background: url($url);
}

@mixin text-style($style) {
    text-decoration: $style;
}

@mixin linearGradient($color1, $color2, $color3,
    $color4, $color5,
    $color6, $color7) {

    background: conic-gradient(from -119deg at center center, $color1,
            $color2,
            $color3,
            $color4, $color5,
            $color6, $color7);
}

$darkAsdhBlack: rgb(12, 12, 12, 1);
$Gold: rgba(250, 186, 0, 0.7);

@mixin Angular-Gradient() {
    @include linearGradient($Gold 0.2deg, $darkAsdhBlack 55.6deg, $darkAsdhBlack 116.8deg, $Gold 169.2deg, $darkAsdhBlack 257.8deg,
        $darkAsdhBlack 313.6deg,
        $Gold 345.6deg);
}

.work-data-management-main-container {
    @include height(100%);
    @include url("https://res.cloudinary.com/djjvj73xa/image/upload/v1744216363/turqoise-triags_xmiedg.png");
    @include background-color(#000000);
    @include margin-x-y($_0, $auto, $_0 , $auto );
    z-index: 1;

    .work-data-management-container-wrapper {
        @include width(770px);
        @include margin-x-y($_40, $auto, $_0 , $auto );
        @include Angular-Gradient();

        .work-data-management-container {
            @include display-align(flex);
            @include flex-align(wrap);
            @include align-content(flex-start);
            //temp width
            @include width(700px);
            @include align-text(center);
            @include border-radius(6px);
            @include margin-x-y($_0, $auto, $_0 , $auto );
            @include min-height(820px);
            @include max-height(820px);

            .primary-workspace-controls-and-workspace-details {
                @include display-align(flex);
                @include flex-align(wrap);
                // @include justify-content(center);
                // @include align-content(center);
                @include margin-x-y($_0, $auto, $_0 , $_0 );
                @include width(700px);
                @include height(100px);

                .primary-workspace-controls {
                    @include display-align(flex);
                    @include flex-align(wrap);
                    @include justify-content(flex-start);
                    @include align-content(center);
                    @include margin-x-y($_0, $auto, $_0 , $_0 );
                    @include width(120px);

                    .refresh-workspace-btn-wrapper {
                        @include display-align(flex);
                        @include flex-align(wrap);
                        @include justify-content(center);
                        @include align-content(center);
                        @include height(30px);
                        @include margin-x-y($_5, $_0, $_5 , $_0 );

                        .refresh-workspace-btn {
                            @include display-align(flex);
                            @include flex-align(wrap);
                            @include justify-content(center);
                            @include align-content(center);
                            @include text-color(#FABB00DD);
                            letter-spacing: $_1;
                            @include background-color(#1C1C1C);
                            @include border-radius($_4);
                            @include border($_2, solid, #555555);
                            @include padding-x-y($_4, $_20, $_4 , $_20 );
                            @include margin-x-y($_5, $_4, $_5 , $_0 );
                            @include text-style(underline);
                            @include width(100px);
                            cursor: pointer;
                        }
                    }

                    .save-workspace-btn-wrapper {
                        @include display-align(flex);
                        @include flex-align(wrap);
                        @include justify-content(center);
                        @include align-content(center);
                        @include height(30px);
                        @include margin-x-y($_5, $_0, $_5 , $_0 );

                        .save-workspace-btn {
                            @include display-align(flex);
                            @include flex-align(wrap);
                            @include justify-content(center);
                            @include align-content(center);
                            @include text-color(#00FAA0DD);
                            letter-spacing: $_1;
                            @include background-color(#1C1C1C);
                            @include border-radius($_4);
                            @include border($_2, solid, #555555);
                            @include padding-x-y($_4, $_20, $_4 , $_20 );
                            @include margin-x-y($_5, $_4, $_5 , $_0 );
                            @include text-style(underline);
                            @include width(100px);
                            cursor: pointer;
                        }

                    }
                }

                .workspace-details {
                    @include display-align(flex);
                    @include flex-align(wrap);
                    @include justify-content(flex-end);
                    @include align-content(center);
                    @include width(280px);
                    @include margin-x-y($_0, $_0, $_0 , $auto );


                    .workspace-id-wrapper,
                    .workspace-name-wrapper {
                        @include display-align(flex);
                        @include justify-items(center);
                        @include align-items(center);
                        @include height(30px);
                        @include margin-x-y($_5, $_0, $_5 , $_0 );
                        @include background-color(#000000);

                        .workspace-name {
                            @include text-color(#fff);
                            @include background-color(#000000DD);
                            @include border-radius($_4);
                            @include margin-x-y($_5, $_0, $_5 , $_0 );
                            @include padding-x-y($_4, $_20, $_4 , $_4 );
                            @include width(210px);
                        }

                        .clipboard-icon {
                            @include display-align(flex);
                            @include background-color(#000000DD);
                            @include flex-align(wrap);
                            @include justify-content(center);
                            @include align-items(center);
                            @include margin-x-y($_5, $_0, $_5 , $_0 );
                            @include padding-x-y($_4, $_0, $_4 , $_0 );
                            @include width(20px);
                            @include height(20px);
                            cursor: pointer;
                        }

                        .workspace-id {
                            @include text-color(#fff);
                            @include background-color(#000000DD);
                            @include border-radius($_4);
                            @include margin-x-y($_5, $_0, $_5 , $_0 );
                            @include padding-x-y($_4, $_20, $_4 , $_4 );
                            @include width(210px);
                        }

                        .eye-icon {
                            @include display-align(flex);
                            @include background-color(#000000DD);
                            @include flex-align(wrap);
                            @include justify-content(center);
                            @include align-items(center);
                            @include margin-x-y($_5, $_0, $_5 , $_0 );
                            @include padding-x-y($_4, $_4, $_4 , $_0 );
                            @include width(20px);
                            @include height(20px);
                            cursor: pointer;
                        }

                        .clipboard-icon {
                            @include display-align(flex);
                            @include background-color(#000000DD);
                            @include flex-align(wrap);
                            @include justify-content(center);
                            @include align-items(center);
                            @include margin-x-y($_5, $_0, $_5 , $_0 );
                            @include padding-x-y($_4, $_0, $_4 , $_0 );
                            @include width(20px);
                            @include height(20px);
                            cursor: pointer;
                        }
                    }

                }
            }

            //where data is displayed
            .data-container {

                //temp width this is a media query
                @include height(550px);
                @include width(700px);
                @include border-radius(10px);
                @include margin-x-y($_0, $auto, $_0 , $auto );
                @include background-color(rgba(0, 0, 0, 0.7));

                overflow: scroll;
                white-space: none;

                .data-scroll-board {
                    @include position(relative);

                    //reusable text data component
                    .data-text-component {
                        @include display-align(flex);
                        @include justify-content(center);
                        @include align-items(center);
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#111);
                        @include border-bottom($_2, solid, #00FBA0B3);
                        @include width(350px);
                        @include height(30px);
                        transition: height .2s ease-in-out, width .2s ease-in-out;

                        .mass-enabled-input-text-field {
                            @include border-top($_2, solid, #111);
                            @include border-bottom($_2, solid, #111);
                            @include text-color(#fff);
                            @include border-left($_2, solid, #111);
                            @include border-right($_2, solid, #111);
                            @include background-color(#111);
                            // @include border-bottom($_2, solid, #00FBA0B3);
                            @include width(330px);
                            @include height(20px);
                            outline: $_2 solid #111;
                        }
                    }

                    .dynamic-data-container {}

                    .data-element {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        background-color: green;
                        box-shadow: inset 0px 0px 2px 2px #00aaffcc;

                        //temp
                        .p-tag {

                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            background-color: skyblue;
                            @include text-color(#fff);
                        }

                    }

                }
            }

            .workspace-core-functionalities {
                @include height(100px);
                @include display-align(flex);
                @include flex-align(wrap);
                @include justify-content(center);
                @include align-items(center);
                @include margin-x-y($_20, $auto, $_20 , $auto );
                //temp width
                @include width(700px);
                @include text-color(#fff);
                @include background-color(#000000B3);
                @include border-radius(10px);
                @include position(relative);
                overflow: visible;

                .component-hub-container {
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                    @include width(100px);
                    @include height(70px);
                    @include display-align(flex);
                    @include flex-align(wrap);
                    @include justify-content(center);
                    @include align-content(center);

                    .component-hub-btn-wrapper {
                        .component-hub-btn {
                            @include height(30px);
                            @include width(30px);
                            cursor: pointer;
                        }
                    }

                    .component-hub-text-wrapper {
                        @include margin-x-y($_0, $auto, $_0 , $auto );

                        .longtext {
                            // @include height(30px);
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            @include font-size(15px);
                        }
                    }
                }

                //this is the one not appearing
                //Comonent Hub child component functionality properties
                .comp-hub-data-components-container {
                    @include position(absolute);
                    @include display-align(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    @include top(-110px);
                    @include left(24px);
                    @include height(200px);
                    @include background-color(#000000);
                    z-index: 4;
                    //temp width
                    @include width(200px);
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                    @include border-top($_2, solid, #FABB00DD);
                    @include border-bottom($_2, solid, #FABB00DD);
                    @include border-left($_2, solid, #FABB00DD);
                    @include border-right($_2, solid, #FABB00DD);
                    @include border-radius(10px);

                    .comp-hub-data-components-list-container {
                        @include position(relative);
                        @include height(200px);
                        @include width(200px);
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include display-align(flex);
                        @include justify-content(center);
                        @include align-items(center);

                        @include margin-x-y($_0, $_0, $_0 , $_0 );

                        .close-icon-wrapper {
                            @include position(absolute);
                            @include display-align(flex);
                            @include justify-content(center);
                            @include align-items(center);
                            @include border-top($_2, solid, #000);
                            @include border-bottom($_2, solid, #000);
                            @include border-left($_2, solid, #000);
                            @include border-right($_2, solid, #000);
                            // @include margin-x-y($_0, $_0, $_0 , $auto );
                            @include top(10px);
                            @include right(6px);
                            @include width(28px);
                            @include height(28px);
                            transform: rotate(45deg);
                            cursor: pointer;
                            @include background-color(#000);

                            .close-icon {
                                @include border-radius(8px);
                                @include display-align(block);
                                @include width(20px);
                                @include height(20px);
                            }
                        }

                        .comp-hub-data-components-list {

                            .text-comp,
                            .audio-comp,
                            .image-comp,
                            .video-comp {
                                @include width(150px);
                                @include border-top($_2, solid, #000000B3);
                                @include border-bottom($_2, solid, #00BFA0B3);
                                @include border-left($_2, solid, #000000B3);
                                @include border-right($_2, solid, #000000B3);
                                @include border-radius(4px);
                                @include margin-x-y($_5, $auto, $_5 , $auto );
                                @include background-color(#141414B3);
                                @include text-color(#fff);
                                cursor: grab;
                            }
                        }
                    }
                }


                .zoom-controls-container {
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                    @include width(120px);
                    @include height(70px);
                    @include display-align(block);

                    .zoom-controls {
                        @include height(30px);
                        @include display-align(flex);
                        @include flex-align(wrap);
                        @include position(relative);
                        @include margin-x-y($_0, $auto, $_0 , $auto );

                        .zoom-in-wrapper {
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            @include width(50px);

                            .btn-zoom-in {
                                @include height(30px);
                                @include width(30px);
                                cursor: pointer;
                            }
                        }

                        .zoom-out-wrapper {
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            @include width(50px);

                            .btn-zoom-out {
                                @include height(30px);
                                @include width(30px);
                                cursor: pointer;
                            }
                        }

                    }

                    .zoom-controls-text-wrapper {
                        @include display-align(block);
                        @include margin-x-y($_10, $auto, $_0 , $auto );
                        @include height(20px);

                        .zoom-controls-text {
                            @include display-align(block);
                            @include align-text(center);
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                        }
                    }
                }

                .help-container {
                    @include display-align(block);
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                    @include height(70px);

                    .help-btn-wrapper {
                        @include width(50px);
                        @include height(30px);
                        @include display-align(block);
                        @include margin-x-y($_0, $auto, $_0 , $auto );

                        .help-mark {
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            @include height(30px);
                            @include width(30px);
                            cursor: pointer;
                        }
                    }

                    .help-text-wrapper {
                        @include display-align(block);
                        @include margin-x-y($_10, $auto, $_0 , $auto );
                        @include height(20px);

                        .help-text {
                            @include display-align(block);
                            @include align-text(center);
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                        }
                    }
                }


                .workspace-size-controls {
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                    @include height(70px);
                    @include width(300px);
                    @include display-align(flex);
                    @include flex-align(wrap);
                    @include justify-content(center);

                    .height-container,
                    .width-container {
                        @include margin-x-y($_0, $_5, $_0 , $_5 );

                        .immutable-height,
                        .immutable-width,
                        .mutable-height,
                        .mutable-width {
                            @include display-align(block);
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            @include background-color(#000000B3);
                            @include border-top($_2, solid, #000000B3);
                            @include border-bottom($_2, solid, #FABB00DD);
                            @include border-left($_2, solid, #000000B3);
                            @include border-right($_2, solid, #000000B3);
                            @include width(120px);
                            @include text-color(#fff);
                            @include height(14px);
                        }

                        .mutable-height:focus,
                        .mutable-width:focus {
                            cursor: text;
                            @include background-color(#000000B3);
                            outline: $_2 solid #000000B3;
                            @include text-color(#fff);

                        }

                        .immutable-height:hover,
                        .immutable-width:hover {
                            cursor: not-allowed;
                        }
                    }

                    .toggle-visual-ops-wrapper {
                        @include display-align(flex);
                        @include justify-content(center);
                        @include align-items(center);
                        @include margin-x-y($_0, $_5, $_0 , $_5 );
                        @include height(20px);

                        .toggle-visual-ops {
                            @include display-align(block);
                            @include background-color(#1C1C1C);
                            @include border-radius(4px);
                            box-shadow: inset 0px 0px 0px 2px #333;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-bottom: none;
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            @include padding-x-y($_4, $_0, $_4, $_0 );
                            @include text-color(#fff);
                            @include width(128px);
                            @include font-size(12px);
                            cursor: pointer;
                        }
                    }

                    .update-spacing-btn-wrapper {
                        @include display-align(flex);
                        @include justify-content(center);
                        @include align-items(center);
                        @include margin-x-y($_0, $_5, $_0 , $_5 );
                        @include height(20px);

                        .update-spacing-btn {
                            @include display-align(block);
                            @include background-color(#1C1C1C);
                            @include border-radius(4px);
                            box-shadow: inset 0px 0px 0px 2px #333;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-bottom: none;
                            @include border($_2, solid, none);
                            @include margin-x-y($_0, $auto, $_0 , $auto );
                            @include padding-x-y($_4, $_0, $_4, $_0 );
                            @include text-color(#fff);
                            @include width(128px);
                            @include font-size(12px);
                            cursor: pointer;
                        }
                    }

                    .workspace-controls-text {
                        @include display-align(block);
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }
                }
            }
        }
    }
}