@use '@/app/styles/index' as style;

.workspace-core-functionalities {
    @include style.display-align(flex);
    @include style.justify-content(center);
    @include style.align-items(center);
    @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20 , style.$auto );
    @include style.text-color(#fff);
    @include style.background-color(#000000B3);
    @include style.border-radius(10px);
    @include style.position(relative);
    overflow: visible;
    transition: width .2s ease-in-out, height .2s ease-in-out;
}

@media screen and (min-width:320px)and (max-width:600.9px) {
    .workspace-core-functionalities {
        @include style.width(300px);
        @include style.height(230px);
        @include style.display-align(flex);
        @include style.flex-align(wrap);
        @include style.justify-content(center);
        @include style.align-items(center);
    }
}

@media screen and (min-width:601px) and (max-width:1439.9px) {
    .workspace-core-functionalities {
        @include style.width(600px);
        @include style.height(100px);
    }
}

@media screen and (min-width:1440px) {
    .workspace-core-functionalities {
        max-width: 2500px;
        max-height: 1400px;
    }
}