$_0: 0px;
$_1: 1px;
$_2: 2px;
$_3: 3px;
$_4: 4px;
$_5: 5px;
$_6: 6px;
$_7: 7px;
$_8: 8px;
$_9: 9px;
$_10: 10px;
$_15: 15px;
$_20: 20px;
$_22: 22px;
$_27: 27px;
$_30: 30px;
$_35: 35px;
$_40: 40px;
$_50: 50px;
$_60: 60px;
$_70: 70px;
$_80: 80px;
$_100: 100px;
$_120: 120px;
$_150: 150px;
$_180: 180px;
$_200: 200px;
$_230: 230px;
$_250: 250px;
$_280: 280px;
$_300: 300px;
$_330: 330px;
$_350: 350px;
$_400: 400px;
$_450: 450px;
$_500: 500px;
$_550: 550px;
$_600: 600px;
$_650: 650px;
$_700: 700px;
$_750: 750px;
$_800: 800px;
$_850: 850px;
$_900: 900px;
$_950: 950px;
$_1000: 1000px;
$auto: auto;

@mixin display-align($Type) {
    display: $Type;
}

@mixin justify-items($Type) {
    justify-items: $Type;
}

@mixin justify-content($Type) {
    justify-content: $Type;
}

@mixin align-content($Type) {
    align-content: $Type;
}

@mixin align-items($Type) {
    align-items: $Type;
}

@mixin flex-align($Type) {
    flex-wrap: $Type;
}

@mixin margin-x-y($x1, $y1, $x2, $y2) {
    margin: $x1 $y1 $x2 $y2;
}

@mixin padding-x-y($x1, $y1, $x2, $y2) {
    padding: $x1 $y1 $x2 $y2;
}

@mixin align-text($Type) {
    text-align: $Type;
}

@mixin text-color($color) {
    color: $color;
}

@mixin background($Type) {
    background: $Type;
}

@mixin background-color($color) {
    background-color: $color;
}

@mixin width($width) {
    width: $width;
}

@mixin height($height) {
    height: $height;
}

@mixin min-height($min-height) {
    min-height: $min-height;
}

@mixin max-height($max-height) {
    max-height: $max-height;
}

@mixin font-size($size) {
    font-size: $size;
}

@mixin border($thickness, $type, $color) {
    border: $thickness $type $color;
}

@mixin border-top($thickness, $type, $color) {
    border-top: $thickness $type $color;
}

@mixin border-bottom($thickness, $type, $color) {
    border-bottom: $thickness $type $color;
}

@mixin border-left($thickness, $type, $color) {
    border-left: $thickness $type $color;
}

@mixin border-right($thickness, $type, $color) {
    border-right: $thickness $type $color;
}

@mixin border-radius($thickness) {
    border-radius: $thickness;
}

@mixin position($position) {
    position: $position;
}

@mixin top($position) {
    top: $position;
}

@mixin bottom($position) {
    bottom: $position;
}

@mixin left($position) {
    left: $position;
}

@mixin right($position) {
    right: $position;
}

@mixin url($url){
background: url($url);
}

.account-info {
    @include position(relative);
    @include url("https://res.cloudinary.com/djjvj73xa/image/upload/v1744216363/turqoise-triags_xmiedg.png");
    @include background-color(#000);
    z-index: 1;
    @include height(auto);

    .account-info-content {
        z-index: 2;
        @include background-color(#000000dd);
        @include margin-x-y($_50, $auto, $_50 , $auto );
        @include border($_2, solid, #333333);
        @include border-radius(3px);
        @include padding-x-y($_3, $_15, $_3, $_15 );

        .heading-one {
            @include text-color(#fff);
            @include align-text(center);
            @include margin-x-y($_0, $auto, $_0 , $auto );
        }

        .account-info-form {
            @include display-align(block);
            @include margin-x-y($_0, $auto, $_0 , $auto );

            .firstname-container {
                @include display-align(flex);
                @include flex-align(wrap);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .update-firstname {
                    @include text-color(#fff);
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                    @include align-content(center);
                    @include justify-content(left);
                }

                .data-control-container {
                    @include display-align(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    @include margin-x-y($_0, $auto, $_0 , $auto );

                    .firstname-input {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000000);
                        @include text-color(#ffffff);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include padding-x-y($_3, $_0, $_3, $_2 );
                    }

                    .firstname-input:focus {
                        outline: $_2 solid transparent;
                    }

                    .firstname-input::placeholder {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000);
                        @include text-color(#ffffff);
                        @include border-bottom($_2, solid, #FABB00);
                        @include padding-x-y($_3, $_0, $_3, $_0 );
                    }

                    .form-pipe-span {
                        @include display-align(inline-block);
                        // color is temp
                        @include text-color(#fff);
                        @include margin-x-y($auto, $auto, $auto, $auto );
                        @include align-text(center);
                    }

                    .disable-firstname-editing {

                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }

                    .enable-firstname-editing {

                        @include margin-x-y($_0, $auto, $_0 , $auto );

                    }
                }
            }

            .lastname-container {
                @include display-align(flex);
                @include flex-align(wrap);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .update-lastname {
                    @include text-color(#fff);
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                    @include align-content(center);
                    @include justify-content(left);
                }

                .data-control-container {
                    @include display-align(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    @include margin-x-y($_0, $auto, $_0 , $auto );

                    .lastname-input {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000000);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include text-color(#ffffff);
                        @include padding-x-y($_3, $_0, $_3, $_2 );
                    }


                    .lastname-input::placeholder {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000000);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include text-color(#ffffff);
                        @include padding-x-y($_3, $_0, $_3, $_0 );
                    }

                    .lastname-input:focus {
                        outline: $_2 solid transparent;
                    }

                    .form-pipe-span {
                        @include display-align(inline-block);
                        // color is temp
                        @include text-color(#ffffff);
                        @include margin-x-y($auto, $auto, $auto, $auto );
                        @include align-text(center);
                    }

                    .disable-lastname-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }

                    .enable-lastname-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );

                    }
                }
            }

            .gender-container {
                @include display-align(flex);
                @include flex-align(wrap);
                @include align-items(center);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .update-gender {
                    @include text-color(#ffffff);
                    @include align-content(center);
                    @include justify-content(left);
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                }

                .data-control-container {
                    @include display-align(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    @include margin-x-y($_0, $auto, $_0 , $auto );

                    .gender-input-disabled {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000);
                        @include text-color(#ffffff);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include padding-x-y($_3, $_0, $_3, $_3 );
                    }

                    .gender-input {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000);
                        @include text-color(#ffffff);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include padding-x-y($_0, $_0, $_0, $_0 );
                    }

                    .gender-input:focus {
                        outline: $_2 solid transparent;
                    }

                    .form-pipe-span {
                        @include display-align(inline-block);
                        // color is temp
                        @include text-color(#fff);
                        @include margin-x-y($auto, $auto, $auto, $auto );
                        @include align-text(center);
                    }

                    .disable-gender-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }

                    .enable-gender-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }
                }
            }

            .dob-container {
                @include display-align(flex);
                @include flex-align(wrap);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .update-dob {
                    @include text-color(#fff);
                    @include align-content(center);
                    @include justify-content(left);
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                }

                .data-control-container {
                    @include display-align(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    @include margin-x-y($_0, $auto, $_0 , $auto );

                    .dob-input {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000);
                        @include text-color(#ffffff);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include padding-x-y($_3, $_0, $_3, $_3 );
                    }

                    .dob-input:focus {
                        outline: $_2 solid transparent;
                    }

                    .dob-input::placeholder {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000);
                        @include text-color(#ffffff);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include padding-x-y($_3, $_0, $_3, $_0 );
                    }

                    .form-pipe-span {
                        @include display-align(inline-block);
                        // color is temp
                        @include text-color(#fff);
                        @include margin-x-y($auto, $auto, $auto, $auto );
                        @include align-text(center);
                    }

                    .disable-dob-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }

                    .enable-dob-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }
                }

            }

            .email-container {
                @include display-align(flex);
                @include flex-align(wrap);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .update-email {
                    @include text-color(#fff);
                    @include align-content(center);
                    @include justify-content(left);
                    @include margin-x-y($_0, $auto, $_0 , $auto );
                }

                .data-control-container {
                    @include display-align(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    @include margin-x-y($_0, $auto, $_0 , $auto );

                    .email-input {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000);
                        @include text-color(#ffffff);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include padding-x-y($_3, $_0, $_3, $_2 );
                    }


                    .email-input::placeholder {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                        @include background-color(#000);
                        @include text-color(#ffffff);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #000000);
                        @include padding-x-y($_3, $_0, $_3, $_0 );
                    }

                    .email-input:focus {
                        outline: $_2 solid transparent;
                    }

                    .form-pipe-span {
                        @include display-align(inline-block);
                        // color is temp
                        @include text-color(#fff);
                        @include margin-x-y($auto, $auto, $auto, $auto );
                        @include align-text(center);
                    }

                    .disable-email-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );

                    }

                    .enable-email-editing {
                        @include margin-x-y($_0, $auto, $_0 , $auto );
                    }
                }
            }

            .current-password-container {
                @include display-align(flex);
                @include justify-content(left);
                @include align-items(center);
                @include flex-align(wrap);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .current-password {
                    @include text-color(#fff);
                    @include justify-content(left);
                    @include margin-x-y($_0, $_0, $_0 , $_0 );
                }

                .current-password-input,
                .current-password-input::placeholder {
                    @include display-align(block);
                    @include margin-x-y($_0, $_2, $_0 , $_2 );
                    @include padding-x-y($_1, $_0, $_1 , $_2 );
                    @include background-color(#000);
                    @include text-color(#ffffff);
                    @include border-top($_2, solid, #000000);
                    @include border-bottom($_2, solid, #FABB00);
                    @include border-right($_2, solid, #000000);
                    @include border-left($_2, solid, #000000);
                    @include padding-x-y($_3, $_0, $_3, $_0 );
                }

                .current-password-input:focus {
                    outline: $_2 solid transparent;
                }
            }

            .new-password-container {
                @include display-align(flex);
                @include justify-content(left);
                @include align-items(center);
                @include flex-align(wrap);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .new-password {
                    @include text-color(#fff);
                    @include justify-content(left);
                    @include margin-x-y($_0, $_0, $_0 , $_0 );
                }

                .new-password-input,
                .new-password-input::placeholder {
                    @include display-align(block);
                    @include margin-x-y($_0, $_2, $_0 , $_2 );
                    @include padding-x-y($_1, $_0, $_1 , $_2 );
                    @include background-color(#000);
                    @include text-color(#ffffff);
                    @include border-top($_2, solid, #000000);
                    @include border-bottom($_2, solid, #FABB00);
                    @include border-right($_2, solid, #000000);
                    @include border-left($_2, solid, #000000);
                    @include padding-x-y($_3, $_0, $_3, $_0 );
                }

                .new-password-input:focus {
                    outline: $_2 solid transparent;
                }
            }

            .confirm-new-password-container {
                @include display-align(flex);
                @include justify-content(left);
                @include align-items(center);
                @include flex-align(wrap);
                @include margin-x-y($_5, $auto, $_5 , $auto );

                .confirm-new-password {
                    @include text-color(#fff);
                    @include margin-x-y($_0, $_0, $_0 , $_0 );
                }

                .confirm-new-password-input,
                .confirm-new-password-input::placeholder {
                    @include display-align(block);
                    @include margin-x-y($_0, $_2, $_0 , $_2 );
                    @include padding-x-y($_1, $_0, $_1 , $_2 );
                    @include background-color(#000);
                    outline: $_2 solid transparent;
                    @include text-color(#ffffff);
                    @include border-top($_2, solid, #000000);
                    @include border-bottom($_2, solid, #FABB00);
                    @include border-right($_2, solid, #000000);
                    @include border-left($_2, solid, #000000);
                    @include padding-x-y($_3, $_0, $_3, $_0 );
                }

                .confirm-new-password-input:focus {
                    outline: $_2 solid transparent;
                }

            }

            .form-processing-btn {
                @include display-align(flex);
                @include justify-content(center);
                @include align-items(center);

                .submit-container {
                    @include display-align(block);
                    @include margin-x-y($_10, $_10, $_10 , $_10 );

                    .submit-btn {
                        @include background-color(#111111);
                        @include text-color(#FABB00);
                        @include border($_2, solid, #333333);
                        @include border-radius(3px);
                        @include padding-x-y($_3, $_15, $_3, $_15 );
                    }
                }

                .cancel-container {
                    @include display-align(block);
                    @include margin-x-y($_10, $_10, $_10 , $_10 );

                    .cancel-submit {
                        @include background-color(#111111);
                        @include text-color(#FABB00);
                        @include border($_2, solid, #333333);
                        @include border-radius(3px);
                        @include padding-x-y($_3, $_15, $_3, $_15 );
                    }
                }
            }
        }

    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .account-info {
        .account-info-content {
            @include width(280px);

            .heading-one {
                @include width(280px);
            }

            .account-info-form {
                @include width(280px);

                .firstname-container {
                    @include width(280px);

                    .update-firstname {
                        @include margin-x-y($_0, $_0, $_0, $_0);
                        @include width(100px);
                    }

                    .data-control-container {
                        @include width(280px);

                        .firstname-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(160px);
                            @include height(13px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-firstname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-firstname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .lastname-container {
                    @include width(280px);

                    .update-lastname {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(280px);

                        .lastname-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(160px);
                            @include height(13px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-lastname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-lastname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }

                }

                .gender-container {
                    @include width(280px);

                    .update-gender {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(280px);

                        .gender-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(167px);
                            @include height(23px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }

                        .gender-input-disabled {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(160px);
                            @include height(13px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);

                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-gender-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-gender-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .dob-container {
                    @include width(280px);

                    .update-dob {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(280px);

                        .dob-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-dob-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-dob-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .email-container {
                    @include width(280px);

                    .update-email {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(280px);

                        .email-input {
                            @include width(160px);
                            @include height(13px);
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-email-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-email-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .current-password-container {
                    @include width(280px);

                    .current-password {
                        @include width(200px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .current-password-input {
                        @include width(200px);
                        @include height(17px);
                        @include margin-x-y($_5, $_0, $_5, $_1);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #FABB00);

                    }
                }

                .new-password-container {
                    @include width(280px);

                    .new-password {
                        @include width(200px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .new-password-input {
                        @include margin-x-y($_5, $_0, $_5, $_1);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #FABB00);
                        @include width(200px);
                        @include height(17px);
                    }
                }

                .confirm-new-password-container {
                    @include width(280px);

                    .confirm-new-password {
                        @include width(200px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .confirm-new-password-input {
                        @include width(200px);
                        @include height(17px);
                        @include margin-x-y($_5, $_0, $_5, $_1);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #FABB00);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .account-info {
        .account-info-content {
            @include width(350px);

            .heading-one {
                @include width(300px);
            }

            .account-info-form {
                @include width(300px);

                .firstname-container {
                    @include width(300px);

                    .update-firstname {
                        @include margin-x-y($_0, $_0, $_0, $_0);
                        @include width(100px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .firstname-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(160px);
                            @include height(13px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-firstname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-firstname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .lastname-container {
                    @include width(300px);

                    .update-lastname {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(300px);

                        .lastname-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(160px);
                            @include height(13px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-lastname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-lastname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }

                }

                .gender-container {
                    @include width(300px);

                    .update-gender {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(300px);

                        .gender-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(167px);
                            @include height(23px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }

                        .gender-input-disabled {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include width(160px);
                            @include height(13px);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);

                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-gender-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-gender-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .dob-container {
                    @include width(300px);

                    .update-dob {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(300px);

                        .dob-input {
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-dob-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-dob-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .email-container {
                    @include width(300px);

                    .update-email {
                        @include width(100px);
                        @include height(23px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .data-control-container {
                        @include width(300px);

                        .email-input {
                            @include width(160px);
                            @include height(13px);
                            @include margin-x-y($_5, $_0, $_5, $_1);
                            @include border-top($_2, solid, #000000);
                            @include border-bottom($_2, solid, #FABB00);
                            @include border-right($_2, solid, #000000);
                            @include border-left($_2, solid, #FABB00);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-email-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-email-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .current-password-container {
                    @include width(300px);

                    .current-password {
                        @include width(200px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .current-password-input {
                        @include width(200px);
                        @include height(17px);
                        @include margin-x-y($_5, $_0, $_5, $_1);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #FABB00);

                    }
                }

                .new-password-container {
                    @include width(300px);

                    .new-password {
                        @include width(200px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .new-password-input {
                        @include margin-x-y($_5, $_0, $_5, $_1);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #FABB00);
                        @include width(200px);
                        @include height(17px);
                    }
                }

                .confirm-new-password-container {
                    @include width(300px);

                    .confirm-new-password {
                        @include width(200px);
                        @include margin-x-y($_0, $_0, $_0, $_0);
                    }

                    .confirm-new-password-input {
                        @include width(200px);
                        @include height(17px);
                        @include margin-x-y($_5, $_0, $_5, $_1);
                        @include border-top($_2, solid, #000000);
                        @include border-bottom($_2, solid, #FABB00);
                        @include border-right($_2, solid, #000000);
                        @include border-left($_2, solid, #FABB00);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .account-info {
        .account-info-content {
            @include width(500px);

            .heading-one {
                @include width(300px);
            }

            .account-info-form {
                @include width(500px);

                .firstname-container {
                    @include width(400px);

                    .update-firstname {
                        @include width(100px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .firstname-input {
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-firstname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-firstname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .lastname-container {
                    @include width(400px);

                    .update-lastname {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .lastname-input {
                            @include width(160px);
                            @include height(13px);
                        }

                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-lastname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-lastname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }

                }

                .gender-container {
                    @include width(400px);

                    .update-gender {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .gender-input {
                            @include width(168px);
                            @include height(23px);
                        }

                        .gender-input-disabled {
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-gender-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-gender-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .dob-container {
                    @include width(400px);

                    .update-dob {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .dob-input {
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-dob-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-dob-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .email-container {
                    @include width(400px);

                    .update-email {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .email-input {
                            @include width(160px);
                            @include height(13px);

                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-email-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-email-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .current-password-container {
                    @include width(400px);

                    .current-password {
                        @include width(100px);
                    }

                    .current-password-input {
                        @include width(200px);
                        @include height(17px);

                    }
                }

                .new-password-container {
                    @include width(400px);

                    .new-password {
                        @include width(100px);
                    }

                    .new-password-input {
                        @include width(200px);
                        @include height(17px);
                    }
                }

                .confirm-new-password-container {
                    @include width(400px);

                    .confirm-new-password {
                        @include width(100px);
                    }

                    .confirm-new-password-input {
                        @include width(200px);
                        @include height(17px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:769px) {
    .account-info {
        .account-info-content {
            @include width(500px);

            .heading-one {
                @include width(300px);
            }

            .account-info-form {
                @include width(500px);

                .firstname-container {
                    @include width(400px);

                    .update-firstname {
                        @include width(100px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .firstname-input {
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-firstname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-firstname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .lastname-container {
                    @include width(400px);

                    .update-lastname {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .lastname-input {
                            @include width(160px);
                            @include height(13px);
                        }

                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-lastname-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-lastname-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }

                }

                .gender-container {
                    @include width(400px);

                    .update-gender {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .gender-input {
                            @include width(168px);
                            @include height(23px);
                        }

                        .gender-input-disabled {
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-gender-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-gender-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .dob-container {
                    @include width(400px);

                    .update-dob {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .dob-input {
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-dob-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-dob-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .email-container {
                    @include width(400px);

                    .update-email {
                        @include width(100px);
                        @include height(23px);
                    }

                    .data-control-container {
                        @include width(300px);

                        .email-input {
                            @include width(160px);
                            @include height(13px);
                        }


                        .form-pipe-span {
                            @include width(20px);
                        }

                        .disable-email-editing {
                            @include height(23px);
                            @include width(100px);
                        }

                        .enable-email-editing {
                            @include height(23px);
                            @include width(100px);

                        }
                    }
                }

                .current-password-container {
                    @include width(400px);

                    .current-password {
                        @include width(100px);
                    }

                    .current-password-input {
                        @include width(200px);
                        @include height(17px);

                    }
                }

                .new-password-container {
                    @include width(400px);

                    .new-password {
                        @include width(100px);
                    }

                    .new-password-input {
                        @include width(200px);
                        @include height(17px);
                    }
                }

                .confirm-new-password-container {
                    @include width(400px);

                    .confirm-new-password {
                        @include width(100px);
                    }

                    .confirm-new-password-input {
                        @include width(200px);
                        @include height(17px);
                    }
                }
            }
        }
    }
}