@use '@/app/styles/index' as style;

.page {
    letter-spacing: 1px;
    font-family: calibri, Arial, Helvetica, sans-serif;
    //temp bg color until global localstorage for color background color is istalled
    @include style.background-color(#222);
    @include style.text-color(#fff);
    @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
    @include style.padding-x-y(style.$space-0, style.$space-0, style.$space-10, style.$space-0 );
    @include style.position(relative);

    .heading-one,
    .heading-two {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
        @include style.align-text(center);
    }

    .paragraph {
        @include style.margin-x-y(style.$space-20, style.$auto, style.$space-60 , style.$auto);
    }


    .list-designed-for {
        @include style.display-align(block);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);

        .design {
            @include style.background-color(#555);
            border: style.$space-2 solid #333;
            border-radius: 10px;
            @include style.text-color(#fff);
            box-shadow: 0px 0px 5px 3px #333;
            @include style.align-text(center);
        }
    }

    .list-features {
        .features {
            //background is temp until color foundation theme is completed
            @include style.background-color(#555);
            border: style.$space-2 solid #333;
            border-radius: 10px;
            @include style.text-color(#fff);
            box-shadow: 0px 0px 5px 3px #333;
            @include style.align-text(center);
        }
    }

    .list-privacy-statements {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);

    }

    .list-security-privacy {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
        // @include style.display-align(block);

        padding-left: 0px;

    }

    .sign-in-container {
        //background is temp until color foundation theme is completed
        @include style.display-align(block);
        @include style.background-color(#555);
        border: style.$space-2 solid #333;
        border-radius: 10px;
        @include style.text-color(#fff);
        box-shadow: 0px 0px 5px 7px #333;
        @include style.align-text(center);
        @include style.margin-x-y(style.$space-50, style.$auto, style.$space-50 , style.$auto);

        .route-link {
            @include style.display-align(block);
            @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0 );
        }
    }

    .home-footer {
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
        @include style.display-align(block);
        @include style.position(fixed);
        @include style.bottom(style.$space-0);
        @include style.right(style.$space-0);
        @include style.left(style.$space-0);
        @include style.background-color(#222);

        .project-creator {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);

            .creator {
                @include style.align-text(center);
                @include style.text-color(#fff);
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .page {
        .heading-one {
            @include style.font-size(40px);
            @include style.padding-x-y(style.$space-80,
                style.$space-0 ,
                style.$space-20 ,
                style.$space-0);
            @include style.width(250px);

        }

        .paragraph {
            @include style.width(250px);
        }

        .heading-two-designedfor {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(250px);
            @include style.font-size(30px);
            @include style.align-text(center);
        }


        .list-designed-for {
            @include style.margin-x-y(style.$space-20, style.$auto, style.$space-80 , style.$auto);
            @include style.width(250px);
            @include style.align-text(center);

            .design {
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0);
                @include style.width(250px);

            }
        }


        .heading-two-features {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(250px);
            @include style.align-text(center);
            @include style.font-size(30px);
        }

        .list-features {
            @include style.margin-x-y(style.$space-10, style.$auto, style.$space-40 , style.$auto);
            @include style.width(250px);
            @include style.align-text(center);
            @include style.display-align(flex);
            @include style.flex-align(wrap);

            .features {
                @include style.margin-x-y(style.$space-10, style.$auto, style.$space-10 , style.$auto);
                @include style.padding-x-y(style.$space-10, style.$space-10 , style.$space-10 , style.$space-10 );
                @include style.justify-content(center);
                @include style.width(250px);
            }
        }

        .heading-two-sec-and-priv {
            @include style.margin-x-y(style.$space-60, style.$auto, style.$space-20 , style.$auto);
            @include style.width(250px);
            @include style.align-text(center);

        }

        .list-security-privacy {
            @include style.width(250px);
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.align-text(left);

            .sec-priv-item {

                @include style.margin-x-y(style.$space-5, style.$auto, style.$space-5, style.$auto);
                @include style.font-size(14px);
            }
        }

        .sign-in-container {
            @include style.align-text(center);
            @include style.width(250px);
            border-radius: 10px;

            .route-link {
                @include style.display-align(block);
                @include style.text-color(#fff);
                @include style.font-size(style.$space-20);
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .page {
        .heading-one {
            @include style.font-size(40px);
            @include style.padding-x-y(style.$space-80,
                style.$space-0 ,
                style.$space-20 ,
                style.$space-0);
            @include style.width(350px);

        }

        .paragraph {
            @include style.width(350px);
        }

        .heading-two-designedfor {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(350px);
            @include style.font-size(30px);
            @include style.align-text(center);
        }

        .list-designed-for {
            @include style.margin-x-y(style.$space-20, style.$auto, style.$space-80 , style.$auto);
            @include style.width(350px);
            @include style.align-text(center);

            .design {
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0);
                @include style.width(350px);

            }
        }

        .heading-two-features {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(350px);
            @include style.align-text(center);
            @include style.font-size(30px);
        }

        .list-features {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
            @include style.width(350px);
            @include style.align-text(center);
            @include style.display-align(flex);
            @include style.flex-align(wrap);

            .features {
                @include style.margin-x-y(style.$space-10, style.$auto, style.$space-10 , style.$auto);
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0);
                @include style.justify-content(center);
                @include style.width(350px);
            }
        }

        .heading-two-sec-and-priv {
            @include style.margin-x-y(style.$space-60, style.$auto, style.$space-20 , style.$auto);
            @include style.width(350px);
            @include style.align-text(center);
        }

        .list-security-privacy {
            @include style.width(340px);
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.align-text(left);

            .sec-priv-item {
                @include style.width(330px);
                @include style.margin-x-y(style.$space-5, style.$auto, style.$space-5, style.$auto);
                @include style.font-size(14px);
            }
        }

        .sign-in-container {
            @include style.align-text(center);
            @include style.width(300px);
            @include style.border-radius(10px);

            .route-link {
                @include style.display-align(block);
                @include style.text-color(#fff);
                @include style.font-size(style.$space-20);
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .page {
        .heading-one {
            @include style.font-size(40px);
            @include style.padding-x-y(style.$space-80,
                style.$space-0 ,
                style.$space-20 ,
                style.$space-0);
            @include style.width(500px);

        }

        .paragraph {
            @include style.width(500px);
        }

        .heading-two-designedfor {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(500px);
            @include style.font-size(30px);
            @include style.align-text(center);
        }

        .list-designed-for {
            @include style.margin-x-y(style.$space-20, style.$auto, style.$space-80 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);

            .design {
                @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20 , style.$auto);
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0);
                @include style.width(470px);
            }
        }


        .heading-two-features {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);
            @include style.font-size(30px);
        }

        .list-features {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);
            @include style.display-align(flex);
            @include style.flex-align(wrap);

            .features {
                @include style.margin-x-y(style.$space-10, style.$auto, style.$space-10 , style.$auto);
                @include style.justify-content(center);
                @include style.width(470px);
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0 );
            }
        }

        .heading-two-sec-and-priv {
            @include style.margin-x-y(style.$space-60, style.$auto, style.$space-20 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);
        }

        .list-security-privacy {
            @include style.width(500px);
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.align-text(left);


            .sec-priv-item {
                @include style.width(470px);
                @include style.margin-x-y(style.$space-5, style.$auto, style.$space-5, style.$auto);
                @include style.font-size(14px);
            }
        }

        .sign-in-container {
            @include style.align-text(center);
            @include style.width(330px);
            border-radius: 10px;

            .route-link {
                @include style.display-align(block);
                @include style.text-color(#fff);
                @include style.font-size(style.$space-20);
            }
        }
    }
}

@media screen and (min-width:769px) {
    .page {
        .heading-one {
            @include style.font-size(40px);
            @include style.padding-x-y(style.$space-80,
                style.$space-0 ,
                style.$space-20 ,
                style.$space-0);
            @include style.width(500px);

        }

        .paragraph {
            @include style.width(500px);
        }

        .heading-two-designedfor {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(500px);
            @include style.font-size(30px);
            @include style.align-text(center);
        }

        .list-designed-for {
            @include style.margin-x-y(style.$space-20, style.$auto, style.$space-80 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);

            .design {
                @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20 , style.$auto);
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0);
                @include style.width(470px);
            }
        }


        .heading-two-features {
            @include style.margin-x-y(style.$space-40, style.$auto, style.$space-10 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);
            @include style.font-size(30px);
        }

        .list-features {
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);
            @include style.display-align(flex);
            @include style.flex-align(wrap);

            .features {
                @include style.margin-x-y(style.$space-10, style.$auto, style.$space-10 , style.$auto);
                @include style.justify-content(center);
                @include style.width(470px);
                @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10 , style.$space-0 );
            }
        }

        .heading-two-sec-and-priv {
            @include style.margin-x-y(style.$space-60, style.$auto, style.$space-20 , style.$auto);
            @include style.width(500px);
            @include style.align-text(center);

        }

        .list-security-privacy {
            @include style.width(500px);
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.align-text(left);


            .sec-priv-item {
                @include style.width(470px);
                @include style.margin-x-y(style.$space-5, style.$auto, style.$space-5, style.$auto);
                @include style.font-size(14px);
            }
        }

        .sign-in-container {
            @include style.align-text(center);
            @include style.width(300px);
            border-radius: 10px;

            .route-link {
                @include style.text-color(#fff);
                @include style.font-size(style.$space-20);
            }
        }
    }
}