@use '../styles/index' as style;

.auth-footer {
    @include style.width(100%);
    @include style.background-color(#00000070);
    @include style.left(style.$space-0);
    @include style.right(style.$space-0);
    @include style.bottom(style.$space-0);
    @include style.height(style.$space-60);
    @include style.position(absolute);

    .creator {
        @include style.position(relative);
        @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
        @include style.display-align(flex);
        @include style.flex-align(wrap);
        @include style.align-items(center);
        @include style.justify-content(center);
        @include style.height(inherit);

        .project-creator {
            @include style.display-align(flex);
            @include style.flex-align(wrap);
            @include style.align-items(center);
            @include style.justify-content(center);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
            @include style.text-color(#ffffff);
        }
    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .auth-footer {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .auth-footer {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .auth-footer {
        .auth-route {

            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:769px) {
    .auth-footer {
        .creator {
            @include style.width(500px);

            .project-creator {
                @include style.width(500px);
            }
        }
    }
}