@use '../styles/index' as style;

.auth-header {
    @include style.width(100%);
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    @include style.height(style.$space-60);
    @include style.position(relative);
    @include style.background-color(#000000ee);
    border-bottom: style.$space-2 solid #333333;

    .auth-route {
        @include style.display-align(flex);
        @include style.top(style.$space-0);
        @include style.bottom(style.$space-0);
        @include style.align-items(center);
        margin-left: style.$space-20;
        @include style.width(100px);

        .auth-go-back-route {
            @include style.position(relative);
            @include style.height(20px);
            @include style.display-align(flex);
            @include style.align-items(center);
            @include style.text-color(#fff);
            text-decoration: none;
            // @include style.width(300px);

            .auth-route-icon {
                @include style.display-align(flex);
                @include style.align-items(center);
                @include style.position(relative);
                @include style.padding-x-y(style.$space-0, style.$space-0, style.$space-0 , style.$space-10 );

                .backward-icon {
                    @include style.display-align(block);
                }
            }
        }

        //  .account-dashboard-content {
        //      @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);

        //      .heading-one {
        //          // display: block;
        //          @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
        //          @include style.padding-x-y(style.$space-0, style.$space-0 , style.$space-0, style.$space-0 );
        //          @include style.align-text(center);
        //          @include style.text-color(#fff);
        //      }

        //      .dashboard-link-component {
        //          @include style.margin-x-y(style.$space-0, style.$auto, style.$space-10, style.$auto);
        //          @include style.padding-x-y(style.$space-5, style.$space-5 , style.$space-5, style.$space-5 );
        //          @include style.align-text(center);
        //          @include style.text-color(#fff);
        //          @include style.border-radius(style.$space-10);
        //          @include style.border(style.$space-2, solid, #333);


        // .auth-link-component-built-in-app {
        //     @include style.border-radius(style.$space-6);
        //     @include style.background-color(#444);
        //     @include style.display-align(block);
        //     @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
        //     @include style.padding-x-y(style.$space-10, style.$space-0 , style.$space-10, style.$space-0 );
        //     @include style.align-text(center);
        //     @include style.text-color(#fff);

        // }
        //      }
    }

    .account-dashboard-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto 0px auto;

        width:
            fit-content;

        .dashboard-link-component {
            display: block;
            margin: 0px auto 0px auto;

            a {
                color: #fff;
            }

            // width: 150px;
        }
    }

    .log-out {
        @include style.display-align(flex);
        @include style.position(absolute);
        @include style.top(style.$space-0);
        @include style.bottom(style.$space-0);
        @include style.align-items(center);
        @include style.right(style.$space-20);
        color: #fff;


        justify-content: center;
        width: 100px;
        cursor: pointer;
    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .auth-header {
        .auth-route {

            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}

@media screen and (min-width:769px) {
    .auth-header {
        .auth-route {
            .auth-go-back-route {
                @include style.font-size(20px);

                .auth-route-icon {
                    @include style.height(20px);
                    @include style.width(20px);
                }
            }
        }
    }
}