.primary-workspace-controls-and-workspace-details {
    // box-shadow: inset 0px 0px 4px 2px #FABB0040, 0px 0px 4px 2px #FABB0040;
    position: relative;
    margin: 10px auto 5px auto;
    background-color: #000000B3;
    // min-height: 200px;
    height: auto;
    border-radius: 4px;
    transition: width .2s ease-in-out, height .2s ease-in-out;

    .workspace-details {
        margin: 10px auto 10px auto;

        .workspace-id-wrapper,
        .workspace-name-wrapper {
            display: flex;
            justify-items: center;
            align-items: center;
            height: 32px;
            font-size: 12px;
            margin: 5px 0px 5px 0px;
            background-color: #000000;
            border-radius: 4px;

            .workspace-name,
            .workspace-id {
                color: #ffffff;
                background-color: #000000DD;
                border-radius: 4px;
                font-size: 12px;
            }

            .clipboard-icon,
            .eye-icon {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                background-color: #000000DD;
                width: 20px;
                height: 20px;
                font-size: 12px;
                cursor: pointer;
            }

            .eye-icon {
                padding: 4px 4px 4px 0px;
            }

            .clipboard-icon {
                padding: 4px 0px 4px 0px;
            }
        }
    }

    .primary-workspace-controls {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px 0px 0px;
        margin: 0px auto 0px auto;
        transition: width .2s ease-in-out, height .2s ease-in-out;

        .delete-workspace-btn-wrapper,
        .refresh-workspace-btn-wrapper {
            margin: 10px auto;

            .delete-workspace-btn,
            .refresh-workspace-btn {
                display: block;
                letter-spacing: 1px;
                background-color: #1C1C1C;
                border-radius: 4px;
                border: 2px solid #555555;
                padding: 4px 4px;
                font-size: 12px;
                cursor: pointer;
            }

            .delete-workspace-btn {
                color: #F00;
            }

            .refresh-workspace-btn {
                color: #FFF;
            }
        }
    }


}

@media screen and (min-width: 320px) and (max-width: 600.9px) {
    .primary-workspace-controls-and-workspace-details {
        min-width: 300px;
        max-width: 540px;
        height: 100%;
        min-height: 120px;
        max-height: 180px;
        margin: 10px auto 10px auto;

        .primary-workspace-controls,
        .workspace-details {
            width: 300px;
            justify-content: center;

            .delete-workspace-btn-wrapper,
            .refresh-workspace-btn-wrapper {
                width: 300px;

                .refresh-workspace-btn,
                .save-workspace-btn-wrapper {
                    width: 300px;
                }
            }


            .workspace-id-wrapper,
            .workspace-name-wrapper {
                width: 280px;
                margin: 5px auto 5px auto;

                .workspace-name,
                .workspace-id {
                    padding: 4px 5px;
                    width: 240px;
                }
            }
        }
    }
}

@media screen and (min-width: 601px) {
    .primary-workspace-controls-and-workspace-details {
        width: 300px;
        height: auto;

        .primary-workspace-controls {
            width: 300px;
            margin: 0px auto;

            .delete-workspace-btn-wrapper,
            .refresh-workspace-btn-wrapper {
                width: 140px;

                .refresh-workspace-btn,
                .delete-workspace-btn {
                    width: 140px;
                }
            }

            .delete-workspace-btn-wrapper {
                margin-left: 0px;
            }

            .refresh-workspace-btn-wrapper {
                margin-right: 0px;

            }
        }

        .workspace-details {
            width: 300px;
            justify-content: center;

            .workspace-id-wrapper,
            .workspace-name-wrapper {

                .workspace-name,
                .workspace-id {
                    padding: 4px 0px 4px 4px;
                    width: 300px;
                }
            }
        }
    }
}