@use '../../../../../styles/index' as style;

.modifications-window-container {
    display: block;
    position: absolute;
    content: "";
    z-index: 11;
    background-color: #000000;
    top: 0;
    left: 105%;
    @include style.width(200px);
    height: fit-content;
    box-shadow: inset 0px 0px 4px 2px #faaa0040;
    cursor: default;

    .edit-button,
    .component-reposition-button,
    .delete-button {
        cursor: pointer;
        @include style.width(150px);
        @include style.background-color(#000000);
        @include style.border(style.$space-2, solid, #FAAA0040);
        border-radius: 4px;
    }

    .edit-button {
        @include style.text-color(#fff);
        margin-top: 10px;
        margin-bottom: 2px;
    }

    .component-reposition-button {
        @include style.text-color(#fa0);
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .delete-button {
        @include style.text-color(#f00);
        margin-top: 2px;
        margin-bottom: 10px;
    }
}


.edit-window-container {
    position: absolute;
    display: block;
    cursor: default;
    top: 105%;
    z-index: 11;
    left: 6.2%;

    height: fit-content;
    background-color: #000000;
    box-shadow: inset 0px 0px 4px 2px #FAAA0040,
        0px 0px 4px 0px #FAAA0040;
    @include style.width(600px);

    .update-box {
        display: flex;
        flex-wrap: wrap;
        @include style.width(600px);
        justify-content: center;
        align-content: flex-start;
        padding-bottom: 0px;
        height: 272px;

        .box-one {
            display: block;
            width: 250px;
            font-size: 12px;
            margin-left: 4px;
            margin-right: 15px;
            text-align: left;
            padding-bottom: 4px;
            border-bottom: 1px solid #79674E;

            .pulled-data {
                @include style.background-color(#000000);
                color: white;
                width: 250px;
                resize: none;
                font-size: 12px;
                outline: none;
                margin-bottom: 4px;
                padding: 0px 0px 0px 0px;
                cursor: text;
                height: 148px;
                white-space: pre-wrap;
            }

            .pulled-data::selection {
                background-color: #79674E;
                color: white;
            }

            .pulled-data:focus {
                outline: none;
            }

            .copy-clipboard-button,
            .change-windows {
                margin-top: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                @include style.width(250px);
                @include style.text-color(#FABB00);
                padding: 4px 3px;
                @include style.background-color(#000000);
                box-shadow: 0px 0px 4px 0px rgba(250, 170, 0, 0.251);
                border: 2px solid rgba(250, 170, 0, 0.251);
            }
        }

        .style-div {
            width: 1px;
            height: 190px;
            background-color: #79674E;
        }

        .box-two {
            width: 250px;
            font-size: 10px;
            margin-left: 15px;
            margin-right: 4px;
            padding-bottom: 4px;
            border-bottom: 1px solid #79674E;

            .new-text {
                .new-data {
                    @include style.background-color(#000000);
                    color: white;
                    width: 250px;
                    resize: none;
                    font-size: 12px;
                    outline: none;
                    margin-bottom: 4px;
                    padding: 0px 0px 0px 0px;
                    cursor: text;
                    height: 148px;
                    white-space: pre-wrap;
                }

                .new-data::placeholder {
                    color: #ccc;
                }

                .new-data:focus {
                    outline: none;
                }

                .new-data::selection {
                    background-color: #79674E;
                    color: white;
                }
            }

            .paste-clipboard-button,
            .update-button {
                margin-top: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                @include style.width(250px);
                @include style.text-color(#FABB00);
                padding: 4px 3px;
                @include style.background-color(#000000);
                box-shadow: 0px 0px 4px 0px rgba(250, 170, 0, 0.251);
                border: 2px solid rgba(250, 170, 0, 0.251);
            }
        }
    }
}