.modifications-window-container {
    display: block;
    position: absolute;
    content: "";
    z-index: 11;
    background-color: #000000;
    top: 0;
    left: 30px;
    width: 200px;
    height: fit-content;
    box-shadow: inset 0px 0px 4px 2px #faaa0040;
    cursor: default;

    .edit-button,
    .component-reposition-button,
    .delete-button {
        background-color: #000000;
        border: 2px solid #FAAA0040;
        border-radius: 4px;
        font-size: 14px;
    }

    .edit-button {
        width: 170px;
        cursor: pointer;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .component-reposition-button {
        width: 170px;
        cursor: pointer;
        color: #fa0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .delete-container {
        width: 170px;

        .toggle-delete {
            display: block;
            cursor: pointer;
            width: 25px;
        }

        .delete-button {
            width: 140px;
            color: #f00;
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 10px;
        }
    }
}


.edit-window-container {
    position: absolute;
    display: block;
    cursor: default;
    top: 0px;
    z-index: 11;
    left: 6.2%;
    height: fit-content;
    background-color: #000000;
    box-shadow: inset 0px 0px 4px 2px #FAAA0040,
        0px 0px 4px 0px #FAAA0040;
    width: 600px;

    .update-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        padding-bottom: 0px;
        height: 272px;
        width: 600px;

        .box-one {
            display: block;
            font-size: 10px;
            margin-left: 4px;
            margin-right: 15px;
            text-align: left;
            padding-bottom: 4px;
            border-bottom: 1px solid #79674E;
            width: 250px;

            .pulled-data {
                background-color: #000000;
                color: white;
                resize: none;
                outline: none;
                margin-bottom: 4px;
                padding: 0px 0px 0px 0px;
                cursor: text;
                height: 148px;
                white-space: pre-wrap;
                width: 250px;
            }

            .pulled-data::selection {
                background-color: #79674E;
                color: white;
            }

            .pulled-data:focus {
                outline: none;
            }

            .copy-clipboard-button,
            .change-windows {
                margin-top: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                width: 250px;
                color: #FABB00;
                border-radius: 4px;
                padding: 4px 3px;
                background-color: #000000;
                box-shadow: 0px 0px 4px 0px rgba(250, 170, 0, 0.251);
                border: 2px solid rgba(250, 170, 0, 0.251);
            }
        }

        .style-div {
            width: 1px;
            height: 190px;
            background-color: #79674E;
        }

        .box-two {
            width: 250px;
            font-size: 10px;
            margin-left: 15px;
            margin-right: 4px;
            padding-bottom: 4px;
            border-bottom: 1px solid #79674E;

            .new-text {
                .new-data {
                    background-color: #000000;
                    color: white;
                    width: 250px;
                    resize: none;
                    font-size: 12px;
                    outline: none;
                    margin-bottom: 4px;
                    padding: 0px 0px 0px 0px;
                    cursor: text;
                    height: 148px;
                    white-space: pre-wrap;
                }

                .new-data::placeholder {
                    color: #ccc;
                }

                .new-data:focus {
                    outline: none;
                }

                .new-data::selection {
                    background-color: #79674E;
                    color: white;
                }
            }

            .paste-clipboard-button,
            .update-button {
                margin-top: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                width: 250px;
                color: #FABB00;
                padding: 4px 3px;
                background-color: #000000;
                box-shadow: 0px 0px 4px 0px rgba(250, 170, 0, 0.251);
                border: 2px solid rgba(250, 170, 0, 0.251);
                border-radius: 4px;
            }
        }
    }
}