// @import 'tailwindcss';
@media screen and (min-width: 300px) and (max-width: 425.9px) {
    .account-info {
        padding: 80px 0px 80px;

        .account-info-content {
            width: 280px;
            height: auto;

            .heading-one {
                width: 280px;
            }

            .account-info-form {
                width: 280px;

                div {
                    width: 260px;
                    margin: 5px auto 5px 8px;

                    .update-firstname,
                    .update-lastname,
                    .update-gender,
                    .update-dob,
                    .update-email,
                    .current-password,
                    .new-password,
                    .confirm-new-password {
                        width: 100px;
                        height: 32px;
                        margin: 0;
                        margin: 5px auto 0px 0px;
                        justify-content: start;
                        font-size: 14px;
                    }

                    div {
                        width: 260px;
                        display: block;
                        // flex-wrap: wrap-reverse;
                        // align-items: center;
                        // justify-content: start;
                        margin: 5px auto 5px auto;
                        // margin: 5px auto 5px 8px;


                        .firstname-input,
                        .lastname-input,
                        .gender-input,
                        .gender-input-disabled,
                        .dob-input,
                        .email-input,
                        .current-password-input,
                        .new-password-input,
                        .confirm-new-password-input {
                            height: 32px;
                            margin: 0px 0px 5px 0px;
                            border-top: 2px solid #000000;
                            border-bottom: 2px solid #FABB00;
                            border-right: 2px solid #000000;
                            border-left: 2px solid #FABB00;
                            width: 260px;
                            font-size: 12px;
                        }

                        .gender-input-disabled,
                        .current-password-input,
                        .new-password-input,
                        .confirm-new-password-input {
                            height: 32px;
                            margin: 0px 0px 5px 0px;
                            width: 260px;
                            font-size: 12px;
                        }

                        .form-pipe-span {
                            display: none;
                            width: 20px;
                        }

                        .disable-firstname-editing,
                        .enable-firstname-editing,
                        .disable-lastname-editing,
                        .enable-lastname-editing,
                        .disable-gender-editing,
                        .enable-gender-editing,
                        .disable-dob-editing,
                        .enable-dob-editing,
                        .disable-email-editing,
                        .enable-email-editing {
                            display: block;
                            width: 260px;
                            height: 32px;
                            margin-bottom: 10px;
                            justify-content: start;
                            font-size: 14px;
                        }
                    }
                }

                .form-processing-btn {
                    width: 280px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 0px auto 10px;

                    .submit-container,
                    .cancel-container {
                        width: 260px;

                        .cancel-submit,
                        .submit-btn {
                            width: 260px;
                        }
                    }

                    .cancel-container {
                        margin: 50px 10px 10px;
                    }

                    .submit-container {
                        margin: 10px 10px 20px;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 426px) and (max-width: 600.9px) {
    .account-info {
        padding: 80px 0px 80px;

        .account-info-content {
            width: 350px;

            .heading-one {
                width: 300px;
            }

            .account-info-form {
                width: 300px;

                // parent parent input container {
                div {
                    width: 300px;

                    .update-firstname,
                    .update-lastname,
                    .update-gender,
                    .update-dob,
                    .update-email,
                    .current-password,
                    .new-password,
                    .confirm-new-password {
                        width: 100px;
                        font-size: 14px;
                    }

                    //parent input container
                    div {
                        width: 300px;
                        margin-bottom: 10px;

                        //dhildren
                        .firstname-input,
                        .lastname-input,
                        .gender-input,
                        .gender-input-disabled,
                        .dob-input,
                        .email-input {
                            width: 160px;
                            height: 32px;
                            font-size: 12px;
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-firstname-editing,
                        .enable-firstname-editing,
                        .disable-lastname-editing,
                        .enable-lastname-editing,
                        .disable-gender-editing,
                        .enable-gender-editing,
                        .disable-dob-editing,
                        .enable-dob-editing,
                        .disable-email-editing,
                        .enable-email-editing {
                            height: 32px;
                            width: 100px;
                            font-size: 14px;
                        }

                        .current-password-input,
                        .new-password-input,
                        .confirm-new-password-input {
                            width: 300px;
                            height: 32px;
                            font-size: 12px;
                        }
                    }
                }

                .form-processing-btn {
                    width: 300px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 0px auto 10px;

                    .submit-container,
                    .cancel-container {
                        width: 300px;

                        .cancel-submit,
                        .submit-btn {
                            width: 300px;
                        }
                    }

                    .cancel-container {
                        margin: 50px 10px 10px;
                    }

                    .submit-container {
                        margin: 10px 10px 20px;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 601px) {
    .account-info {
        padding: 80px 0px;

        .account-info-content {
            width: 540px;
            // height: 480px;

            .heading-one {
                width: 300px;
            }

            .account-info-form {
                width: 510px;

                // .firstname-container {
                div {
                    width: 510px;

                    .update-firstname,
                    .update-lastname,
                    .update-gender,
                    .update-dob,
                    .update-email,
                    .current-password,
                    .new-password,
                    .confirm-new-password {
                        width: 200px;
                        font-size: 14px;
                    }

                    // .data-control-container {
                    div {
                        width: 510px;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0px auto 20px;

                        // .firstname-input { and the rest
                        .firstname-input,
                        .lastname-input,
                        .gender-input,
                        .gender-input-disabled,
                        .dob-input,
                        .email-input {
                            width: 350px;
                            height: 32px;
                            font-size: 12px;
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-firstname-editing,
                        .enable-firstname-editing,
                        .disable-lastname-editing,
                        .enable-lastname-editing,
                        .disable-gender-editing,
                        .enable-gender-editing,
                        .disable-dob-editing,
                        .enable-dob-editing,
                        .disable-email-editing,
                        .enable-email-editing {
                            height: 32px;
                            width: 100px;
                            font-size: 14px;
                        }

                        .current-password-input,
                        .new-password-input,
                        .confirm-new-password-input {
                            width: 510px;
                            height: 32px;
                        }
                    }
                }

                .form-processing-btn {
                    width: 510px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .submit-container,
                    .cancel-container {
                        width: 200px;

                        .cancel-submit,
                        .submit-btn {
                            width: 200px;
                        }
                    }

                    .submit-container,
                    .cancel-container {
                        margin: 30px 10px 20px;
                    }
                }
            }
        }
    }
}

// @media screen and (min-width:769px) {
//     .account-info {
//         .account-info-content {
//             width: 500px);

//             .heading-one {
//                 width: 300px);
//             }

//             .account-info-form {
//                 width: 500px);

//                 .firstname-container {
//                     width: 400px);

//                     .update-firstname {
//                         width: 100px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .firstname-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-firstname-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-firstname-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .lastname-container {
//                     width: 400px);

//                     .update-lastname {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .lastname-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }

//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-lastname-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-lastname-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }

//                 }

//                 .gender-container {
//                     width: 400px);

//                     .update-gender {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .gender-input {
//                             width: 168px);
//                             @include style.height(23px);
//                         }

//                         .gender-input-disabled {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-gender-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-gender-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .dob-container {
//                     width: 400px);

//                     .update-dob {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .dob-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-dob-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-dob-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .email-container {
//                     width: 400px);

//                     .update-email {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .email-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-email-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-email-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .current-password-container {
//                     width: 400px);

//                     .current-password {
//                         width: 100px);
//                     }

//                     .current-password-input {
//                         width: 200px);
//                         @include style.height(17px);

//                     }
//                 }

//                 .new-password-container {
//                     width: 400px);

//                     .new-password {
//                         width: 100px);
//                     }

//                     .new-password-input {
//                         width: 200px);
//                         @include style.height(17px);
//                     }
//                 }

//                 .confirm-new-password-container {
//                     width: 400px);

//                     .confirm-new-password {
//                         width: 100px);
//                     }

//                     .confirm-new-password-input {
//                         width: 200px);
//                         @include style.height(17px);
//                     }
//                 }
//             }
//         }
//     }
// }