@use '../../../../styles/index' as style;

@media screen and (min-width:300px) and (max-width:425.9px) {
    .account-info {
        .account-info-content {
            height: auto;
            width: 280px;

            .heading-one {
                width: 280px;
            }

            .account-info-form {
                width: 280px;

                .firstname-container {
                    width: 280px;

                    .update-firstname {
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        width: 100px;
                        @include style.justify-content(left);
                    }

                    .data-control-container {
                        width: 280px;
                        justify-content: start;

                        .firstname-input {
                            margin: 5px 0px;
                            width: 260px;
                            @include style.height(13px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            display: none;
                            width: 20px;
                        }

                        .disable-firstname-editing,
                        .enable-firstname-editing {
                            margin: 0px;
                            display: block;
                            @include style.height(23px);
                            width: 264px;
                            justify-content: start;

                        }
                    }
                }

                .lastname-container {
                    width: 280px;

                    .update-lastname {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        @include style.justify-content(left);
                    }

                    .data-control-container {
                        width: 280px;
                        justify-content: start;


                        .lastname-input {
                            margin: 5px 0px;
                            width: 260px;
                            @include style.height(13px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            display: none;
                            width: 20px;
                        }

                        .disable-lastname-editing,
                        .enable-lastname-editing {
                            margin: 0px;
                            display: block;
                            @include style.height(23px);
                            width: 264px;
                            justify-content: start;

                        }
                    }
                }

                .gender-container {
                    width: 280px;

                    .update-gender {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        justify-content: start;
                    }

                    .data-control-container {
                        width: 280px;
                        justify-content: start;

                        .gender-input {
                            margin: 5px 0px;
                            width: 260px;
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .gender-input-disabled {
                            margin: 5px 0px;
                            width: 260px;
                            @include style.height(17px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            display: none;
                            width: 20px;
                        }

                        .disable-gender-editing,
                        .enable-gender-editing {
                            margin: 0px;
                            display: block;
                            @include style.height(23px);
                            width: 264px;
                            justify-content: start;

                        }
                    }
                }

                .dob-container {
                    width: 280px;

                    .update-dob {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        @include style.justify-content(left);
                    }

                    .data-control-container {
                        width: 280px;
                        justify-content: start;

                        .dob-input {
                            margin: 5px 0px;
                            width: 260px;
                            @include style.height(13px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            display: none;
                            width: 20px;
                        }

                        .disable-dob-editing,
                        .enable-dob-editing {
                            margin: 0px;
                            display: block;
                            @include style.height(23px);
                            width: 264px;
                            justify-content: start;

                        }
                    }
                }

                .email-container {
                    width: 280px;

                    .update-email {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        @include style.justify-content(left);
                    }

                    .data-control-container {
                        width: 280px;
                        justify-content: start;

                        .email-input {
                            margin: 5px 0px;
                            width: 260px;
                            @include style.height(13px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            display: none;
                            width: 20px;
                        }

                        .disable-email-editing,
                        .enable-email-editing {
                            margin: 0px;
                            display: block;
                            @include style.height(23px);
                            width: 264px;
                            justify-content: start;

                        }
                    }
                }

                .current-password-container {
                    width: 280px;

                    .current-password {
                        width: 260px;
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        @include style.justify-content(left);
                    }

                    .current-password-input {
                        width: 260px;
                        @include style.height(17px);
                        @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                        @include style.border-top(style.$space-2, solid, #000000);
                        @include style.border-bottom(style.$space-2, solid, #FABB00);
                        @include style.border-right(style.$space-2, solid, #000000);
                        @include style.border-left(style.$space-2, solid, #FABB00);
                    }
                }

                .new-password-container {
                    width: 280px;

                    .new-password {
                        width: 260px;
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        @include style.justify-content(left);
                    }

                    .new-password-input {
                        @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                        @include style.border-top(style.$space-2, solid, #000000);
                        @include style.border-bottom(style.$space-2, solid, #FABB00);
                        @include style.border-right(style.$space-2, solid, #000000);
                        @include style.border-left(style.$space-2, solid, #FABB00);
                        width: 260px;
                        @include style.height(17px);
                    }
                }

                .confirm-new-password-container {
                    width: 280px;

                    .confirm-new-password {
                        width: 260px;
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        @include style.justify-content(left);
                    }

                    .confirm-new-password-input {
                        width: 260px;
                        @include style.height(17px);
                        @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                        @include style.border-top(style.$space-2, solid, #000000);
                        @include style.border-bottom(style.$space-2, solid, #FABB00);
                        @include style.border-right(style.$space-2, solid, #000000);
                        @include style.border-left(style.$space-2, solid, #FABB00);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .account-info {
        .account-info-content {
            width: 350px;
            height: auto;

            .heading-one {
                width: 300px;
            }

            .account-info-form {
                width: 300px;

                .firstname-container {
                    width: 300px;

                    .update-firstname {
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                        width: 100px;
                    }

                    .data-control-container {
                        width: 300px;

                        .firstname-input {
                            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                            width: 160px;
                            @include style.height(13px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-firstname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-firstname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .lastname-container {
                    width: 300px;

                    .update-lastname {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                    }

                    .data-control-container {
                        width: 300px;

                        .lastname-input {
                            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                            width: 160px;
                            @include style.height(13px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-lastname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-lastname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .gender-container {
                    width: 300px;

                    .update-gender {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                    }

                    .data-control-container {
                        width: 300px;

                        .gender-input {
                            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                            width: 167px;
                            @include style.height(23px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .gender-input-disabled {
                            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                            width: 160px;
                            @include style.height(13px);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-gender-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-gender-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .dob-container {
                    width: 300px;

                    .update-dob {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                    }

                    .data-control-container {
                        width: 300px;

                        .dob-input {
                            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                            width: 160px;
                            @include style.height(13px);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-dob-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-dob-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .email-container {
                    width: 300px;

                    .update-email {
                        width: 100px;
                        @include style.height(23px);
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                    }

                    .data-control-container {
                        width: 300px;

                        .email-input {
                            width: 160px;
                            @include style.height(13px);
                            @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                            @include style.border-top(style.$space-2, solid, #000000);
                            @include style.border-bottom(style.$space-2, solid, #FABB00);
                            @include style.border-right(style.$space-2, solid, #000000);
                            @include style.border-left(style.$space-2, solid, #FABB00);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-email-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-email-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .current-password-container {
                    width: 300px;

                    .current-password {
                        width: 300px;
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                    }

                    .current-password-input {
                        width: 300px;
                        @include style.height(17px);
                        @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                        @include style.border-top(style.$space-2, solid, #000000);
                        @include style.border-bottom(style.$space-2, solid, #FABB00);
                        @include style.border-right(style.$space-2, solid, #000000);
                        @include style.border-left(style.$space-2, solid, #FABB00);
                    }
                }

                .new-password-container {
                    width: 300px;

                    .new-password {
                        width: 300px;
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                    }

                    .new-password-input {
                        @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                        @include style.border-top(style.$space-2, solid, #000000);
                        @include style.border-bottom(style.$space-2, solid, #FABB00);
                        @include style.border-right(style.$space-2, solid, #000000);
                        @include style.border-left(style.$space-2, solid, #FABB00);

                        width: 300px;
                        @include style.height(17px);
                    }
                }

                .confirm-new-password-container {
                    width: 300px;

                    .confirm-new-password {
                        width: 300px;
                        @include style.margin-x-y(style.$space-0, style.$space-0, style.$space-0, style.$space-0);
                    }

                    .confirm-new-password-input {
                        width: 300px;
                        @include style.height(17px);
                        @include style.margin-x-y(style.$space-5, style.$space-0, style.$space-5, style.$space-1);
                        @include style.border-top(style.$space-2, solid, #000000);
                        @include style.border-bottom(style.$space-2, solid, #FABB00);
                        @include style.border-right(style.$space-2, solid, #000000);
                        @include style.border-left(style.$space-2, solid, #FABB00);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:601px) {
    .account-info {
        .account-info-content {
            width: 540px;
            height: 480px;

            .heading-one {
                width: 300px;
            }

            .account-info-form {
                width: 510px;

                .firstname-container {
                    width: 510px;

                    .update-firstname {
                        width: 200px;
                    }

                    .data-control-container {
                        width: 300px;

                        .firstname-input {
                            width: 170px;
                            @include style.height(13px);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-firstname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-firstname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .lastname-container {
                    width: 510px;

                    .update-lastname {
                        width: 200px;
                        @include style.height(23px);
                    }

                    .data-control-container {
                        width: 300px;

                        .lastname-input {
                            width: 170px;
                            @include style.height(13px);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-lastname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-lastname-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .gender-container {
                    width: 510px;

                    .update-gender {
                        width: 200px;
                        @include style.height(23px);
                    }

                    .data-control-container {
                        width: 300px;

                        .gender-input {
                            width: 170px;
                            @include style.height(23px);
                        }

                        .gender-input-disabled {
                            width: 170px;
                            @include style.height(13px);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-gender-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-gender-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .dob-container {
                    width: 510px;

                    .update-dob {
                        width: 200px;
                        @include style.height(23px);
                    }

                    .data-control-container {
                        width: 300px;

                        .dob-input {
                            width: 170px;
                            @include style.height(13px);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-dob-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-dob-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .email-container {
                    width: 510px;

                    .update-email {
                        width: 200px;
                        @include style.height(23px);
                    }

                    .data-control-container {
                        width: 300px;

                        .email-input {
                            width: 170px;
                            @include style.height(13px);
                        }

                        .form-pipe-span {
                            width: 20px;
                        }

                        .disable-email-editing {
                            @include style.height(23px);
                            width: 100px;
                        }

                        .enable-email-editing {
                            @include style.height(23px);
                            width: 100px;
                        }
                    }
                }

                .current-password-container {
                    width: 510px;

                    .current-password {
                        width: 200px;
                    }

                    .data-control-container {
                        width: 300px;

                        .current-password-input {
                            width: 300px;
                            @include style.height(17px);
                        }
                    }
                }

                .new-password-container {
                    width: 510px;

                    .new-password {
                        width: 200px;
                    }

                    .data-control-container {
                        width: 300px;

                        .new-password-input {
                            width: 300px;
                            @include style.height(17px);
                        }
                    }
                }

                .confirm-new-password-container {
                    width: 510px;

                    .confirm-new-password {
                        width: 200px;
                    }

                    .data-control-container {
                        width: 300px;

                        .confirm-new-password-input {
                            width: 300px;
                            @include style.height(17px);
                        }
                    }
                }
            }
        }
    }
}

// @media screen and (min-width:769px) {
//     .account-info {
//         .account-info-content {
//             width: 500px);

//             .heading-one {
//                 width: 300px);
//             }

//             .account-info-form {
//                 width: 500px);

//                 .firstname-container {
//                     width: 400px);

//                     .update-firstname {
//                         width: 100px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .firstname-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-firstname-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-firstname-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .lastname-container {
//                     width: 400px);

//                     .update-lastname {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .lastname-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }

//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-lastname-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-lastname-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }

//                 }

//                 .gender-container {
//                     width: 400px);

//                     .update-gender {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .gender-input {
//                             width: 168px);
//                             @include style.height(23px);
//                         }

//                         .gender-input-disabled {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-gender-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-gender-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .dob-container {
//                     width: 400px);

//                     .update-dob {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .dob-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-dob-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-dob-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .email-container {
//                     width: 400px);

//                     .update-email {
//                         width: 100px);
//                         @include style.height(23px);
//                     }

//                     .data-control-container {
//                         width: 300px);

//                         .email-input {
//                             width: 160px);
//                             @include style.height(13px);
//                         }


//                         .form-pipe-span {
//                             width: 20px);
//                         }

//                         .disable-email-editing {
//                             @include style.height(23px);
//                             width: 100px);
//                         }

//                         .enable-email-editing {
//                             @include style.height(23px);
//                             width: 100px);

//                         }
//                     }
//                 }

//                 .current-password-container {
//                     width: 400px);

//                     .current-password {
//                         width: 100px);
//                     }

//                     .current-password-input {
//                         width: 200px);
//                         @include style.height(17px);

//                     }
//                 }

//                 .new-password-container {
//                     width: 400px);

//                     .new-password {
//                         width: 100px);
//                     }

//                     .new-password-input {
//                         width: 200px);
//                         @include style.height(17px);
//                     }
//                 }

//                 .confirm-new-password-container {
//                     width: 400px);

//                     .confirm-new-password {
//                         width: 100px);
//                     }

//                     .confirm-new-password-input {
//                         width: 200px);
//                         @include style.height(17px);
//                     }
//                 }
//             }
//         }
//     }
// }