// @import 'tailwindcss';

.account-info {
    position: relative;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .account-info-content {
        // there is a div right after the below style meant to be left unstyled which helps to keep the content centered
        display: block;
        margin: 0px auto;
        background-color: rgba(0, 0, 0, 0.6);
        border: 1px solid #FABB00;
        border-radius: 10px;
        // padding: 3px 15px 3px 15px;

        box-shadow:
            0px 4px 4px 0px rgba(0, 0, 0, 0.25),
            0px 0px 8px 3px rgba(250, 187, 0, 0.25);

        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // align-items: flex-start;

        .nav-link {
            color: #fff;
            font-size: 18px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 14px;
            margin-bottom: 14px;
            justify-content: center;
            cursor: pointer;

            .nav-image {
                margin-right: 10px;
            }
        }

        .heading-one {
            color: #fff;
            text-align: center;
            font-size: 24px;
            margin: 0px auto 0px auto;
        }

        .account-info-form {
            display: block;
            margin: 60px auto 0px auto;

            div {

                .update-firstname,
                .update-lastname,
                .update-gender,
                .update-dob,
                .update-email,
                .current-password,
                .new-password,
                .confirm-new-password {
                    color: #fff;
                }

                div {
                    // display: flex;
                    // flex-wrap: wrap-reverse;
                    // align-items: center;

                    .firstname-input,
                    .lastname-input,
                    .gender-input,
                    .gender-input-disabled,
                    .dob-input,
                    .email-input {
                        background-color: rgba(0, 0, 0, 0.65);
                        color: #ffffff;
                        border: none;
                        border-radius: 4px;
                        border-left: 1px solid #FABB00;
                        border-bottom: 1px solid #FABB00;
                        padding: 4px 0 4px 2px;
                    }

                    .firstname-input:focus,
                    .lastname-input:focus,
                    .gender-input:focus,
                    .dob-input:focus,
                    .email-input:focus {
                        outline: 2px solid transparent;
                    }

                    .firstname-input::placeholder,
                    .lastname-input::placeholder,
                    .gender-input::placeholder,
                    .dob-input::placeholder,
                    .email-input::placeholder {
                        margin: 0 auto;
                        color: #ffffff;
                        padding: 3px 0 3px 0;
                    }

                    .form-pipe-span {
                        width: 20px;
                        color: #fff;
                        margin: auto;
                        text-align: center;
                    }

                    .disable-firstname-editing,
                    .enable-firstname-editing,
                    .disable-lastname-editing,
                    .enable-lastname-editing,
                    .disable-gender-editing,
                    .enable-gender-editing,
                    .disable-dob-editing,
                    .enable-dob-editing,
                    .disable-email-editing,
                    .enable-email-editing {
                        background-color: rgba(0, 0, 0, 0.65);
                        color: #ffffff;
                        border: none;
                        border-radius: 4px;
                        text-decoration: underline;
                        cursor: pointer;
                        border-top: 1px solid #FABB00;
                        border-right: 1px solid #FABB00;
                        padding: 4px 0 4px 2px;
                    }

                    .current-password-input,
                    .new-password-input,
                    .confirm-new-password-input {
                        display: block;
                        padding: 4px 0 4px 2px;
                        margin: 0 2px 0 0;
                        background-color: rgba(0, 0, 0, 0.65);
                        color: #ffffff;
                        border: none;
                        border-radius: 4px;
                        border-bottom: 1px solid #FABB00;
                    }

                    .current-password-input::placeholder,
                    .new-password-input::placeholder,
                    .confirm-new-password-input::placeholder {
                        display: block;
                        margin: 0px 2px;
                        padding: 3px 0 3px 1px;
                        color: #ffffff;
                    }

                    .current-password-input:focus,
                    .new-password-input:focus,
                    .confirm-new-password-input:focus {
                        outline: 2px solid transparent;
                    }
                }

            }

            .form-processing-btn {

                .submit-container,
                .cancel-container {
                    display: block;

                    .cancel-submit,
                    .submit-btn {
                        border-radius: 6px;
                        padding: 10px 25px;
                        cursor: pointer;
                        background-color: #111111;

                    }

                    .cancel-submit {
                        color: #FABB00;
                        border: 1px solid #FABB00;
                    }

                    .submit-btn {
                        color: #FA00BB;
                        border: 1px solid #FA00BB;
                    }
                }

            }

        }

    }
}