$space-0: 0px;
$space-1: 1px;
$space-2: 2px;
$space-3: 3px;
$space-4: 4px;
$space-5: 5px;
$space-6: 6px;
$space-7: 7px;
$space-8: 8px;
$space-9: 9px;
$space-10: 10px;
$space-15: 15px;
$space-20: 20px;
$space-22: 22px;
$space-27: 27px;
$space-30: 30px;
$space-35: 35px;
$space-40: 40px;
$space-50: 50px;
$space-60: 60px;
$space-70: 70px;
$space-80: 80px;
$space-100: 100px;
$space-120: 120px;
$space-150: 150px;
$space-180: 180px;
$space-200: 200px;
$space-230: 230px;
$space-250: 250px;
$space-280: 280px;
$space-300: 300px;
$space-330: 330px;
$space-350: 350px;
$space-400: 400px;
$space-450: 450px;
$space-500: 500px;
$space-550: 550px;
$space-600: 600px;
$space-650: 650px;
$space-700: 700px;
$space-750: 750px;
$space-800: 800px;
$space-850: 850px;
$space-900: 900px;
$space-950: 950px;
$space-1000: 1000px;
$auto: auto;

$darkAsdhBlack: rgb(12, 12, 12, 1);
$Gold: rgba(250, 186, 0, 0.7);