@use '@/app/styles/index' as style;

.workspace-deletion-interface {
    @include style.position(absolute);
    @include style.top(0px);
    @include style.bottom(0px);
    @include style.left(0px);
    @include style.right(0px);
    @include style.height(180px);
    @include style.margin-x-y(style.$auto, style.$auto, style.$auto, style.$auto);
    @include style.background-color(#000);
    @include style.border-radius(10px);
    @include style.border(style.$space-2, solid, #ccc);
    z-index: 5;

    .text-deletion-warning {
        @include style.display-align(flex);
        @include style.justify-content(center);
        @include style.align-items(center);
        @include style.text-color(#fff);
        @include style.margin-x-y(style.$space-20, style.$auto, style.$space-20, style.$auto);
        @include style.align-text(center);
    }

    .workspace-caution-ops {
        @include style.display-align(flex);
        @include style.justify-content(center);
        @include style.align-items(center);

        .delete-workspace-btn-wrapper,
        .cancel-workspace-btn-wrapper {
            @include style.display-align(flex);
            @include style.justify-content(center);
            @include style.align-items(center);
            @include style.margin-x-y(style.$space-0, style.$auto, style.$space-0, style.$auto);
            @include style.height(40px);

            .cancel-workspace-btn {
                @include style.background-color(#090);
                font-weight: 600;
                @include style.border(2px, solid, #000);
                @include style.padding-x-y(style.$space-4, style.$space-10, style.$space-4, style.$space-10);
                @include style.text-color(#fff);
                cursor: pointer;
            }

            .delete-workspace-btn {
                @include style.background-color(#900);
                font-weight: 600;
                @include style.border(2px, solid, #000);
                @include style.padding-x-y(style.$space-4, style.$space-10, style.$space-4, style.$space-10);
                @include style.text-color(#fff);
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width:320px) {
    .workspace-deletion-interface {
        @include style.width(300px);

        .text-deletion-warning {
            @include style.width(250px);

        }

        .workspace-caution-ops {
            @include style.width(300px);

            .cancel-workspace-btn-wrapper {
                @include style.width(80px);
            }

            .delete-workspace-btn-wrapper {
                @include style.width(80px);
            }
        }
    }
}