@import "./data-management//workspace//[workspaceid]/[workspacename]/mixins";
@import "./data-management//workspace//[workspaceid]/[workspacename]/variables";

.account-dashboard {
    @include background-color(#222);
    @include height(100%);
    @include display-align(block);
    @include position(relative);

    .account-dashboard-content {
        @include margin-x-y($_0, $auto , $_0, $auto );

        .heading-one {
            @include margin-x-y($_0, $auto , $_0, $auto );
            @include padding-x-y($_50, $_0 , $_50, $_0 );
            @include align-text(center);
            @include text-color(#fff);
        }

        .dashboard-link-component {
            @include margin-x-y($_10, $auto , $_10, $auto );
            @include padding-x-y($_5, $_5 , $_5, $_5 );
            @include align-text(center);
            @include text-color(#fff);
            @include border-radius($_10);
            @include border($_2, solid, #333);


            .auth-link-component-built-in-app {
                @include border-radius($_6);
                @include background-color(#444);
                @include display-align(block);
                @include margin-x-y($_0, $auto , $_0, $auto );
                @include padding-x-y($_10, $_0 , $_10, $_0 );
                @include align-text(center);
                @include text-color(#fff);

            }
        }
    }

    .dashboard-footer {
        @include margin-x-y($_0, $auto, $_0 , $auto );
        @include display-align(block);
        @include position(absolute);
        @include bottom($_0);
        @include right($_0);
        @include left($_0);
        @include background-color(#222);

        .project-creator {
            @include margin-x-y($_0, $auto, $_0 , $auto );

            .creator {
                @include align-text(center);
                @include text-color(#fff);
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:425.9px) {
    .account-dashboard {
        .account-dashboard-content {
            @include width(300px);

            .heading-one {
                @include width(200px);

            }

            .dashboard-link-component {
                @include width(200px);
            }
        }

        .dashboard-footer {
            @include width(300px);

            .project-creator {
                @include width(250px);
            }
        }
    }
}

@media screen and (min-width:426px) and (max-width:600.9px) {
    .account-dashboard {
        .account-dashboard-content {
            @include width(400px);

            .heading-one {
                @include width(300px);
            }

            .dashboard-link-component {
                @include width(300px);
            }
        }

        .dashboard-footer {
            @include width(400px);

            .project-creator {
                @include width(300px);
            }
        }
    }
}

@media screen and (min-width:601px) and (max-width:768.9px) {
    .account-dashboard {
        .account-dashboard-content {
            @include width(500px);

            .heading-one {
                @include width(400px);
            }

            .dashboard-link-component {
                @include width(400px);
            }
        }

        .dashboard-footer {
            @include width(500px);

            .project-creator {
                @include width(400px);
            }
        }
    }
}

@media screen and (min-width:769px) {
    .account-dashboard {
        .account-dashboard-content {
            @include width(500px);

            .heading-one {
                @include width(400px);
            }

            .dashboard-link-component {
                @include width(400px);
            }
        }

        .dashboard-footer {
            @include width(500px);

            .project-creator {
                @include width(400px);
            }
        }
    }
}